<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Sharepoint" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Application>
      <setting name="UploadFrequency" serializeAs="String">
        <value>300000</value>
      </setting>
      <setting name="QueuePath" serializeAs="String">
        <value>Data\Transaction Queue</value>
      </setting>
    </Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Application>
    <Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Sharepoint>
      <setting name="ServerAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="ListTitle" serializeAs="String">
        <value>L8 Specimen Tracking</value>
      </setting>
    </Edocs.Clients.NYP.L8SpecimenBatchUploader.Settings.Sharepoint>
  </applicationSettings>
</configuration>
