
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuireSqlCmds.dll
bin/Debug/ScanQuireSqlCmds.dll.config
bin/Debug/ScanQuireSqlCmds.pdb
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.App.config
obj/x86/Debug/ScanQuireSqlCmds.csproj.AssemblyReference.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.CoreCompileInputs.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/ScanQuireSqlCmds.pdb
obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Release/ScanQuireSqlCmds.csproj.AssemblyReference.cache
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuireSqlCmds.dll
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/ScanQuireSqlCmds.dll
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.CoreCompileInputs.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuireSqlCmds.dll
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuireSqlCmds.dll
bin/Debug/Tesseract.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.CoreCompileInputs.cache
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuireSqlCmds.dll
obj/x86/Debug/ScanQuireSqlCmds.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuireSqlCmds.dll
