USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddEditAlanoClubPrices]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spAddEditAlanoClubPrices]
 @ProductName nvarchar(50),
 @MemberPrice money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@MemberPrice
           ,@NonMemberPrice
          ,GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubInventory]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubOtherInventory]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spAddEditDeleteAlconCLubOtherInventory]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubOtherProcucts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM AlanoClubOtherProcucts WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubOtherProcucts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubOtherProcucts]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price);
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconProducts]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spAddEditDeleteAlconProducts]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price money,
	@Delete bit,
	@BarItem bit
	,@ItemsPerCase int
	,@InventoryItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubProducts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubProducts] WHERE ID=@ID)
	begin
	if(@Price != 0)
	begin
	declare @newPrice  money;
	set @newPrice = (SELECT [Price] FROM [AlanoClubProducts] WHERE ID=@ID);
	if(@newPrice > @Price)
	begin
	set @Price = @newPrice;
	end
	if(@ItemsPerCase = 0)
	begin
	set @ItemsPerCase = (SELECT [ItemsPerCase] FROM [AlanoClubProducts] WHERE ID=@ID);
	end
	end

		UPDATE [dbo].[AlanoClubProducts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = [Quantity]+ @Quantity
			,[Price] = @Price
			,[ItemsPerCase] = @ItemsPerCase
			,[InventoryItem] = @InventoryItem
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubProducts]
           ([CategoryID]
           ,[ProductName]
		   ,[BarItem]
		   ,[ItemsPerCase]
           ,[Quantity]
		   ,[InventoryItem]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
		   ,@BarItem
		   ,@ItemsPerCase
           ,@Quantity
		   ,@InventoryItem
           ,@Price);
		   end
		   
		   
		   exec [dbo].[spAddEditAlanoClubPrices] @ProductName,0.00,0.00,@Delete;
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteCatagories]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spAddEditDeleteCatagories]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryName nvarchar(50),
	@Delete bit,
	@BarItem bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@Delete = 1)
	begin
		delete from AlanoClubCategories WHERE ID=@ID;
	end
	else IF EXISTS (SELECT 1 FROM AlanoClubCategories WHERE ID=@ID)
		BEGIN
		update AlanoClubCategories
		set CategoryName=@CategoryName
		,BarItem=@BarItem
		
		where ID=@ID;
		END
ELSE
BEGIN
    INSERT INTO [dbo].[AlanoClubCategories]
           ([CategoryName],[BarItem])
     VALUES
           (@CategoryName,@BarItem);
END

END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubCheckTillDate]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spAlanoClubCheckTillDate]
	-- Add the parameters for the stored procedure here
	@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Count(*)
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where [DateTillReceipt] = @DateTillReceipt
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubCurrentInventory]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  or alter PROCEDURE [dbo].[spAlanoCLubCurrentInventory]
@ID int
,@Quantity int
,@QuanitySold int
,@InventoryCount int
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[AlanoClubCurrentInventory]
           ([ProductID]
           ,[QuanityStock]
           ,[QuanitySold]
           ,[InventoryCount]
           ,[InventoryDate])
     VALUES
           (@ID
           ,@Quantity
           ,@QuanitySold
           ,@InventoryCount
           ,@DateTillReceipt);
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubDailyTapeTill]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE  [dbo].[spAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored procedure here
@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubTillSalesDeposit]
           ([DailyTotalSales]
           ,[TapeTotal]
           ,[Depsoit]
           ,[DateTillReceipt])
     VALUES
           (@DailyTotalSales
           ,@TapeTotal
           ,@Depsoit
           ,@DateTillReceipt);
END
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubInventroyCount]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spALanoClubInventroyCount]
	-- Add the parameters for the stored procedure here
 @ID int	
,@Quantity int
,@InStock  int
,@ItemsSold int
,@InventoryCurrent int
,@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [dbo].[AlanoCLubInventory]
           ([ProductID]
           ,[Quanity]
           ,[InStock]
           ,[ItemsSold]
           ,[InventoryCurrent]
           ,[DateInventory])
     VALUES
           (@ID
           ,@Quantity
           ,@InStock
           ,@ItemsSold
           ,@InventoryCurrent
           ,@Date);

    UPDATE [dbo].[AlanoClubProducts]
   SET 
      
      
      
      [Quantity] = @Quantity
      
 WHERE ID=@ID;
 uPDATE [dbo].[AlanoCLubDailyTillReceipts]
   SET     
      [InventorySales] =1
      
 WHERE [ProductID] = @ID;
 

END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubPrices]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE [dbo].[spAlanoClubPrices]
 @ProductName nvarchar(50),
 @ClubPrice money,
 @ClubNonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@ClubPrice
           ,@ClubNonMemberPrice,
           GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @ClubPrice
      ,[ClubNonMemberPrice] = @ClubNonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubTillPrices]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter procedure [dbo].[spAlanoClubTillPrices]
 @ID int,
 @MemberPrice  money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ID] = @idProd;
end

else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice 
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ID] = @ID;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spDailyTellReceipts]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE [dbo].[spDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
		   ,[DailyProductTotal]
           ,[DateTillReceipt])
     VALUES
           (@ID,
           @MemberITems
           ,@MemberPrice
          , @NonMemberITems
           ,@NonMemberPrice
		   ,@DailyProductTotal
           ,@DateTillReceipt);
 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanClubInventoryYears]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    or alter PROCEDURE [dbo].[spGetAlanClubInventoryYears]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
	set @jsonResult =(select distinct( DATEPART(YEAR, DateTillReceipt)) as ItemsYear
	from [AlanoCLubDailyTillReceipts] 
	order by DATEPART(YEAR, DateTillReceipt)
	for json path);
	select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubCurrentInventory]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  or alter  PROCEDURE [dbo].[spGetAlanoCLubCurrentInventory]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
	-- declare @invDate date;
	-- set @invDate = (SELECT       
		--		Max([DateInventory])
			--	FROM [AlanoClub].[dbo].[AlanoCLubInventory]
				--WHERE [DateInventory] IS not NULL);
--IF @invDate IS NULL
--begin
--set @invDate = GETDATE()
--end
				-- Insert statements for procedure here
set @jsonResult=(SELECT 
  
ap.ID,
ap.ProductName as ProductName
,ap.Quantity as Quantity
 ,ap.Quantity - sum([MemberITems]+[NonMemberITems])   as InStock
	 , sum([MemberITems]+[NonMemberITems]) as ItemsSold
      
      
   FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] ar full outer JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
   where InventoryItem=1 and ar.InventorySales = 0
   --FULL OUTER JOIN [AlanoClub].[dbo].[AlanoClubProducts] pro on ap.ProductName=ap.ProductName
  --FULL OUTER JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
  group by ap.ID,ap.ProductName , ap.Quantity 
  order by ap.ProductName desc
  for json path);
   select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTill]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        or alter  PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTillTotal
           ,format([TapeTotal],'N2') as DailyTillTape
           ,format([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  order by [DateTillReceipt];
   -- for json path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillcast]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     or alter PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillcast]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,CAST([DailyTotalSales] as float) as DailyTotalSales
           ,cast([TapeTotal] as float)as TapeTotal
           ,CAST([Depsoit] as float)  as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillFormat]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE      or alter  PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillFormat]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTotalSales
           ,format([TapeTotal],'N2') as TapeTotal
           ,format([Depsoit],'N2') as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubDailyTillReceiptDate]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetAlanoClubDailyTillReceiptDate]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Max(DateTillReceipt) as DateTillReceipt from AlanoCLubDailyTillReceipts
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubInventoryProfitLoss]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetAlanoClubInventoryProfitLoss]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX);
set @jsonResult =(	SELECT  ap.[ID] as ID
    
      ,[ProductName]  as [ProductName]
      ,[ItemsPerCase] as ItemsPerCase
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,FORMAT(pr.[ClubPrice],'N2') as ClubPrice
	  ,FORMAT(pr.[ClubNonMemberPrice],'N2') as  ClubNonMemberPrice
	   

  FROM [dbo].[AlanoClubProducts] ap inner join [dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  where InventoryItem=1

    -- Insert statements for procedure here
	for json path);
	select  @jsonResult as JsonResults
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubProducts]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE [dbo].[spGetAlanoCLubProducts]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  ap.[ID] as ID
      ,[ProductName] as ProductName
     
	  ,ac.CategoryName as CategoryName
	  ,ap.[BarItem] as BarItem
	   ,format(alp.[ClubPrice],'N2') as ClubPrice
      ,FORMAT(alp.[ClubNonMemberPrice],'N2') as ClubNonMemberPrice
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  inner join [dbo].[AlanoClubPrices] alp on ap.id=alp.ID
   -- where ap.ID != 17
  order by BarItem desc;
      --  FOR JSON path;
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReport]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetAlanoCLubReport]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  --FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportItemsSoldByMonth]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  or alter  PROCEDURE [dbo].[spGetAlanoCLubReportItemsSoldByMonth]
@Year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	,format((rec.[MemberPrice]*rec.[MemberITems]), 'N2') as MemBerPriceTotal
	,FORMAT((rec.[NonMemberPrice]*rec.[NonMemberITems]), 'N2') as NonMemBerPriceTotal
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  --(FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  where DATEPART(YEAR, DateTillReceipt) = @Year  
  order by  DateTillReceipt
 -- FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportnojson]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE [dbo].[spGetAlanoCLubReportnojson]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT   rec.[ID] as ID
      ,[ProductID] as AlanoClubProductID
      ,[MemberITems]  as TotalMemberSold
      ,[MemberPrice] as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,[NonMemberPrice] as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,rec.[DateTillReceipt] as  DateCreated 
	  ,ap.[ProductName] as ProductName
      ,cat.[BarItem] as BarItem
	  ,cat.CategoryName as CategoryName
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
-- (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubTotalsTapeTill]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetAlanoCLubTotalsTapeTill]
@Year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	  DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
set @jsonResult=(	select
	format(sum([DailyTotalSales]),'N2') as DailyTillTotal
    ,format(sum([TapeTotal]),'N2') as DailyTillTape
	,FORMAT(sum([Depsoit]),'N2') as Depsoit
    ,DateTillReceipt as DateCreated      
     from  [dbo].[AlanoCLubTillSalesDeposit]
	 where DATEPART(YEAR, DateTillReceipt) = @Year
	 group by DateTillReceipt
	 order by DateCreated
	  FOR JSON PATH);
	select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategories]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetCategories]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	order by CategoryName
	  FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesBarItems]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    or alter PROCEDURE [dbo].[spGetCategoriesBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=1
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesNotBarItems]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  or alter  PROCEDURE [dbo].[spGetCategoriesNotBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=0
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyTillReceipts]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   or alter PROCEDURE [dbo].[spGetDailyTillReceipts]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=(SELECT
      ap.ID as ID
       ,[ProductName] as ProductName
      ,[BarItem] as BarItem
	  ,[ClubPrice] as ClubPrice
      ,[ClubNonMemberPrice] as ClubNonMemberPrice
      
  FROM [AlanoClub].[dbo].[AlanoClubProducts] ap join  [AlanoClub].[dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  order by BarItem desc
   FOR JSON path);
    select @jsonResult as JsonResults
END
GO
/****** Object:  StoredProcedure [dbo].[spGetDateReoprtLastRan]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  or alter  PROCEDURE [dbo].[spGetDateReoprtLastRan]
	-- Add the parameters for the stored procedure here
@ID int	
,@RepEDate date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@ID = 0)
	begin
	   select  DateReportLasrRan as DateReportLasrRan
		FROM [dbo].[AlanoClubReportLastRan];
	end
	else if (@ID = 1)
	begin
	 
	select MIn([DateTillReceipt]) as MinDate,MAX([DateTillReceipt]) as MaxDate
	from [dbo].[AlanoCLubDailyTillReceipts];
	end
	else
	begin
	if (EXISTS(select 1 from [dbo].[AlanoClubReportLastRan]))
	begin
			uPDATE [dbo].[AlanoClubReportLastRan]
			SET [DateReportLasrRan] = @RepEDate;
		end
 else
 begin
 iNSERT INTO [dbo].[AlanoClubReportLastRan]
           ([DateReportLasrRan])
     VALUES
           (@RepEDate);
	end
	end
END
GO
/****** Object:  StoredProcedure [dbo].[spGetInventory]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE or alter  PROCEDURE [dbo].[spGetInventory]
	-- Add the parameters for the stored procedure here
	 @BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
set @jsonResult=(SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
	  ,ap.ItemsPerCase as ItemsPerCase
	  ,InventoryItem as InventoryItem
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = @BarItem
  order by ProductName
     FOR JSON path);
	 select @jsonResult as JsonResuts
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOtherInventoryProducts]    Script Date: 10/22/2025 11:46:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    or alter PROCEDURE [dbo].[spGetOtherInventoryProducts]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = 0
  order by ProductName
   FOR JSON path;
	 
END
GO
