USE [master]
GO
/****** Object:  Database [AlanoClub]    Script Date: 10/7/2025 12:12:09 PM ******/
CREATE DATABASE [AlanoClub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlanoClub', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlanoClub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlanoClub_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AlanoClub_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlanoClub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlanoClub]
GO
/****** Object:  User [AlanoClub]    Script Date: 10/7/2025 12:12:09 PM ******/
CREATE USER [AlanoClub] FOR LOGIN [AlanoClub] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AlanoClub]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AlanoClub]
GO
/****** Object:  Table [dbo].[AlanoClubCategories]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubCategories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NULL,
 CONSTRAINT [PK_AlanoClubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubOtherProcucts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubOtherProcucts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_AlanoClubOtherProcucts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubPrices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ClubPrice] [money] NOT NULL,
	[ClubNonMemberPrice] [money] NOT NULL,
	[DateAdded] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_AlanoClubProcucts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spAddEditAlanoClubPrices]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditAlanoClubPrices]
 @ProductName nvarchar(50),
 @MemberPrice money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@MemberPrice
           ,@NonMemberPrice
          ,GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubInventory]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteAlconCLubInventory]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubInventory]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubInventory] WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubInventory]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubInventory]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price);
		 
		 
		 execute [dbo].[spAddEditAlanoClubPrices] @ProductName,0.00,0.00
		 
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubOtherInventory]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteAlconCLubOtherInventory]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubOtherProcucts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM AlanoClubOtherProcucts WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubOtherProcucts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubOtherProcucts]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price);
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconProducts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteAlconProducts]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit,
	@BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubProducts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubProducts] WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubInventory]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubProducts]
           ([CategoryID]
           ,[ProductName]
		   ,[BarItem]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
		   ,@BarItem
           ,@Quantity
           ,@Price);
		   end
		   
		   
		   exec [dbo].[spAddEditAlanoClubPrices] @ProductName,0.00,0.00,@Delete;
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteCatagories]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteCatagories]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryName nvarchar(50),
	@Delete bit,
	@BarItem bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@Delete = 1)
	begin
		delete from AlanoClubCategories WHERE ID=@ID;
	end
	else IF EXISTS (SELECT 1 FROM AlanoClubCategories WHERE ID=@ID)
		BEGIN
		update AlanoClubCategories
		set CategoryName=@CategoryName
		,BarItem=@BarItem
		
		where ID=@ID;
		END
ELSE
BEGIN
    INSERT INTO [dbo].[AlanoClubCategories]
           ([CategoryName],[BarItem])
     VALUES
           (@CategoryName,@BarItem);
END

END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubCheckTillDate]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAlanoClubCheckTillDate]
	-- Add the parameters for the stored procedure here
	@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Count(*)
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where [DateTillReceipt] = @DateTillReceipt
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubDailyTapeTill]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE  [dbo].[spAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored procedure here
@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubTillSalesDeposit]
           ([DailyTotalSales]
           ,[TapeTotal]
           ,[Depsoit]
           ,[DateTillReceipt])
     VALUES
           (@DailyTotalSales
           ,@TapeTotal
           ,@Depsoit
           ,@DateTillReceipt);
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubPrices]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubPrices]
 @ProductName nvarchar(50),
 @ClubPrice money,
 @ClubNonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@ClubPrice
           ,@ClubNonMemberPrice,
           GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @ClubPrice
      ,[ClubNonMemberPrice] = @ClubNonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubTillPrices]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  procedure [dbo].[spAlanoClubTillPrices]
 @ID int,
 @MemberPrice  money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ID] = @idProd;
end

else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice 
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ID] = @ID;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spDailyTellReceipts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
		   ,[DailyProductTotal]
           ,[DateTillReceipt])
     VALUES
           (@ID,
           @MemberITems
           ,@MemberPrice
          , @NonMemberITems
           ,@NonMemberPrice
		   ,@DailyProductTotal
           ,@DateTillReceipt);
 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTill]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTillTotal
           ,format([TapeTotal],'N2') as DailyTillTape
           ,format([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  order by [DateTillReceipt]
    for json path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillcast]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE     PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillcast]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,CAST([DailyTotalSales] as float) as DailyTotalSales
           ,cast([TapeTotal] as float)as TapeTotal
           ,CAST([Depsoit] as float)  as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillFormat]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillFormat]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTotalSales
           ,format([TapeTotal],'N2') as TapeTotal
           ,format([Depsoit],'N2') as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubProducts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetAlanoCLubProducts]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  ap.[ID] as ID
      ,[ProductName] as ProductName
     
	  ,ac.CategoryName as CategoryName
	  ,ap.[BarItem] as BarItem
	   ,format(alp.[ClubPrice],'N2') as ClubPrice
      ,FORMAT(alp.[ClubNonMemberPrice],'N2') as ClubNonMemberPrice
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  inner join [dbo].[AlanoClubPrices] alp on ap.id=alp.ID
   -- where ap.ID != 17
  order by ProductName
      --  FOR JSON path;
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReport]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAlanoCLubReport]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  --FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportnojson]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetAlanoCLubReportnojson]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT   rec.[ID] as ID
      ,[ProductID] as AlanoClubProductID
      ,[MemberITems]  as TotalMemberSold
      ,[MemberPrice] as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,[NonMemberPrice] as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,rec.[DateTillReceipt] as  DateCreated 
	  ,ap.[ProductName] as ProductName
      ,cat.[BarItem] as BarItem
	  ,cat.CategoryName as CategoryName
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
-- (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubTotalsTapeTill]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetAlanoCLubTotalsTapeTill]
@Year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select 
	format(sum([DailyTotalSales]),'N2') as DailyTillTotal
    ,format(sum([TapeTotal]),'N2') as DailyTillTape
	,FORMAT(sum([Depsoit]),'N2') as Depsoit
    ,DateTillReceipt as DateCreated      
     from  [dbo].[AlanoCLubTillSalesDeposit]
	 where DATEPART(YEAR, DateTillReceipt) = @Year
	 group by DateTillReceipt
	 order by DateCreated
	  for json path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategories]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetCategories]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	order by CategoryName
	  FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesBarItems]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetCategoriesBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=1
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesNotBarItems]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetCategoriesNotBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=0
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyTillReceipts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetDailyTillReceipts]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
      ap.ID as ID
       ,[ProductName] as ProductName
      ,[BarItem] as BarItem
	  ,[ClubPrice] as ClubPrice
      ,[ClubNonMemberPrice] as ClubNonMemberPrice
      
  FROM [AlanoClub].[dbo].[AlanoClubProducts] ap join  [AlanoClub].[dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  order by [ProductName]
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetDateReoprtLastRan]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetDateReoprtLastRan]
	-- Add the parameters for the stored procedure here
@ID int	
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@ID = 0)
	begin
	   select  DateReportLasrRan as DateReportLasrRan
		FROM [dbo].[AlanoClubReportLastRan];
	end
	else if (@ID = 1)
	begin
	 
	select MIn([DateTillReceipt]) as MinDate,MAX([DateTillReceipt]) as MaxDate
	from [dbo].[AlanoCLubDailyTillReceipts];
	end
	else
	begin
	uPDATE [dbo].[AlanoClubReportLastRan]
   SET [DateReportLasrRan] = GETDATE();
 
	end
END
GO
/****** Object:  StoredProcedure [dbo].[spGetInventory]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetInventory]
	-- Add the parameters for the stored procedure here
	 @BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = @BarItem
  order by ProductName
     FOR JSON path;
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOtherInventoryProducts]    Script Date: 10/7/2025 12:12:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetOtherInventoryProducts]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = 0
  order by ProductName
   FOR JSON path;
	 
END
GO
USE [master]
GO
