
*.cache
.vs/ManualIndexingTemp/v16/.suo
ManualIndexingTemp/App.config
ManualIndexingTemp/bin/Release/EdocsUSA.Utilities.dll
ManualIndexingTemp/bin/Release/EdocsUSA.Utilities.pdb
ManualIndexingTemp/bin/Release/ManualIndexingTemp.exe
ManualIndexingTemp/bin/Release/ManualIndexingTemp.exe.config
ManualIndexingTemp/bin/Release/Scanquire.Public.dll
ManualIndexingTemp/bin/Release/Scanquire.Public.pdb
ManualIndexingTemp/bin/Release/ScanQuire_SendEmails.dll
ManualIndexingTemp/bin/Release/ScanquireLogin.dll
ManualIndexingTemp/bin/Release/ScanQuireSqlCmds.dll
ManualIndexingTemp/bin/x86/Debug/DTK.BarReader.dll
ManualIndexingTemp/bin/x86/Debug/DTK.BarReader.xml
ManualIndexingTemp/bin/x86/Debug/Edocs.HelperUtilities.dll
ManualIndexingTemp/bin/x86/Debug/Edocs.Logger.dll
ManualIndexingTemp/bin/x86/Debug/Edocs.Send.Emails.dll
ManualIndexingTemp/bin/x86/Debug/Edocs.Send.Emails.pdb
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.Misc.InputBox.dll
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.Misc.IWin32WindowWrapper.dll
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.OptixTools.dll
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.Utilities.dll
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.Utilities.dll.config
ManualIndexingTemp/bin/x86/Debug/EdocsUSA.Utilities.pdb
ManualIndexingTemp/bin/x86/Debug/FreeImage.dll
ManualIndexingTemp/bin/x86/Debug/FreeImageNET.dll
ManualIndexingTemp/bin/x86/Debug/ManualIndexingTemp.exe
ManualIndexingTemp/bin/x86/Debug/ManualIndexingTemp.exe.config
ManualIndexingTemp/bin/x86/Debug/ManualIndexingTemp.pdb
ManualIndexingTemp/bin/x86/Debug/Microsoft.SharePoint.Client.dll
ManualIndexingTemp/bin/x86/Debug/Microsoft.SharePoint.Client.Runtime.dll
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.dll
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.dll
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.xml
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.Extensions.dll
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.Extensions.xml
ManualIndexingTemp/bin/x86/Debug/Microsoft.Threading.Tasks.xml
ManualIndexingTemp/bin/x86/Debug/Newtonsoft.Json.dll
ManualIndexingTemp/bin/x86/Debug/Newtonsoft.Json.xml
ManualIndexingTemp/bin/x86/Debug/Polenter.SharpSerializer.dll
ManualIndexingTemp/bin/x86/Debug/Polenter.SharpSerializer.xml
ManualIndexingTemp/bin/x86/Debug/Scanquire.Public.dll
ManualIndexingTemp/bin/x86/Debug/Scanquire.Public.dll.config
ManualIndexingTemp/bin/x86/Debug/Scanquire.Public.pdb
ManualIndexingTemp/bin/x86/Debug/ScanQuire_SendEmails.dll
ManualIndexingTemp/bin/x86/Debug/ScanQuire_SendEmails.dll.config
ManualIndexingTemp/bin/x86/Debug/ScanQuire_SendEmails.pdb
ManualIndexingTemp/bin/x86/Debug/ScanquireLogin.dll
ManualIndexingTemp/bin/x86/Debug/ScanquireLogin.dll.config
ManualIndexingTemp/bin/x86/Debug/ScanquireLogin.pdb
ManualIndexingTemp/bin/x86/Debug/ScanQuireSqlCmds.dll
ManualIndexingTemp/bin/x86/Debug/ScanQuireSqlCmds.dll.config
ManualIndexingTemp/bin/x86/Debug/ScanQuireSqlCmds.pdb
ManualIndexingTemp/bin/x86/Debug/System.IO.dll
ManualIndexingTemp/bin/x86/Debug/System.IO.xml
ManualIndexingTemp/bin/x86/Debug/System.Runtime.dll
ManualIndexingTemp/bin/x86/Debug/System.Runtime.xml
ManualIndexingTemp/bin/x86/Debug/System.Threading.Tasks.dll
ManualIndexingTemp/bin/x86/Debug/System.Threading.Tasks.xml
ManualIndexingTemp/bin/x86/Debug/Tesseract.dll
ManualIndexingTemp/bin_08_17_22/Release/DTK.BarReader.dll
ManualIndexingTemp/bin_08_17_22/Release/DTK.BarReader.xml
ManualIndexingTemp/bin_08_17_22/Release/Edocs.HelperUtilities.dll
ManualIndexingTemp/bin_08_17_22/Release/Edocs.Logger.dll
ManualIndexingTemp/bin_08_17_22/Release/Edocs.Send.Emails.dll
ManualIndexingTemp/bin_08_17_22/Release/Edocs.Send.Emails.pdb
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.Misc.InputBox.dll
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.Misc.IWin32WindowWrapper.dll
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.OptixTools.dll
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.Utilities.dll
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.Utilities.dll.config
ManualIndexingTemp/bin_08_17_22/Release/EdocsUSA.Utilities.pdb
ManualIndexingTemp/bin_08_17_22/Release/FreeImage.dll
ManualIndexingTemp/bin_08_17_22/Release/FreeImageNET.dll
ManualIndexingTemp/bin_08_17_22/Release/ManualIndexingTemp.exe
ManualIndexingTemp/bin_08_17_22/Release/ManualIndexingTemp.exe.config
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.SharePoint.Client.dll
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.SharePoint.Client.Runtime.dll
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.dll
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.Extensions.Desktop.dll
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.Extensions.Desktop.xml
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.Extensions.dll
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.Extensions.xml
ManualIndexingTemp/bin_08_17_22/Release/Microsoft.Threading.Tasks.xml
ManualIndexingTemp/bin_08_17_22/Release/Newtonsoft.Json.dll
ManualIndexingTemp/bin_08_17_22/Release/Newtonsoft.Json.xml
ManualIndexingTemp/bin_08_17_22/Release/Polenter.SharpSerializer.dll
ManualIndexingTemp/bin_08_17_22/Release/Polenter.SharpSerializer.xml
ManualIndexingTemp/bin_08_17_22/Release/Scanquire.Public.dll
ManualIndexingTemp/bin_08_17_22/Release/Scanquire.Public.dll.config
ManualIndexingTemp/bin_08_17_22/Release/Scanquire.Public.pdb
ManualIndexingTemp/bin_08_17_22/Release/ScanQuire_SendEmails.dll
ManualIndexingTemp/bin_08_17_22/Release/ScanQuire_SendEmails.dll.config
ManualIndexingTemp/bin_08_17_22/Release/ScanQuire_SendEmails.pdb
ManualIndexingTemp/bin_08_17_22/Release/ScanquireLogin.dll
ManualIndexingTemp/bin_08_17_22/Release/ScanquireLogin.dll.config
ManualIndexingTemp/bin_08_17_22/Release/ScanquireLogin.pdb
ManualIndexingTemp/bin_08_17_22/Release/ScanQuireSqlCmds.dll
ManualIndexingTemp/bin_08_17_22/Release/ScanQuireSqlCmds.dll.config
ManualIndexingTemp/bin_08_17_22/Release/ScanQuireSqlCmds.pdb
ManualIndexingTemp/bin_08_17_22/Release/System.IO.dll
ManualIndexingTemp/bin_08_17_22/Release/System.IO.xml
ManualIndexingTemp/bin_08_17_22/Release/System.Runtime.dll
ManualIndexingTemp/bin_08_17_22/Release/System.Runtime.xml
ManualIndexingTemp/bin_08_17_22/Release/System.Threading.Tasks.dll
ManualIndexingTemp/bin_08_17_22/Release/System.Threading.Tasks.xml
ManualIndexingTemp/bin_08_17_22/Release/Tesseract.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/DTK.BarReader.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/DTK.BarReader.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Edocs.HelperUtilities.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Edocs.Logger.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Edocs.Send.Emails.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Edocs.Send.Emails.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.Misc.InputBox.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.Misc.IWin32WindowWrapper.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.OptixTools.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.Utilities.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.Utilities.dll.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/EdocsUSA.Utilities.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/FreeImage.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/FreeImageNET.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/ManualIndexingTemp.exe
ManualIndexingTemp/bin_08_17_22/x86/Debug/ManualIndexingTemp.exe.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/ManualIndexingTemp.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.SharePoint.Client.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.SharePoint.Client.Runtime.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.Extensions.Desktop.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.Extensions.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.Extensions.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Microsoft.Threading.Tasks.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Newtonsoft.Json.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Newtonsoft.Json.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Polenter.SharpSerializer.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Polenter.SharpSerializer.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Scanquire.Public.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/Scanquire.Public.dll.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/Scanquire.Public.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuire_SendEmails.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuire_SendEmails.dll.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuire_SendEmails.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanquireLogin.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanquireLogin.dll.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanquireLogin.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuireSqlCmds.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuireSqlCmds.dll.config
ManualIndexingTemp/bin_08_17_22/x86/Debug/ScanQuireSqlCmds.pdb
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.IO.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.IO.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.Runtime.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.Runtime.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.Threading.Tasks.dll
ManualIndexingTemp/bin_08_17_22/x86/Debug/System.Threading.Tasks.xml
ManualIndexingTemp/bin_08_17_22/x86/Debug/Tesseract.dll
ManualIndexingTemp/obj/Debug/.NETFramework,Version=v4.7.AssemblyAttributes.cs
ManualIndexingTemp/obj/Debug/build.force
ManualIndexingTemp/obj/Debug/ManualIndexingTemp.csproj.FileListAbsolute.txt
ManualIndexingTemp/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
ManualIndexingTemp/obj/x86/Release/.NETFramework,Version=v4.7.AssemblyAttributes.cs
ManualIndexingTemp/obj/x86/Release/ManualIndexingTemp.csproj.FileListAbsolute.txt
ManualIndexingTemp/obj/x86/Release/ManualIndexingTemp.exe
ManualIndexingTemp/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
packages/Newtonsoft.Json.13.0.1/.signature.p7s
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.13.0.1/LICENSE.md
packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
packages/Newtonsoft.Json.13.0.1/packageIcon.png
