<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="OCRApiKey" value="OCRP8398898A" />
    <add key="OCRWebApi" value="https://apipro1.ocr.space/parse/image" />
    <add key="OCRISTable" value="true" />
    <add key="ZipFolder" value="True" />



  </appSettings>
</configuration>