<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProcessHL7Files.Settings.Demographics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="ProcessHL7Files.Settings.Email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <!--  <section name="ProcessHL7Files.Email" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <applicationSettings>
    <ProcessHL7Files.Settings.Demographics>
      <setting name="HL7VendorName" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="HL7VendorVersion" serializeAs="String">
        <value>2.5.1</value>
      </setting>
      <setting name="InputDir" serializeAs="String">
        <value>C:\Hl7Files\</value>
      </setting>
      <setting name="OutputDir" serializeAs="String">
        <value>C:\Hl7OutPut\LogsErrorFolder\</value>
      </setting>
      <setting name="CopyDir" serializeAs="String">
        <value>F:\HL7ArchiveFiles\</value>
      </setting>
      <setting name="CopyOriginal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteOriginal" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SqlServer" serializeAs="String">
        <value>edocsSQLServer</value>
      </setting>
      <setting name="SqlDataBase" serializeAs="String">
        <value>HL7</value>
      </setting>
      <setting name="AzureBlobStorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="AzureBlobContanierHl7Archive" serializeAs="String">
        <value>hl7archive</value>
      </setting>
      <setting name="AzureBlobContanierAuditLogs" serializeAs="String">
        <value>auditlogsupload-prod</value>
      </setting>
      <setting name="AzureBlobAccountName" serializeAs="String">
        <value>edocsnypstorageprod</value>
      </setting>
      <setting name="AzureBlobAccountKey" serializeAs="String">
        <value>XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==</value>
      </setting>
      <setting name="ArchiveHl7Azure" serializeAs="String">
        <value>False</value>
      </setting>

      <setting name="DaysToKeepLogFiles" serializeAs="String">
        <value>20</value>
      </setting>
    </ProcessHL7Files.Settings.Demographics>
    <ProcessHL7Files.Settings.Email>
      <setting name="SenderUserName" serializeAs="String">
        <value>AlertSender@edocsusa.com</value>
      </setting>
      <setting name="SenderFrom" serializeAs="String">
        <value>AlertSender@edocsusa.com</value>
      </setting>
      <setting name="EmailOnSuccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailOnError" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ServerAddress" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="SenderPassword" serializeAs="String">
        <value>6746edocs</value>
      </setting>
      <setting name="Recipients" serializeAs="String">
        <value>dan.roper@edocsusa.com</value>
      </setting>
    </ProcessHL7Files.Settings.Email>
    <!--
        <ProcessHL7Files.Email>
            <setting name="ServerAddress" serializeAs="String">
                <value>mail32.webcontrolcenter.com</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SenderUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="Recipients" serializeAs="String">
                <value />
            </setting>
            <setting name="SendOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendOnError" serializeAs="String">
                <value>False</value>
            </setting>
        </ProcessHL7Files.Email>
        -->
  </applicationSettings>
</configuration>
