<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDT.Fix.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MDT.Fix.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MDT.Fix.Database.Properties.Settings>
            <setting name="DbPassWord" serializeAs="String">
                <value>6746edocs@</value>
            </setting>
        </MDT.Fix.Database.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MDT.Fix.Database.Properties.Settings>
            <setting name="SqlSever" serializeAs="String">
                <value>DanCRoper</value>
            </setting>
            <setting name="SqlDataBase" serializeAs="String">
                <value>EdocsITS</value>
            </setting>
            <setting name="DbUserName" serializeAs="String">
                <value>edocsusa</value>
            </setting>
            <setting name="SqlServerTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
        </MDT.Fix.Database.Properties.Settings>
    </applicationSettings>
</configuration>