@page
@model EDocs.Nyp.LabReqs.AppServices.EdocsManuelViewModel
@{
    ViewData["Title"] = "EdocsManuelView";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <h1 class="text-center">LabReqs User Manual</h1>

