<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="DateOfServiceSpan" value="1"/>
    <!--<add key="SqlServerName" value="edocsSQLServer"/> 
    <add key="SqlServerName" value="DanCRoper"/>-->
    <add key="SqlServerName" value="DanCRoper"/>
    <add key="SqlServerLabRecsDbName" value="Lab_Recs_NYP"/>
    <add key="SqlServerDOHTableName" value="DOH"/>
    <add key="SqlServerHl7DbName" value="HL7"/>
    <add key="SqlServerUserName" value="edocsUsa"/>
    <add key="SqlServerUserPw" value="6746edocs@"/>
   <!--<add key="SPMergeLabRecs" value="sp_MergeLabRecs"/>
    <add key="SPUpDateLabRecsHL7" value="sp_UpDateLabRecsHL7"/>-->
    <add key="SPMergeDOHRecs" value="[dbo].[sp_GetDOHRecsByIDToMerge]"/>
    <add key="SPGetDOHHL7Files" value="[dbo].[sp_GetDOHHL7Files]"/>
    <add key="SPUpDateDOHRecsByID" value="[dbo].[sp_UpDateDOHRecsByID]"/>
  
    <add key="ThreadSleepSeconds" value="3"/>
    <add key="NumberTimesToTryUpdateDOH" value="10"/>


    <!--If vale is empty the will use the LogFolder value  -->
    <add key="AuditLogsFolder" value="{ApplicationDir}\MergeDIHRecstLogs"/>
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobContanierAuditShare" value="auditlogsupload-prod"/>
    <add key="AzureBlobAccountName" value="edocsnypstorageprod"/>
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg=="/>

    <add key="DaysToKeepLogFiles" value="30"/>
  </appSettings>
</configuration>
