<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="BinMonitor.Settings.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="BinMonitor.Common.Settings.AdminOverride" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="BinMonitor.Common.Settings.SmartCardReader" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
  <connectionStrings>
    <add name= "AzureStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=edocsusadiag;AccountKey=AfOLPN0fgcq319U0aHWdYnWUkFcKZsmPy5c6C2NGQFIziQNPZRv233sUEao2Opo1usUZYLm3v+ZavN5mN38bUA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <system.diagnostics>
      <trace autoflush="true">
        <listeners>
          <add type="BinMonitor.Common.ArchivingTextWriterTraceListener, BinMonitor.Common" name="TextWriter" traceOutputOptions="Timestamp"/>
        </listeners>
      </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <BinMonitor.Settings.Application>
      <setting name="BatchUploaderPath" serializeAs="String">
        <value>..\Batch Uploader\L8 Specimen Batch Uploader.exe</value>
      </setting>
      <setting name="CheckUploadFrequency" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CheckUploadProblemThreshold" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="CheckNewBinsFrequency" serializeAs="String">
        <value>180000</value>
      </setting>
      <setting name="DaysToKeepArchiveFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CheckForUpDates" serializeAs="String">
        <value>10</value>
      </setting>
    </BinMonitor.Settings.Application>
    <BinMonitor.Common.Settings.AdminOverride>
      <setting name="Password" serializeAs="String">
        <value>A8172E545D68C0FB9D1B355F45A28CFD</value>
      </setting>
    </BinMonitor.Common.Settings.AdminOverride>
    <BinMonitor.Common.Settings.SmartCardReader>
      <setting name="ReaderName" serializeAs="String">
        <value>OMNIKEY CardMan 5x21-CL 0</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PollingFrequency" serializeAs="String">
        <value>500</value>
      </setting>
    </BinMonitor.Common.Settings.SmartCardReader>
  
  </applicationSettings>
</configuration>
