
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
*.cache
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
obj/x86/Debug/EdocsUSA.Utilities.csproj.GenerateResource.cache
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
obj/x86/Debug/EdocsUSA.Utilities.csproj.FileListAbsolute.txt
obj/x86/Debug/EdocsUSA.Utilities.csproj.GenerateResource.cache
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/EdocsUSA.Utilities.csproj.FileListAbsolute.txt
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/x86/Release/Testing.csproj.AssemblyReference.cache
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
obj/x86/Debug/EdocsUSA.Utilities.csproj.FileListAbsolute.txt
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
.vs/EdocsUSA.Utilities/v16/.suo
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/EdocsUSA.Utilities.dll
obj/x86/Debug/EdocsUSA.Utilities.pdb
