
*.dll
*.pdb
*.cache
Scanquire.Clients.NYP/bin/Debug/Edocs.Ocr.Convert.Libaray.Img.PDF.dll
Scanquire.Clients.NYP/bin/Debug/Edocs.Ocr.Convert.Libaray.Img.PDF.pdb
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.pdb
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.dll
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.pdb
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.AssemblyReference.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.CoreCompileInputs.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.FileListAbsolute.txt
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.pdb
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
*.dll
*.pdb
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.FileListAbsolute.txt
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.FileListAbsolute.txt
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Clients.NYP/bin/Debug/Polenter.SharpSerializer.xml
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Clients.NYP/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Clients.NYP/bin/Debug/Polenter.SharpSerializer.xml
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.dll
Scanquire.Clients.NYP/bin/Debug/Scanquire.Public.pdb
Scanquire.Clients.NYP/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Clients.NYP/bin/Debug/ScanquireLogin.dll
Scanquire.Clients.NYP/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.CoreCompileInputs.cache
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.csproj.FileListAbsolute.txt
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire.Clients.NYP/obj/x86/Debug/Scanquire.Clients.NYP.HIPAA.pdb
.vs/Scanquire.Clients.NYP.HIPAA/v16/.suo
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
.vs/Scanquire.Clients.NYP.HIPAA/v16/.suo
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire.Clients.NYP/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
