<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <!--LogFolder
     <add key="HL7ListenerLogsFolder" value="C:\Program Files\HermeTech\UltraPort Listener\Logs"/>
      <add key="HL7TrafficLogsFolder" value="C:\Hl7Files\TrafficLogs"/>
       <add key="HL7ListenerLogsFolder" value="L:\Hl7trafficlogss"/>
    <add key="HL7TrafficLogsFolder" value="L:\Hl7trafficlogs"/>
    <add key="HL7StopListnerParams" value="stop ULTRAPORTHL7LISTENER"/>
    <add key="HL7StartListnerParams" value="start ULTRAPORTHL7LISTENER"/>
      <add key="HL7ServiceName" value="ULTRAPORTHL7LISTENER"/>
    -->
    <add key="HL7ListenerLogsFolder" value="C:\Program Files\HermeTech\UltraPort Listener\Logs" />
    <add key="HL7TrafficLogsFolder" value="C:\Hl7Files\TrafficLogs" />
    <add key="HL7ListenerLogsFileName" value="Service1.lp1.yyyymmdd.log" />
    <add key="HL7TrafficLogsFileName" value="Traffic.yyyymmdd.lp1.log" />
    <add key="AuditLogsFolder" value="{ApplicationDir}\HL7RunningAuditLogs" />
    <add key="HL7RunningWorkingFolder" value="d:\HL7RUnWF" />
    <add key="HL7TimeDiffMinutes" value="3" />
    <add key="HL7ThreadSleepSecs" value="120" />
    <add key="HL7ReStartProcess" value="true" />
    <add key="ThredSleepAfterRestartServiceSecs" value="30" />
    <add key="HL7StartServiceWaitForExitSeconds" value="30" />
    <add key="HL7ServiceName" value="ULTRAPORTHL7LISTENER" />
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net" />
    <add key="AzureBlobAccountName" value="edocsnypstorageprod" />
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==" />
    <add key="AzureBlobContanierAuditShare" value="auditlogsupload-prod" />
    <!--<add key="SqlServerName" value="edocsSQLServer"/> 
    <add key="SqlServerName" value="dancroper"/>-->
    <add key="EmailTo" value="dan.roper@edocsusa.com" />
    <add key="EmailCC" value="" />
    <add key="EmailSubject" value="HL7 Service Not Running Azure Cloud" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>