<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <!--The database names-->
    <add key="LabReqsDataBaseName" value="COVID19LabReqs,LabReqisitions,DOH,DrCodesScanned,EmployeeComplianceLogs,GrantReceipts,Invoices,MaintenanceLogs,MissingPunchForms,SendOut,SendOutPackingSlips,SendOutResults,SpecimenRejection"/>
    <add key="AuditLogsFolder" value="{ApplicationDir}\MergeDemAuditLogs"/>
    <add key="TotalErrorsAllowed" value="25"/>
    <add key="AzureNotDeleteFile" value="{ApplicationDir}\NotDeletedAzure\AzureNotDelFile.txt"/>
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobAccountName" value="edocsnypstorageprod"/>
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg=="/>
    <add key="AzureBlobContanierAuditShare" value="auditlogsupload-prod"/>
    <!--<add key="SqlServerName" value="edocsSQLServer"/> 
    <add key="SqlServerName" value="dancroper"/>-->
    <add key="SqlServerName" value="dancroper"/>
    <add key="SqlServerUserName" value="edocsUsa"/>
    <add key="SqlServerUserPw" value="6746edocs@"/>
    <add key="SqlServerTimeOut" value="130"/>
    <add key="EmailTo" value="dan.roper@edocsusa.com"/>
    <add key="EmailCC" value=""/>
    <add key="EmailSubject" value="Delete old data Azure Cloud"/>
  </appSettings>
</configuration>
