
<span class="navbar-text text-info">Hello, @ViewData["UserName"]!</span>

    <form method="post" class="form-inline" asp-page="/LogInOut/LoginView" asp-page-handler="Logout">
        <button type="submit" class="nav-link btn btn-link text-dark" onmouseover="$(this).css('background','LightGray');" onmouseout="$(this).css('background','white');">Logout</button>
    </form>

