<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <appSettings>
    <add key="AzureSqlServer" value="Server=13.90.41.239;Database=DOH;User=edocsusa;PassWord=6746edocs@;MultipleActiveResultSets=true;Integrated Security=false;Connection Timeout=1;" />
    <add key="LocalSqlSerever" value="Server={servername};Database=DOH;User=edocsusa;PassWord=6746edocs@;MultipleActiveResultSets=true;Integrated Security=false;Connection Timeout=180;" />
    <add key="EmailTo" value="dan.roper@edocsusa.com" />
     <add key="EmailCC" value="tressa.orizotti@edocsusa.com" />
  </appSettings>
</configuration>