<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Scanquire.Public.Properties.SQArchiverSelector" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Scanquire.Public.Properties.SQTwain" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="Scanquire.Properties.Scanquire" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Scanquire.Properties.Scanquire" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<Scanquire.Public.Properties.SQArchiverSelector>
			<setting name="PreviousSelectedArchiverName" serializeAs="String">
				<value>
				</value>
			</setting>
		</Scanquire.Public.Properties.SQArchiverSelector>
		<Scanquire.Public.Properties.SQTwain>
			<setting name="PreviousDataSourceName" serializeAs="String">
				<value>
				</value>
			</setting>
		</Scanquire.Public.Properties.SQTwain>
		<Scanquire.Properties.Scanquire>
   <setting name="SessionRecoveryFilePath" serializeAs="String">
    <value />
   </setting>
   <setting name="PreviousArchiverName" serializeAs="String">
    <value>LOCAL</value>
   </setting>
   <setting name="UserScanSetting" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="UserAutoQASetting" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SetEncPasswords" serializeAs="String">
    <value>setpw</value>
   </setting>
  </Scanquire.Properties.Scanquire>
	</userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Scanquire.Properties.Scanquire>
      <setting name="PortableMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InActiveTimeOut" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ShowTSScannerSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTSImageOptions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowTSAutoQA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShosTSScanOptios" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DaysToKeepLogFiles" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="DaysToKeepImageFiles" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BackUpOrgImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LabReqsWebSite" serializeAs="String">
        <value>http://localhost/</value>
      </setting>
      <setting name="WebBrowser" serializeAs="String">
        <value>C:\Program Files (x86)\Google\Chrome\Application\chrome.exe</value>
      </setting>
      <setting name="AuditLogs" serializeAs="String">
        <value>False</value>
      </setting>
    </Scanquire.Properties.Scanquire>
  </applicationSettings>
</configuration>