<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <supportedRuntime version="v4.0" />
    </startup>
  <appSettings>
    <add key="WebUriITS" value="http://localhost:5555/api/" />
    <add key="LogFile" value="{ApplicationDir}\LogFile\" />
    <add key="OCRAPIKey" value="OCRP8398898A" />
    <add key="ArchiveFolder" value="D:\ArchiverBackup\{date}\{pname}\" />
    <add key="ZipFolder" value="d:\Archives\CRGZip" />



  </appSettings>
</configuration>