<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ManualIndexingTemp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Scanquire.Public.Properties.SQImageListViewer.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ManualIndexingTemp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ManualIndexingTemp.Properties.Settings>
      <setting name="DefaultScanStationID" serializeAs="String">
        <value>CS</value>
      </setting>
      <setting name="DefaultIndexNumber" serializeAs="String">
        <value>55555</value>
      </setting>
      <setting name="OldIndexNumberRegex" serializeAs="String">
        <value>^.{14}$|^.{18}$</value>
      </setting>
      <setting name="OldIndexNumberMessage" serializeAs="String">
        <value>You have entered in an accession number using the old format.\nRecords starting 9/19/2010 should be entered as follows:\n{9 digit financial number}\n{6 digit client code}{9 digit patient id}\n{6 digit client code}{9 digit requisition number}\nTo continue using the old format, click Ok\nTo enter a different accession number, click Cancel</value>
      </setting>
      <setting name="ValidIndexNumberRegex" serializeAs="String">
        <value>^[a-z A-Z \d \- _]{9}$|^[a-z A-Z \d \- _]{15}$|^[a-z A-Z \d \- _]{18}$</value>
      </setting>
      <setting name="UploadToOptix" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtraPromptRegex" serializeAs="String">
        <value>^(\d{9})\1+$</value>
      </setting>
      <setting name="ExtraPromptMessage" serializeAs="String">
        <value>You have entered an index number that requires an additional check.</value>
      </setting>
      <setting name="ArchiveRoot" serializeAs="String">
        <value>C:\Archives\NYP\Lab Reqs\</value>
      </setting>
      <setting name="UploadToSP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UploadToOptixScriptPath" serializeAs="String">
        <value>C:\Archives\NYP\Lab Reqs\</value>
      </setting>
      <setting name="UploadToSPScriptPath" serializeAs="String">
        <value>C:\Archives\UploadBatchToSP\EdocsUSA.Clients.NYP.LabReqs.UploadBatch.exe</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>{ApplicationDir}\Local\EdocsManualIndexing\</value>
      </setting>
      <setting name="DaysToKeepLogFiles" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="EmailServer" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>AlertSender@edocsusa.com</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>6746edocs</value>
      </setting>
      <setting name="EmailPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>Dan.Roper@edocsusa.com</value>
      </setting>
      <setting name="EmailCC" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>{ErrorSuccess} Running ManualIndexing runtime {runDate}</value>
      </setting>
      <setting name="TextTo" serializeAs="String">
        <value>4065653465@vtext.com</value>
      </setting>
      <setting name="TextCc" serializeAs="String">
        <value>4064908968@vtext.com</value>
      </setting>
    </ManualIndexingTemp.Properties.Settings>
    <Scanquire.Public.Properties.SQImageListViewer.Default>
      <setting name="DefaultSplitterDistance" serializeAs="String">
        <value>25</value>
      </setting>
    </Scanquire.Public.Properties.SQImageListViewer.Default>
  </applicationSettings>
  <userSettings>
    <ManualIndexingTemp.Properties.Settings>
      <setting name="ValidRequisitionNumberRegx" serializeAs="String">
        <value>^[34]\d{9}$|^[4]\d{7}$|^[5]\d{7}$|^[6]\d{6}$|^[6]\d{7}$|^[W][C]\d{4}$|^[3]\d{7}$|^[1]\d{9}$</value>
      </setting>
      <setting name="EdocsSupport" serializeAs="String">
        <value>Call e-Docs support @(406)-565-3465 and tell them upload process did not start.</value>
      </setting>
      <setting name="NewIndexNumbers" serializeAs="String">
        <value>^0\d{6}$|^0\d{7}$|(^8|^7|^6)\d{7}$|(^2|^8)\d{6}$|^4\d{8}$</value>
      </setting>
      <setting name="ValidateReqNumAsIndexNumbers" serializeAs="String">
        <value>^4\d{7}$|^9\d{5}$</value>
      </setting>
      <setting name="EnableBarCodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReqNumber0000" serializeAs="String">
        <value>^4\d{7}$</value>
      </setting>
      <setting name="CopyFolder" serializeAs="String">
        <value>C:\Archives\ImageMissingIndexNumbers\</value>
      </setting>
      <setting name="Testing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BarCodesToScan" serializeAs="String">
        <value>code39,code128,code93</value>
      </setting>
      <setting name="SendErrorEmailsOnly" serializeAs="String">
        <value>True</value>
      </setting>
    </ManualIndexingTemp.Properties.Settings>
  </userSettings>
</configuration>