USE [master]
GO
/****** Object:  Database [CloudBinMonitor]    Script Date: 11/30/2018 11:45:39 AM ******/
CREATE DATABASE [CloudBinMonitor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CloudBinMonitor', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CloudBinMonitor.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CloudBinMonitor_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CloudBinMonitor_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CloudBinMonitor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CloudBinMonitor]
GO
/****** Object:  Table [dbo].[BinCategoriePermissionsUsers]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinCategoriePermissionsUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BinCategoriePermissionUsers] [varchar](25) NOT NULL,
 CONSTRAINT [PK_BinCategoriePermissionsUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinCategoryPermissions]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinCategoryPermissions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BinCategoryPermissions] [varchar](25) NOT NULL,
 CONSTRAINT [PK_BinCategoryPermissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinClosed]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinClosed](
	[BatchId] [uniqueidentifier] NOT NULL,
	[ClosedBy] [varchar](25) NOT NULL,
	[CompletedAt] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BinClosed] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinMasterCategories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinMasterCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MasterCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinMonitorChanges]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinMonitorChanges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmailAddress] [varchar](50) NOT NULL,
	[EmailSubject] [varchar](50) NOT NULL,
	[Comments] [varchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BinMonitorChanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinMonitorLogFile]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinMonitorLogFile](
	[LogFileName] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ComputerName] [varchar](50) NOT NULL,
	[LogFile] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BinMonitorLogFile] PRIMARY KEY CLUSTERED 
(
	[LogFileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinMonitorVersion]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinMonitorVersion](
	[BinMonitorComputer] [varchar](50) NOT NULL,
	[BinMonitorVersion] [varchar](10) NOT NULL,
	[BinMonitorCurrentVersin] [nchar](10) NOT NULL,
 CONSTRAINT [PK_BinMonitorVersion] PRIMARY KEY CLUSTERED 
(
	[BinMonitorComputer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinNumber]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinNumber](
	[BinNumber] [varchar](4) NOT NULL,
 CONSTRAINT [PK_BinNumber] PRIMARY KEY CLUSTERED 
(
	[BinNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinPermissionsCategorie]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinPermissionsCategorie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BinCategoriePermissionUsers] [int] NOT NULL,
	[Categorie] [int] NOT NULL,
	[BinCategoriePermission] [int] NOT NULL,
	[BinPermissions] [varchar](5) NOT NULL,
 CONSTRAINT [PK_BinPermissionsCategorie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinProcessing]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinProcessing](
	[BatchId] [uniqueidentifier] NOT NULL,
	[AssignedBy] [varchar](50) NOT NULL,
	[AssignedTo] [varchar](50) NOT NULL,
	[StartedAt] [datetime] NOT NULL,
	[CompletedBy] [varchar](50) NOT NULL,
	[CompletedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BinProcessing] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinRegistration]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinRegistration](
	[BatchId] [uniqueidentifier] NOT NULL,
	[BinId] [varchar](4) NOT NULL,
	[MasterCategorieId] [int] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[AssignedBy] [varchar](50) NOT NULL,
	[AssignedTo] [varchar](50) NOT NULL,
	[StartedAt] [datetime] NOT NULL,
	[CompletedBy] [varchar](50) NOT NULL,
	[CompletedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BinRegistration] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinRegProcessContentsComments]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinRegProcessContentsComments](
	[BatchId] [uniqueidentifier] NOT NULL,
	[Comments] [varchar](max) NULL,
	[Contents] [varchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BinRegProcessContentsComments] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinUsersXmlFile]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinUsersXmlFile](
	[DisplayName] [varchar](50) NOT NULL,
	[UsersXmlFile] [xml] NOT NULL,
	[Cwid] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BinUsersXmlFile] PRIMARY KEY CLUSTERED 
(
	[Cwid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinUserTable]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinUserTable](
	[Cwid] [varchar](50) NOT NULL,
	[UserFirstName] [varchar](50) NOT NULL,
	[UserLastName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[UserProfile] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UserTable] PRIMARY KEY CLUSTERED 
(
	[Cwid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdocsUpDateInfo]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdocsUpDateInfo](
	[UpDateShareName] [varchar](50) NOT NULL,
	[UpDateFolderName] [varchar](50) NOT NULL,
	[ColdShare] [varchar](5) NULL,
	[VersionFileName] [varchar](25) NOT NULL,
	[UpDateFileName] [varchar](25) NULL,
 CONSTRAINT [PK_EdocsUpDateInfo] PRIMARY KEY CLUSTERED 
(
	[UpDateShareName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EdocsUpDates]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EdocsUpDates](
	[ComputerName] [varchar](25) NOT NULL,
	[VersionNumber] [varchar](5) NOT NULL,
	[LastCheckForUpDates] [datetime] NOT NULL,
 CONSTRAINT [PK_EdocsUpDates] PRIMARY KEY CLUSTERED 
(
	[ComputerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailReports]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailReports](
	[EmailTo] [varchar](50) NOT NULL,
	[EmailCC] [varchar](max) NOT NULL,
	[EmailFrequency] [varchar](5) NOT NULL,
 CONSTRAINT [PK_EmailReports] PRIMARY KEY CLUSTERED 
(
	[EmailTo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSpecimsCreate]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSpecimsCreate](
	[BatchId] [uniqueidentifier] NOT NULL,
	[SendEmailStart] [varchar](5) NOT NULL,
	[SendEmailComplete] [varchar](5) NOT NULL,
	[SendEmailContents] [varchar](5) NOT NULL,
	[EmailStartSent] [varchar](5) NOT NULL,
	[EmailCompleteSent] [varchar](5) NOT NULL,
	[EmailTo] [varchar](max) NOT NULL,
	[TimeLastEmailSent] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailCreate] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSpecimsProcess]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSpecimsProcess](
	[BatchId] [uniqueidentifier] NOT NULL,
	[SendEmailStart] [varchar](5) NOT NULL,
	[SendEmailComplete] [varchar](5) NOT NULL,
	[SendEmailContents] [varchar](5) NOT NULL,
	[EmailStartSent] [varchar](5) NOT NULL,
	[EmailCompleteSent] [varchar](5) NOT NULL,
	[EmailTo] [varchar](max) NOT NULL,
	[TimeLastEmailSent] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailSpecimsProcess] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailSpecimsRegister]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailSpecimsRegister](
	[BatchId] [uniqueidentifier] NOT NULL,
	[SendEmailStart] [varchar](5) NOT NULL,
	[SendEmailComplete] [varchar](5) NOT NULL,
	[SendEmailContents] [varchar](5) NOT NULL,
	[EmailStartSent] [varchar](5) NOT NULL,
	[EmailCompleteSent] [varchar](5) NOT NULL,
	[EmailTo] [varchar](max) NOT NULL,
	[TimeLastEmailSent] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_EmailSpecimsRegister] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorsBinMonitor]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorsBinMonitor](
	[ErrorMessage] [varchar](max) NOT NULL,
	[ErrorDate] [datetime] NOT NULL,
	[Computer] [varchar](20) NOT NULL,
	[UserName] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlBinUserProfiles]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlBinUserProfiles](
	[UserRights] [varchar](25) NOT NULL,
	[UserProfilesXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_UserProfilesXmlFile] PRIMARY KEY CLUSTERED 
(
	[UserRights] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFileBinCategories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFileBinCategories](
	[BinCategorie] [varchar](50) NOT NULL,
	[BinCategorieXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_BinCategoriesXmlFile] PRIMARY KEY CLUSTERED 
(
	[BinCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFileBIns]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFileBIns](
	[BindId] [varchar](10) NOT NULL,
	[BinXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_XmlFileBIns] PRIMARY KEY CLUSTERED 
(
	[BindId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFileBInsBackup]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFileBInsBackup](
	[BindId] [varchar](10) NOT NULL,
	[BinXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_XmlFileBInsBackup] PRIMARY KEY CLUSTERED 
(
	[BindId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFileBinsMasterCategories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFileBinsMasterCategories](
	[BinMasterCategories] [varchar](50) NOT NULL,
	[MasterCategoriesXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_MasterCategoriesXmlFile] PRIMARY KEY CLUSTERED 
(
	[BinMasterCategories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XmlFileSpecimenBatches]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XmlFileSpecimenBatches](
	[BatchId] [uniqueidentifier] NOT NULL,
	[BinXmlFile] [xml] NOT NULL,
	[BinId] [varchar](4) NOT NULL,
	[Processing] [varchar](5) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_XmlFileSpecimenBatches] PRIMARY KEY CLUSTERED 
(
	[BatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUpDateBinUsers]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_AddUpDateBinUsers]
	@Cwid  VARCHAR(50),
	@UserFirstName varchar(50),
	@UserLastName varchar(50),
	@UserPassword   varchar(50),
	@UserEmailAddress varchar(50),
	@UserProfile varchar(50)
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SpTrans VARCHAR(50);  
	SELECT @SpTrans = 'TransactionUpDateAddRecord';  
	BEGIN TRY  
	DECLARE @UserId int
	set @UserId = (select [Id] from  [dbo].[BinCategoriePermissionsUsers] where [BinCategoriePermissionUsers] = @UserProfile)
	
	BEGIN TRANSACTION @SpTrans;  
			if(not exists(select Cwid from [dbo].[BinUserTable] where [Cwid] = @Cwid))
			begin
		INSERT INTO  [dbo].[BinUserTable]
		(	[Cwid],
			[UserFirstName],
			[UserLastName],
			[Password],
			[EmailAddress],
			[UserProfile]
		)
     VALUES
           (@Cwid,
			@UserFirstName,
			@UserLastName,
			@UserPassword,
			@UserEmailAddress,
			@UserId) 
    end
		ELSE
			begin
				update [dbo].[BinUserTable]
					set [UserFirstName] = @UserFirstName,
						[UserLastName] = @UserLastName,
						[Password] = @UserPassword,
						[EmailAddress] = @UserEmailAddress,
						[UserProfile] = @UserId
						where [Cwid] = @Cwid
				end
  

		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BinClosed]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BinClosed]
	@BatchId uniqueidentifier,
    @AssignedTo varchar(50),
	@CompletedAt varchar(25)
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SpTrans VARCHAR(50);  
	SELECT @SpTrans = 'TransactionUpDateAddRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION @SpTrans;  
	  if(not exists(select [BatchId] from [dbo].[BinClosed] where BatchId = @BatchId))
		begin
			INSERT INTO [dbo].[BinClosed]
				([BatchId]
				,[ClosedBy]
				,[CompletedAt]
				,[CreatedAt])
			VALUES
				(@BatchId
					,@AssignedTo
					,convert(datetime,@CompletedAt)
					,GETDATE())
			end
		else
			begin
				update [dbo].[BinClosed]
				set [ClosedBy] =@AssignedTo,
				[CompletedAt] = @CompletedAt

			end
    
  

		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BinCommentsContents]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BinCommentsContents]
	@BatchId uniqueidentifier,
    @Comments varchar(Max),
	@Contents varchar(Max)
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SpTrans VARCHAR(50);  
	SELECT @SpTrans = 'TransactionAddUpDateBinCommentsContents';  
	BEGIN TRY  
	BEGIN TRANSACTION @SpTrans  
	IF NOT EXISTS(select [BatchId] from [dbo].[BinRegProcessContentsComments] where [BatchId] = @BatchId)
	BEGIN
		INSERT INTO [dbo].[BinRegProcessContentsComments]
           ([BatchId]
           ,[Comments]
           ,[Contents]
		   ,[CreateDate])
     VALUES
           (@BatchId
           ,@Comments
           ,@Contents
		   ,GetDate())
   end
   else
   begin
			/*DECLARE  @OldComments varchar(Max);
			DECLARE  @OldContents varchar(Max);
			select  @OldComments = (Select [Comments] from [dbo].BinRegProcessContentsComments
									where BatchId = @BatchId);
			select  @OldContents = (Select [Contents] from [dbo].BinRegProcessContentsComments
								where BatchId = @BatchId);
				*/
			Update [dbo].BinRegProcessContentsComments
			Set [Comments] =  @Comments,
			[Contents] =  @Contents
			where BatchId = @BatchId;
   
   end

		   COMMIT TRANSACTION @SpTrans; 
		   

	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BinMonitorChanges]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BinMonitorChanges]
	-- Add the parameters for the stored procedure here
	@EmailTo varchar(50),
	@EmailSubject varchar(50),
	@Comments varchar(max)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	
			INSERT INTO  [dbo].[BinMonitorChanges]
				([UserEmailAddress]
				,[EmailSubject]
				,[Comments]
				,[CreatedAt])
				
			VALUES
				(@EmailTo
				,@EmailSubject
				,@Comments 
				,GETDATE())
		 
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_BinProcessing]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BinProcessing]
	@BatchId uniqueidentifier,
    @StartedAt varchar(25),
	@AssignedBy varchar(50),
	@AssignedTo varchar(50),
	@CompletedBy varchar(50),
	@CompletedAt varchar(25)
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SpTrans VARCHAR(50);  
	SELECT @SpTrans = 'TransactionUpDateAddRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION @SpTrans;  
	if(not exists(select [BatchId] from [dbo].[BinProcessing] where [BatchId] = @BatchId))
	BEGIN
		INSERT INTO [dbo].[BinProcessing]
           ([BatchId]
           ,[AssignedBy]
           ,[AssignedTo]
           ,[StartedAt]
           ,[CompletedBy]
           ,[CompletedAt])
     VALUES
           (@BatchId
           ,@AssignedBy 
           ,@AssignedTo
           ,convert(datetime,@StartedAt)
           ,@CompletedBy
           ,convert(datetime,@CompletedAt))
   end
   else
   begin
			Update [dbo].[BinProcessing]
			Set [AssignedBy] = @AssignedBy,
			[AssignedTo] = @AssignedTo,
			[StartedAt]= convert(datetime,@StartedAt),
			[CompletedBy] = @CompletedBy,
			[CompletedAt] = convert(datetime,@CompletedAt)
			where [BatchId] = @BatchId
   
   end

		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BinRegistration]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_BinRegistration]
	@BatchId uniqueidentifier,
    @BinId varchar(4),
	@Categorie varchar(50),
	@CreatedBy varchar(50),
	@AssignedBy varchar(50),
	@AssignedTo varchar(50),
	@StartedAt varchar(25),
	@CompletedBy varchar(50),
	@CreatedAt varchar(25)

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @CategorieId INT;
	SET @CategorieId = (select id from [dbo].[BinMasterCategories] where @Categorie = Categorie);
	DECLARE @TranAddRecord VARCHAR(20);  
	SELECT @TranAddRecord = 'TransactionAddRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION @TranAddRecord; 
	if (not exists (select  [BatchId] from [dbo].[BinRegistration] where [BatchId] = @BatchId))
		begin
			INSERT INTO  [dbo].[BinRegistration]
				(	[BatchId],
					[BinId],
					[MasterCategorieId],
					[CreatedBy],
					[AssignedBy],
					[AssignedTo],
					[StartedAt],
					[CompletedBy],
					[CompletedAt])
			VALUES
				(@BatchId
				,@BinId
				,@CategorieId
				,@CreatedBy
				,@AssignedBy 
				,@AssignedTo
				,CONVERT(datetime,@StartedAt)
				,@CompletedBy
				,CONVERT(datetime,@CreatedAt))
		end
		else
			begin
				update [dbo].[BinRegistration]
				set [AssignedBy] = @AssignedBy 
					,[AssignedTo] = @AssignedTo
					,[StartedAt] = CONVERT(datetime,@StartedAt)
					,[CompletedBy] = @CompletedBy
					,[CompletedAt] = CONVERT(datetime,@CreatedAt)
				where [BatchId] = @BatchId
			end
		   COMMIT TRANSACTION @TranAddRecord; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @TranAddRecord; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBinUsers]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_DeleteBinUsers]
	@Cwid  VARCHAR(50),
	@DisplayName  VARCHAR(50)
AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @SpTrans VARCHAR(50);  
	SELECT @SpTrans = 'TransactionUpDateAddRecord';  
	BEGIN TRY  
	DECLARE @UserId int
	BEGIN TRANSACTION @SpTrans;  
			if(exists (select Cwid from [dbo].[BinUserTable] where [Cwid] = @Cwid))
			begin
				delete from  [dbo].[BinUserTable] where [Cwid] = @Cwid
			end
		
			if(exists (select Cwid from [dbo].[BinUsersXmlFile] where [Cwid] = @Cwid))
			begin
				delete from  [dbo].[BinUsersXmlFile]  where  [Cwid] = @Cwid
			end

		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_EmailAddress]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Sp_EmailAddress]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	select EmailAddress from [dbo].[BinUserTable]
    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EmailReports]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EmailReports]
	@EmailTo varchar(50),
    @EmailCC varchar(max),
	@EmailFrequency varchar(5)
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @TranAddRecord VARCHAR(20);  
	DECLARE @OldEmailTo Varchar(50);
	DECLARE @OldEmailCC Varchar(max);
	DECLARE @OldEmailFrequency varchar(5);
	
	SELECT @TranAddRecord = 'TransactionAddRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION @TranAddRecord; 
	set @OldEmailTo = (select [EmailTo] from [dbo].[EmailReports])
	set @OldEmailCC = (select [EmailCC] from [dbo].[EmailReports])
	set @OldEmailFrequency = (select [EmailFrequency] from [dbo].[EmailReports])
	
	if (not exists (select  * from [dbo].[EmailReports]))
		begin
			INSERT INTO  [dbo].[EmailReports]
				(	[EmailTo],
					[EmailCC],
					[EmailFrequency]
					)
			VALUES
				(@EmailTo,
				@EmailCC,
				@EmailFrequency)
		end
		 
		else
			begin
				update[dbo].[EmailReports]
				set [EmailTo] = @EmailTo
					,[EmailCC] = @EmailCC
					,[EmailFrequency] = @EmailFrequency
					

			end
			 
		   COMMIT TRANSACTION @TranAddRecord; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @TranAddRecord; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EmailReportsUsers]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_EmailReportsUsers]
	

AS

BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 
	declare  @TranAddRecord as Varchar(25)
	SELECT @TranAddRecord = 'TransactionAddRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION @TranAddRecord; 
	 sELECT [EmailTo] as EmailTo
      ,[EmailCC] as EmailCC
      ,[EmailFrequency] as EmailFrequency
  FROM [dbo].[EmailReports]
	
		   COMMIT TRANSACTION @TranAddRecord; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @TranAddRecord; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveBins]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetActiveBins]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @xmldata xml


    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	set @xmldata = (select BinReg.[BatchId] as batchId,BinReg.[BinId] as binId,'Register Bin' as Registation,BinReg.[CreatedBy] as regCreatedBy,
	BinReg.[AssignedBy] as regAssginedBy,BinReg.[AssignedTo] as regAssignedTo,BinReg.[StartedAt]as regStartedAt,BinReg.[CompletedBy] as regCompltedBy,
	BinReg.[CompletedAt] as regCompletedAt,'regDuration' as regDuration,
	'Processing Bin' as Processing,BinProcess.[AssignedBy] as processAssignedBy,BinProcess.[AssignedTo] as processAssignedTo,
	BinProcess.[StartedAt] as processStartAt, BinProcess.[CompletedBy] as processCompletedBy,BinProcess.[CompletedAt] as processCompletedAt,'processDuration' as prossDuration,
	'Closed Bin' as BinClosed,BinClosed.ClosedBy as binClosedBy,BinClosed.CompletedAt as BinCompleted,binClosed.CreatedAt as closedCreatedAt,'completeDuration' as completeDuration,
	BinCC.[Comments] as binComments,BinCC.[Contents] as binContents,
	Cat.[Categorie] as cat
	from [dbo].[BinRegistration] as BinReg join [dbo].[BinProcessing] BinProcess on BinReg.BatchId = BinProcess.BatchId
	join [dbo].[BinClosed] as BinClosed on BinReg.BatchId = BinClosed.BatchId
	join [dbo].[BinRegProcessContentsComments] as BinCC on BinReg.BatchId = BinCC.BatchId
	join  [dbo].[BinMasterCategories] Cat on Cat.Id = BinReg.MasterCategorieId
	where YEAR(BinClosed.CompletedAt) < '2001'
	order by BinReg.[BinId]
	FOR XML PATH('Bins'), ROOT ('BatchId'))
	select @xmldata as returnXml
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBatchXmlFile]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetBatchXmlFile] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select * 
		from [dbo].[BinManagerXml]
		where Processing = 'True'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBinUserTable]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetBinUserTable]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[BinUserTable]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCatgories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCatgories]
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY
	 Select Categorie as Cat
	 from [dbo].[MasterCategories]
	 order by [Categorie]
	 
	 END TRY  
	BEGIN CATCH  
	   SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
    
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCountByOrdered]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetCountByOrdered]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	Declare @xmldata xml


    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	set @xmldata = (select BinReg.[BatchId] as batchId,BinReg.[BinId] as binId,'Register Bin' as Registation,BinReg.[CreatedBy] as regCreatedBy,
	BinReg.[AssignedBy] as regAssginedBy,BinReg.[AssignedTo] as regAssignedTo,BinReg.[StartedAt]as regStartedAt,BinReg.[CompletedBy] as regCompltedBy,
	BinReg.[CompletedAt] as regCompletedAt,'regDuration' as regDuration,
	'Processing Bin' as Processing,BinProcess.[AssignedBy] as processAssignedBy,BinProcess.[AssignedTo] as processAssignedTo,
	BinProcess.[StartedAt] as processStartAt, BinProcess.[CompletedBy] as processCompletedBy,BinProcess.[CompletedAt] as processCompletedAt,'processDuration' as prossDuration,
	'Closed Bin' as BinClosed,BinClosed.ClosedBy as binClosedBy,BinClosed.CompletedAt as BinCompleted,binClosed.CreatedAt as closedCreatedAt,'completeDuration' as completeDuration,
	BinCC.[Comments] as binComments,BinCC.[Contents] as binContents,
	Cat.[Categorie] as cat
	from [dbo].[BinRegistration] as BinReg join [dbo].[BinProcessing] BinProcess on BinReg.BatchId = BinProcess.BatchId
	join [dbo].[BinClosed] as BinClosed on BinReg.BatchId = BinClosed.BatchId
	join [dbo].[BinRegProcessContentsComments] as BinCC on BinReg.BatchId = BinCC.BatchId
	join  [dbo].[BinMasterCategories] Cat on Cat.Id = BinReg.MasterCategorieId
	order by BinReg.[BinId]
	FOR XML PATH('Bins'), ROOT ('BatchId'))
	select @xmldata as returnXml
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEdocsUpDateInfo]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetEdocsUpDateInfo]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY  
	SELECT [UpDateShareName]
      ,[UpDateFolderName]
      ,[ColdShare]
      ,[VersionFileName]
      ,[UpDateFileName]
  FROM [dbo].[EdocsUpDateInfo]
	END TRY  
	BEGIN CATCH  
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnactiveBatches]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUnactiveBatches] 
	@BatchId varchar(40)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    Select BatchId,BinXmlFile
	FROM [dbo].[XmlFileSpecimenBatches]
		where BatchId = (@BatchId) and Processing = 'False';
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserInfo]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUserInfo]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	BEGIN TRY  
    SELECT [Cwid] as Cardld,[UserLastName]+','+[UserFirstName] as DisplayName,
			[EmailAddress] as EmailAddress,[UserFirstName] as FirstName,
			[UserFirstName]+'.'+[UserLastName] as Id,[UserLastName] as LastName
			,[Password] as UserPW ,[UserProfile] as UserProFile
  FROM [dbo].[BinUserTable]
	END TRY  
BEGIN CATCH  
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersXmlFile]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUsersXmlFile]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'UserXmlFile';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[BinUsersXmlFile]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUsersXmlFileByCwid]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetUsersXmlFileByCwid]
	@Cwid varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'UserXmlFile';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select [DisplayName],[UsersXmlFile]
			from [dbo].[BinUsersXmlFile] 
			where Cwid = @Cwid
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetXmlBinUserProfiles]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetXmlBinUserProfiles]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[XmlBinUserProfiles]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetXmlFileBinCategories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetXmlFileBinCategories]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[XmlFileBinCategories]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetXmlFileBIns]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetXmlFileBIns]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[XmlFileBIns]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetXmlFileBinsMasterCategories]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetXmlFileBinsMasterCategories]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		select *
			from [dbo].[XmlFileBinsMasterCategories]
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetXmlSpecimenBatches]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetXmlSpecimenBatches]
	-- Add the parameters for the stored procedure here
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans;
	select * 
	from[dbo].[XmlFileSpecimenBatches]
	where [Processing] = 'True'
	
	
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_RecreateBinTables]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RecreateBinTables]
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   DELETE FROM [dbo].[BinClosed]
DELETE FROM [dbo].[BinMonitorLogFile]
DELETE FROM [dbo].[BinProcessing]
DELETE FROM [dbo].[BinRegistration]
DELETE FROM [dbo].[BinRegProcessContentsComments]
DELETE FROM [dbo].[XmlFileSpecimenBatches]
delete from  [dbo].[BinClosed]
exec sp_RecreateXmlFileBInsTable
DROP TABLE [dbo].[BinMonitorChanges]
CREATE TABLE [dbo].[BinMonitorChanges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmailAddress] [varchar](50) NOT NULL,
	[EmailSubject] [varchar](50) NOT NULL,
	[Comments] [varchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_BinMonitorChanges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

DROP TABLE [dbo].[BinMonitorLogFile]


/****** Object:  Table [dbo].[BinMonitorLogFile]    Script Date: 11/30/2018 10:57:42 AM ******/


CREATE TABLE [dbo].[BinMonitorLogFile](
	[LogFileName] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[ComputerName] [varchar](50) NOT NULL,
	[LogFile] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BinMonitorLogFile] PRIMARY KEY CLUSTERED 
(
	[LogFileName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


END
GO
/****** Object:  StoredProcedure [dbo].[sp_RecreateXmlFileBInsTable]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RecreateXmlFileBInsTable]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	/****** Object:  Table [dbo].[XmlFileBIns]    Script Date: 10/24/2018 8:44:54 AM ******/
DROP TABLE [dbo].[XmlFileBIns]
 
/****** Object:  Table [dbo].[XmlFileBIns]    Script Date: 10/24/2018 8:44:54 AM ******/
SET ANSI_NULLS ON
 

SET QUOTED_IDENTIFIER ON
 

CREATE TABLE [dbo].[XmlFileBIns](
	[BindId] [varchar](10) NOT NULL,
	[BinXmlFile] [xml] NOT NULL,
 CONSTRAINT [PK_XmlFileBIns] PRIMARY KEY CLUSTERED 
(
	[BindId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
 
 insert into  [dbo].[XmlFileBIns]
 SELECT * FROM XmlFileBInsBackup
END
 
GO
/****** Object:  StoredProcedure [dbo].[sp_SendSpecBatchsEmails]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_SendSpecBatchsEmails]
	@BatchId varchar(40),
	@SendEmailStart varchar(5),
	@SendEmailComplete varchar(5),
	@SendEmailContents varchar(5),
	@EmailTo varchar(max),
	@UpdateEmailTable varchar(25)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    
	 DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	if(@UpdateEmailTable = 'EmailSpecimsCreate')
		INSERT INTO [dbo].[EmailSpecimsCreate]
           ([BatchId],
			[SendEmailStart],
			[SendEmailComplete],
			[SendEmailContents],
			[EmailStartSent],
			[EmailCompleteSent],
			[EmailTo],
			[TimeLastEmailSent],
			[CreateDate])
     VALUES
           (@BatchId,
	       @SendEmailStart ,
			@SendEmailComplete,
	       @SendEmailContents,
	        'False',
		 'False',
		 @EmailTo,
		 GETDATE(),GETDATE()
	 )
	else if(@UpdateEmailTable = 'EmailSpecimsProcess')
		INSERT INTO [dbo].[EmailSpecimsProcess]
           ([BatchId],
			[SendEmailStart],
			[SendEmailComplete],
			[SendEmailContents],
			[EmailStartSent],
			[EmailCompleteSent],
			[EmailTo],
			[TimeLastEmailSent],
			[CreateDate])
     VALUES
           (@BatchId,
	       @SendEmailStart ,
			@SendEmailComplete,
	       @SendEmailContents,
	         'False',
		 'False',
		 @EmailTo,
		 GETDATE(),GETDATE()
	 )
	 else 
		INSERT INTO [dbo].[EmailSpecimsRegister]
           ( [BatchId],
			[SendEmailStart],
			[SendEmailComplete],
			[SendEmailContents],
				[EmailStartSent],
				[EmailCompleteSent],
			[EmailTo],
			[TimeLastEmailSent],
			[CreateDate])
     VALUES
           (@BatchId,
	       @SendEmailStart ,
			@SendEmailComplete,
	       @SendEmailContents,
	        		 'False',
		 'False',
		 @EmailTo,
		 GETDATE(),GETDATE()
	 )
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpDateXmlFileBinCategorie]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpDateXmlFileBinCategorie]
	-- Add the parameters for the stored procedure here
	@Categorie varchar(50),
	@XmlFile xml
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	if(exists (select [BinCategorie] from [dbo].[XmlFileBinCategories] where [BinCategorie] = @Categorie ))
		begin
			update [dbo].[XmlFileBinCategories]
			set [BinCategorieXmlFile] = @XmlFile
		end
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateXmlFileBIns]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateXmlFileBIns]
	@BinId varchar(10),
	@XmlFile xml
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    DECLARE @ErrorMessage NVARCHAR(100);
	Set @ErrorMessage =  'Bin '+@BinId+' not found';
	 DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'SpTrans';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
		IF NOT EXISTS(select [BindId] from [dbo].[XmlFileBIns] where [BindId] = @BinId)
			Begin
			  RAISERROR(@ErrorMessage,1,1,N'');
			End
			update [dbo].[XmlFileBIns] 
				Set [BinXmlFile] = @XmlFile
					where [BindId] = @BinId
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
         ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpLoadLogFiles]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpLoadLogFiles]
	-- Add the parameters for the stored procedure here
	@LogFileName varchar(50),
	@UserName varchar(50),
	@ComputerName varchar(50),
	@LogFile varchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	if(not exists (select [LogFileName] from [dbo].[BinMonitorLogFile] where [LogFileName] = @LogFileName))
		begin
			INSERT INTO [dbo].[BinMonitorLogFile]
				([LogFileName]
				,[UserName]
				,[ComputerName]
				,[LogFile]
				,[CreateDate])
			VALUES
				(@LogFileName
				,@UserName 
				,@ComputerName 
				,@LogFile 
				,GETDATE())
		end
		else 

		begin
			update [dbo].[BinMonitorLogFile]
			set [LogFile] = @LogFile
			where  [LogFileName] = @LogFileName
		end
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_UploadSpecimenBatchesXmlFile]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UploadSpecimenBatchesXmlFile]
	-- Add the parameters for the stored procedure here
	 @BatchId uniqueidentifier,
	 @BinId varchar(4),
	@XmlFile xml,
	@Processing varchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	IF NOT EXISTS(select [BatchId] from [dbo].[XmlFileSpecimenBatches] where [BatchId] = @BatchId)
	begin
		 INSERT INTO [dbo].[XmlFileSpecimenBatches]
           ([BatchId]
            ,[BinXmlFile]
			,[BinId]
			,[Processing]
			,CreateDateTime)
			values
			 (@BatchId
           ,@XmlFile
		   ,@BinId
           ,@Processing
		   ,GetDate())
           
	end
	Else
	begin
		if(@Processing = 'True')
			begin
				UpDate [dbo].[XmlFileSpecimenBatches]
				set [BinXmlFile] = @XmlFile
				where [BatchId] = @BatchId
			end
			else
				begin
					UpDate [dbo].[XmlFileSpecimenBatches]
					set [BinXmlFile] = @XmlFile,
					[Processing] = @Processing
					where [BatchId] = @BatchId
				end
	end
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_UploadXmlFileUsers]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UploadXmlFileUsers]
	-- Add the parameters for the stored procedure here
		@Cwid varchar(50),
	 	@UserName varchar(50),
		@XmlFile xml
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	IF NOT EXISTS(select * from [dbo].[BinUsersXmlFile] where [Cwid] = @Cwid)
	begin
		 INSERT INTO [dbo].[BinUsersXmlFile]
           ([DisplayName]
            ,[UsersXmlFile]
			,[Cwid])
			values
			 (@UserName
			,@XmlFile
			,@Cwid)
           
	end
	Else
	begin
				UpDate [dbo].[BinUsersXmlFile]
				set [UsersXmlFile] = @XmlFile
				 where  [Cwid] = @Cwid
	
				
	end
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
/****** Object:  StoredProcedure [dbo].[sp_XmlActiveBins]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--	@BinId varchar(4)
CREATE PROCEDURE [dbo].[sp_XmlActiveBins]

AS
BEGIN
	
	SET NOCOUNT ON;
	/*if(@BinId != '000')
		begin
			select bin.BindId,bin.BinXmlFile
				from [dbo].XmlFileBIns as bin join [dbo].XmlFileSpecimenBatches on bin.BindId = BinId
				where Processing = 'True' and bin.BindId != @Binid
		end
	else
		begin
		*/
		select bin.BindId as binID,bin.BinXmlFile as binXmlFile,
		       spBatches.BatchId as batchId,spBatches.BinXmlFile as batchXmlFile
				from [dbo].XmlFileBIns as bin join [dbo].XmlFileSpecimenBatches as spBatches on bin.BindId = BinId
				where Processing = 'True' 
		
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XmlBinUserProfiles]    Script Date: 11/30/2018 11:45:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_XmlBinUserProfiles]
	-- Add the parameters for the stored procedure here
		@UserProfile varchar(25),
		@XmlFile xml,
		@Delete varchar(5)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @SpTrans VARCHAR(20);  
	SELECT @SpTrans = 'TransactionXmlRecord';  
	BEGIN TRY  
	BEGIN TRANSACTION  @SpTrans; 
	IF NOT EXISTS(select [UserRights] from [dbo].[XmlBinUserProfiles] where [UserRights] = @UserProfile)
	begin
		 INSERT INTO [dbo].[XmlBinUserProfiles]
           ([UserRights]
            ,[UserProfilesXmlFile])
			values
			 (@UserProfile 
			,@XmlFile)
			end
		else if(@Delete = 'True')
		begin
		delete from [dbo].[XmlBinUserProfiles] where [UserRights] = @UserProfile
	end
	Else
	begin
				UpDate [dbo].[XmlBinUserProfiles]
				set [UserProfilesXmlFile] = @XmlFile
				 where [UserRights] = @UserProfile
	
				
	end
		   COMMIT TRANSACTION @SpTrans; 
	END TRY  
	BEGIN CATCH  
	ROLLBACK TRAN  @SpTrans; 
	
    SELECT   
        ERROR_NUMBER() AS ErrorNumber  
        ,ERROR_MESSAGE() AS ErrorMessage;  
END CATCH;  



END
GO
USE [master]
GO
