USE [DxData]
GO
/****** Object:  StoredProcedure [dbo].[UpdateRawHideInfo]    Script Date: 10/13/2015 2:17:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[UpdateRawHideInfo] 

AS
BEGIN
	Print(N'UpDating RawHide Infor '+cast(SYSDATETIME() as nvarchar(30)));
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;	
	declare @ContentItemID int;
	declare @Title varchar(255);
	declare @ContentType varchar(100);
	declare @LIVEURL varchar(765);
	declare @ActualPublishingDate datetime
	declare @Authors varchar(255);
	declare @AuthorInfo varchar(50);
	declare @Company varchar(255);
	declare @AcquiredContent varchar(10);
	declare @SubmissionContact varchar(255);
	declare @ContributorGroup varchar(100);
	declare @ContentSubmissionID int;
	declare @MSDNBugID varchar(50);
	declare @EstimatedPublishingDate datetime;
	declare @SubmissionDate	datetime;
	declare @TOCPath varchar(50);
	declare @Locale	varchar(50);
	--declare @Editor	varchar(50);
	
BEGIN TRY
	Update [DxData].[RawHideInfo] 
	set [Title] = RawView.[Title],
	[ContentType] = RawView.[ContentType]
	,[LIVEURL] = RawView.[LIVEURL]
	,[ActualPublishingDate] = RawView.[ActualPublishingDate]
	,[Authors] = RawView.[Authors]
	,[AuthorInfo] = RawView.[AuthorInfo]
	,[Company] = RawView.[Company]
	,[AcquiredContent] = RawView.[AcquiredContent]
	,[SubmissionContact] = RawView.[SubmissionContact]
	,[ContributorGroup] = RawView.[ContributorGroup]
	,[ContentSubmissionID] = RawView.[ContentSubmissionID]
	,[MSDNBugID] = RawView.[MSDNBugID]
	,[EstimatedPublishingDate] = RawView.[EstimatedPublishingDate]
	,[SubmissionDate] = RawView.[SubmissionDate]
	,[TOCPath] = RawView.[TOCPath]
	,[Locale] = RawView.[Locale]
	--,[Editor] = RawView.[Editor]
	from [Rawhide].[dbo].[vw_UDW] RawView
	where RawView.[ContentItemID] = [DxData].[RawHideInfo].[ContentItemID]

	DECLARE RawHideTableCursor CURSOR FAST_FORWARD 
	 for select RHView.[Title]
		  ,RHView.[ContentType]
		  ,RHView.[LIVEURL]
		  ,RHView.[ActualPublishingDate]
		  ,RHView.[Authors]
		  ,RHView.[AuthorInfo]
		  ,RHView.[Company]
		  ,RHView.[AcquiredContent]
		  ,RHView.[SubmissionContact]
		  ,RHView.[ContributorGroup]
		  ,RHView.[ContentSubmissionID]
		  ,RHView.[ContentItemID]
		  ,RHView.[MSDNBugID]
		  ,RHView.[EstimatedPublishingDate]
		  ,RHView.[SubmissionDate]
		  ,RHView.[TOCPath]
		  ,RHView.[Locale]
		   --RHView.[Editor]
		  from [Rawhide].[dbo].[vw_UDW] RHView
		  where RHView.[ContentItemID] not in(select [DxData].[DxData].[RawHideInfo].[ContentItemID] from [DxData].[DxData].[RawHideInfo])
		  open RawHideTableCursor;
		  fetch next from RawHideTableCursor into
		  @Title,@ContentType,@LIVEURL,@ActualPublishingDate,
		  @Authors,@AuthorInfo,@Company,@AcquiredContent,
		  @SubmissionContact,@ContributorGroup,@ContentSubmissionID,
		  @ContentItemID,@MSDNBugID,@EstimatedPublishingDate,@SubmissionDate,
		  @TOCPath,@Locale --,@Editor
		  WHILE @@FETCH_STATUS = 0
	begin
	
		  INSERT INTO [DxData].[DxData].[RawHideInfo]
			   ([ContentItemID]
			   ,[Title]
			   ,[ContentType]
			   ,[LIVEURL]
			   ,[ActualPublishingDate]
			   ,[Authors]
			   ,[AuthorInfo]
			   ,[Company]
			   ,[AcquiredContent]
			   ,[SubmissionContact]
			   ,[ContributorGroup]
			   ,[ContentSubmissionID]
			   ,[MSDNBugID]
			   ,[EstimatedPublishingDate]
			   ,[SubmissionDate]
			   ,[TOCPath]
			   ,[Locale])
			   --[Editor]
		 VALUES
			   (@ContentItemID,@Title,
			   @ContentType,@LIVEURL,
			   @ActualPublishingDate,@Authors,@AuthorInfo,
			   @Company,@AcquiredContent,
			   @SubmissionContact,@ContributorGroup,
			   @ContentSubmissionID,@MSDNBugID,
			   @EstimatedPublishingDate,@SubmissionDate,
			   @TOCPath,@Locale); --@Editor
			   
			    fetch next from RawHideTableCursor into
		  @Title,@ContentType,@LIVEURL,@ActualPublishingDate,
		  @Authors,@AuthorInfo,@Company,@AcquiredContent,
		  @SubmissionContact,@ContributorGroup,@ContentSubmissionID,
		  @ContentItemID,@MSDNBugID,@EstimatedPublishingDate,@SubmissionDate,
		  @TOCPath,@Locale --,@Editor
end
CLOSE  RawHideTableCursor;
DEALLOCATE  RawHideTableCursor; 
END TRY
	
	BEGIN CATCH
	  SELECT 
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE();
		RAISERROR (@ErrorMessage, -- Message text.
                   @ErrorSeverity, -- Severity.
                   @ErrorState -- State.
                  );
		RETURN(1);
	END CATCH;
	
	RETURN(0);
END
