USE [AlanoClub]
GO
/****** Object:  Table [dbo].[AlanoClubCategories]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubCategories](
	[ID] [int]  NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NULL,
 CONSTRAINT [PK_AlanoClubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubCurrentInventory]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubCurrentInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuanityStock] [int] NOT NULL,
	[QuanitySold] [int] NOT NULL,
	[InventoryCount] [nchar](10) NOT NULL,
	[InventoryDate] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubCurrentInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[InventorySales] [bit] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubInventory]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Quanity] [int] NOT NULL,
	[InStock] [int] NOT NULL,
	[ItemsSold] [int] NOT NULL,
	[InventoryCurrent] [int] NOT NULL,
	[DateInventory] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubMemberID]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubMemberID](
	[ID] [int]  NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_AlanoClubMemberID] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubMembers]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubMembers](
	[MemberID] [int] NOT NULL,
	[MemberFirstName] [nvarchar](50) NOT NULL,
	[MemberLastName] [nvarchar](50) NOT NULL,
	[MemberEmail] [nvarchar](50) NOT NULL,
	[MemberPhoneNumber] [nvarchar](15) NOT NULL,
	[IsActiveMember] [bit] NOT NULL,
	[IsBoardMember] [bit] NOT NULL,
	[SobrietyDate] [date] NOT NULL,
	[DateUpDated] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubMembers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubPaidDues]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubPaidDues](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[NumberMonthsDues] [int] NOT NULL,
	[DatePaid] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPaidDues] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubPrices](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[ClubPrice] [money] NOT NULL,
	[ClubNonMemberPrice] [money] NOT NULL,
	[DateAdded] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubProducts](
	[ID] [int]  NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NOT NULL,
	[ItemsPerCase] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[InventoryItem] [bit] NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_AlanoClubProcucts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubReceiptDesc]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubReceiptDesc](
	[ReceiptNumber] [int]  NOT NULL,
	[ReceiptDesc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AlanoClubReceiptDesc] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubReceiptNumber]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubReceiptNumber](
	[ReceiptNumber] [int]  NOT NULL,
	[MemberID] [int] NOT NULL,
	[RecivedBY] [nvarchar](4) NOT NULL,
	[DatePaid] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AlanoClubrRceiptNumber] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubReceipts]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubReceipts](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptDescID] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubReceiptSignature]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubReceiptSignature](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptSignature] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AlanoCLubReceiptSignature] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int]  NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int]  NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoClubUsers]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubUsers](
	[ID] [int]  NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserEmailAddress] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPhoneNumber] [nvarchar](10) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserPasswordReversed] [nvarchar](50) NOT NULL,
	[DateLastLoggedIn] [date] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlanoCLubVolHours]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoCLubVolHours](
	[ID] [int]  NOT NULL,
	[UserID] [int] NOT NULL,
	[DateTimeClockedIn] [datetime] NOT NULL,
	[DateTimeClockedOut] [datetime] NULL,
 CONSTRAINT [PK_AlanoCLubVolHours] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 12/7/2025 12:11:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[ID] [int] NOT NULL,
	[test] [nchar](10) NOT NULL,
 CONSTRAINT [PK_test] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] ADD  CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]  DEFAULT ((0)) FOR [InventorySales]
GO
ALTER TABLE [dbo].[AlanoClubProducts] ADD  CONSTRAINT [DF_AlanoClubProducts_NumberPerCase]  DEFAULT ((24)) FOR [ItemsPerCase]
GO
