USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddAlanoClubReceipt]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[spAddGetMemberID]
	-- Add the parameters for the stored procedure here
	@MemberID int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@MemberID != 0)
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubMemberID]
           ([MemberID])
     VALUES
           (@MemberID);
		   end
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[spAddReceiptDesc]
	-- Add the parameters for the stored procedure here
	@ReceiptDesc nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

	if(not exists(select [ReceiptNumber] from [AlanoClubReceiptDesc] where [ReceiptDesc] = @ReceiptDesc))
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubReceiptDesc]
           ([ReceiptDesc])
     VALUES
           (@ReceiptDesc);
	end
	
END
go
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAddAlanoClubReceipt]
	-- Add the parameters for the stored procedure here
@ReceiptNumber int
,@ReceiptDesc nvarchar(100)
,@QuanitySold int
,@Price money
 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE	@return_value int


    -- Insert statements for procedure here
	EXEC	 spAddReceiptDesc @ReceiptDesc;
set	@return_value = (select [ReceiptNumber] from [AlanoClubReceiptDesc] where [ReceiptDesc] = @ReceiptDesc);
	
INSERT INTO [dbo].[AlanoClubReceipts]
           ([ReceiptNumber]
           ,[ReceiptDescID]
           ,[Quanity]
           ,[Price])

     VALUES
           (@ReceiptNumber
           ,@return_value
           ,@QuanitySold
           ,@Price       
         
		   );

END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditAlanoClubPrices]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditAlanoClubPrices]
 @ProductName nvarchar(50),
 @MemberPrice money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@MemberPrice
           ,@NonMemberPrice
          ,GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteAlconCLubInventory]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubInventory]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubInventory] WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubInventory]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
			,[DateUpDated] = GETDATE()
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubInventory]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price]
		   ,[DateUpDated])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price
		   ,GETDATE());
		 
		 
		 execute spAddEditAlanoClubPrices @ProductName,0.00,0.00;
		 
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubOtherInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditDeleteAlconCLubOtherInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubOtherProcucts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM AlanoClubOtherProcucts WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubOtherProcucts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoClubOtherProcucts]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price);
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconProducts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditDeleteAlconProducts]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price money,
	@Delete bit,
	@BarItem bit
	,@ItemsPerCase int
	,@InventoryItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubProducts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubProducts] WHERE ID=@ID)
	begin
	declare @newPrice  money;
	set @newPrice = (SELECT [Price] FROM [AlanoClubProducts] WHERE ID=@ID);
	if(@newPrice > @Price)
	begin
	set @Price = @newPrice;
	end
	if(@ItemsPerCase = 0)
	begin
	set @ItemsPerCase = (SELECT [ItemsPerCase] FROM [AlanoClubProducts] WHERE ID=@ID);
	end
	

		UPDATE [dbo].[AlanoClubProducts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = [Quantity]+ @Quantity
			,[Price] = @Price
			,[ItemsPerCase] = @ItemsPerCase
			,[InventoryItem] = @InventoryItem
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoClubProducts]
           ([CategoryID]
           ,[ProductName]
		   ,[BarItem]
		   ,[ItemsPerCase]
           ,[Quantity]
		   ,[InventoryItem]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
		   ,@BarItem
		   ,@ItemsPerCase
           ,@Quantity
		   ,@InventoryItem
           ,@Price);
		   end
		   
		   
		   exec spAddEditAlanoClubPrices @ProductName,0.00,0.00,@Delete;
END
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteCatagories]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditDeleteCatagories]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@ID int,
	@CategoryName nvarchar(50),
	@Delete bit,
	@BarItem bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	if(@Delete = 1)
	begin
		delete from AlanoClubCategories WHERE ID=@ID;
	end
	else IF EXISTS (SELECT 1 FROM AlanoClubCategories WHERE ID=@ID)
		BEGIN
		update AlanoClubCategories
		set CategoryName=@CategoryName
		,BarItem=@BarItem
		
		where ID=@ID;
		END
ELSE
BEGIN
    INSERT INTO [dbo].[AlanoClubCategories]
           ([CategoryName],[BarItem])
     VALUES
           (@CategoryName,@BarItem);
END

END
GO
/****** Object:  StoredProcedure [dbo].[spAddGetMemberID]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON

GO
/****** Object:  StoredProcedure [dbo].[spAddPayDues]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAddPayDues]
	       @ReceiptNumber int
           ,@NumberMonthsDues int
           ,@Date Date
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubPaidDues]
           ([ReceiptNumber]
           ,[NumberMonthsDues]
           ,[DatePaid])
     VALUES
           (@ReceiptNumber
           ,@NumberMonthsDues
           ,@Date);
END
GO
/****** Object:  StoredProcedure [dbo].[spAddReceiptDesc]    Script Date: 12/7/2025 1:08:57 PM ******/


/****** Object:  StoredProcedure [dbo].[spAddUpdateAlanoClubUsers]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create            PROCEDURE [dbo].[spAddUpdateAlanoClubUsers]
	@ID int
	,@MemberFirstName nvarchar(50)
	,@MemberLastName nvarchar(50)
	,@MemberEmail nvarchar(50)
	,@UserName nvarchar(50)
	,@MemberPhoneNumber nvarchar(50)
	,@PasswordHash nvarchar(50)
	,@IsAdmin bit
	,@Salt nvarchar(50)
	,@IsActiveMember bit
	,@UserPasswordReversed nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(@ID=0)
	begin
    -- Insert statements for procedure here
	iNSERT INTO [dbo].[AlanoClubUsers]
           ([UserFirstName]
           ,[UserLastName]
           ,[UserEmailAddress]
           ,[UserName]
		   ,[UserPhoneNumber]
           ,[UserPassword]
		   ,[UserPasswordReversed]
           ,[DateLastLoggedIn]
           ,[Salt]
           ,[IsAdmin]
		   ,[IsActive])
     VALUES
           (@MemberFirstName
           ,@MemberLastName
           ,@MemberEmail
           ,@UserName
		   ,@MemberPhoneNumber
           ,@PasswordHash
		   ,@UserPasswordReversed
           ,GETDATE()
           ,@Salt
           ,@IsAdmin
		   ,@IsActiveMember);
		   end
else
begin
	UPDATE [dbo].[AlanoClubUsers]
   SET [UserFirstName] =@MemberFirstName 
      ,[UserLastName] = @MemberLastName
      ,[UserEmailAddress] = @MemberEmail 
      ,[UserName] = @UserName
      ,[UserPhoneNumber] = @MemberPhoneNumber
      ,[DateLastLoggedIn] = GETDATE()
      ,[IsAdmin] = @IsAdmin
      ,[IsActive] = @IsActiveMember
 WHERE ID=@ID
end
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubAddRecNumber]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create       PROCEDURE [dbo].[spAlanoCLubAddRecNumber]
@MemberID int
,@RecivedBY nvarchar(4)
,@Date date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO [dbo].[AlanoCLubReceiptNumber]
           ([MemberID]
		   ,[RecivedBY]
		   ,[DatePaid])
     VALUES
           (@MemberID
		   ,@RecivedBY
		   ,@Date);

    -- Insert statements for procedure here
	
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubAddRecSig]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubAddRecSig]
	-- Add the parameters for the stored procedure here
	 @ReceiptNumber int
     ,@ReceiptSignature varbinary(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
INSERT INTO [dbo].[AlanoCLubReceiptSignature]
           ([ReceiptNumber]
           ,[ReceiptSignature])
     VALUES
           (@ReceiptNumber
           ,@ReceiptSignature);
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubCheckTillDate]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAlanoClubCheckTillDate]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT Count(*)
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where [DateTillReceipt] = @DateTillReceipt
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubClockInOutVolHours]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubClockInOutVolHours]
	-- Add the parameters for the stored procedure here
@ID int
,@UserID int
,@Date  datetime

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(exists(select ID from [dbo].[AlanoCLubVolHours] where ID = @ID))
	begin
	update [dbo].[AlanoCLubVolHours]
	set [DateTimeClockedOut] = @Date
	where ID = @ID;
	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubVolHours]
           ([UserID]
           ,[DateTimeClockedIn])
     VALUES
           (@UserID
           ,@Date);
		   
		   end
		   select MAX([ID]) from [dbo].[AlanoCLubVolHours];
		   

END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubCurrentInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAlanoCLubCurrentInventory]
@ID int
,@Quantity int
,@QuanitySold int
,@InventoryCount int
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[AlanoClubCurrentInventory]
           ([ProductID]
           ,[QuanityStock]
           ,[QuanitySold]
           ,[InventoryCount]
           ,[InventoryDate])
     VALUES
           (@ID
           ,@Quantity
           ,@QuanitySold
           ,@InventoryCount
           ,@DateTillReceipt);
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubDailyTapeTill]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE  [dbo].[spAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored  or alter  PROCEDURE here
@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoCLubTillSalesDeposit]
           ([DailyTotalSales]
           ,[TapeTotal]
           ,[Depsoit]
           ,[DateTillReceipt])
     VALUES
           (@DailyTotalSales
           ,@TapeTotal
           ,@Depsoit
           ,@DateTillReceipt);
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubDeleByID]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubDeleByID]
	-- Add the parameters for the stored procedure here
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM [dbo].[AlanoClubUsers]
      WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubGetDailySalesGraphChart]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[spALanoClubGetDailySalesGraphChart]
	-- Add the parameters for the stored procedure here
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
	set @jsonResult=(select FORMAT(sum([DailyProductTotal]),'N2') as DailyProductTotal
      ,[DateTillReceipt] as DateCreated,
	  sum(MemberITems)+SUM(NonMemberITems) as ItemsSold
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts]
   where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  group by DateTillReceipt
  for json path);
  select @jsonResult as JsonResults


END
GO
/****** Object:  StoredProcedure [dbo].[spALanoCLubGetMemberByID]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[spALanoCLubGetMemberByID]
	@ID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
    -- Insert statements for procedure here
	set @jsonResult = (select mid.[MemberID] as MemberID
      ,[MemberFirstName] as MemberFirstName
      ,[MemberLastName] as MemberLastName
      ,[MemberEmail] as MemberEmail
      ,[MemberPhoneNumber] as MemberPhoneNumber
      ,[IsActiveMember] as IsActiveMember
	  ,[IsBoardMember] as IsBoardMember
	  ,[SobrietyDate] as SobrietyDate
      
  FROM [AlanoClub].[dbo].[AlanoClubMembers] am join AlanoClubMemberID mid on am.[MemberID] = mid.ID
  Where mid.[MemberID]=@ID
  order by mid.[MemberID]
   FOR JSON path);
	 select @jsonResult as JsonResuts
END
GO
/****** Object:  StoredProcedure [dbo].[spALanoCLubGetMembers]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spALanoCLubGetMembers]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
    -- Insert statements for procedure here
	set @jsonResult = (select mid.[MemberID] as MemberID
      ,[MemberFirstName] as MemberFirstName
      ,[MemberLastName] as MemberLastName
      ,[MemberEmail] as MemberEmail
      ,[MemberPhoneNumber] as MemberPhoneNumber
      ,[IsActiveMember] as IsActiveMember
	  ,[IsBoardMember] as IsBoardMember
	  ,[SobrietyDate] as SobrietyDate
      
  FROM [AlanoClub].[dbo].[AlanoClubMembers] am join AlanoClubMemberID mid on am.[MemberID] = mid.ID
  order by mid.[MemberID]
   FOR JSON path);
	 select @jsonResult as JsonResuts
END
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubInventroyCount]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spALanoClubInventroyCount]
	-- Add the parameters for the stored  or alter  PROCEDURE here
 @ID int	
,@Quantity int
,@InStock  int
,@ItemsSold int
,@InventoryCurrent int
,@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [dbo].[AlanoCLubInventory]
           ([ProductID]
           ,[Quanity]
           ,[InStock]
           ,[ItemsSold]
           ,[InventoryCurrent]
           ,[DateInventory])
     VALUES
           (@ID
           ,@Quantity
           ,@InStock
           ,@ItemsSold
           ,@InventoryCurrent
           ,@Date);

    UPDATE [dbo].[AlanoClubProducts]
   SET 
      
      
      
      [Quantity] = @InventoryCurrent
      
 WHERE ID=@ID;
 uPDATE [dbo].[AlanoCLubDailyTillReceipts]
   SET     
      [InventorySales] =1
      
 WHERE [ProductID] = @ID;
 

END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubOldDailyTapeTill]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE  [dbo].[spAlanoCLubOldDailyTapeTill]
	-- Add the parameters for the stored procedure here
@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		DECLARE @jsonResult NVARCHAR(MAX);   
set @jsonResult=(select
           [ID] as ID
		   ,[DailyTotalSales] as DailyTillTotal
           ,FORMAT([TapeTotal],'N2') as DailyTillTape
           ,FORMAT([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
		   from  [dbo].[AlanoCLubTillSalesDeposit]
		   where FORMAT([DateTillReceipt],'yyyy-MM-dd') = FORMAT(@DateTillReceipt,'yyyy-MM-dd')
		   for Json Path);
		   select @jsonResult as JsonResuts

     
END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubPrices]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spAlanoClubPrices]
 @ProductName nvarchar(50),
 @ClubPrice money,
 @ClubNonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
set	@idProd = (select ID from AlanoClubProducts where ProductName=@ProductName);
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ProductID] = @idProd;
end
else	if(not EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		begin
				INSERT INTO [dbo].[AlanoClubPrices]
				([ProductID]
				,[ClubPrice]
				,[ClubNonMemberPrice]
				,[DateAdded])
		VALUES
           (@idProd
           ,@ClubPrice
           ,@ClubNonMemberPrice,
           GETDATE());
		   end
else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @ClubPrice
      ,[ClubNonMemberPrice] = @ClubNonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ProductID] = @idProd;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubRePrintInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spALanoClubRePrintInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=( SELECT 
	ap.id as ID
	,inv.[Quanity] as Quantity
      ,ap.[ProductName] as ProductName
      
      ,[InStock] as InStock
      ,[ItemsSold] as ItemsSold
      ,[InventoryCurrent] as InventoryCurrent
      ,(InStock-InventoryCurrent) as NewCount
  FROM [dbo].[AlanoCLubInventory] inv join [dbo].[AlanoClubProducts] ap on inv.[ProductID] = ap.ID 
  where (FORMAT(inv.DateInventory,'yyyy-MM-dd') = FORMAT(@Date,'yyyy-MM-dd')) 
    for json path);
   select @jsonResult as JsonRes;


END
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubTillPrices]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spAlanoClubTillPrices]
 @ID int,
 @MemberPrice  money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ID] = @idProd;
end

else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice 
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ID] = @ID;
end
END
GO
/****** Object:  StoredProcedure [dbo].[spCheckMemberIDNotUsed]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spCheckMemberIDNotUsed]
	-- Add the parameters for the stored procedure here
@MemberID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select MemberID as MemberID from AlanoClubMemberID
	where MemberID=@MemberID;
END
GO
/****** Object:  StoredProcedure [dbo].[spDailyTellReceipts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
		   ,[DailyProductTotal]
           ,[DateTillReceipt])
     VALUES
           (@ID,
           @MemberITems
           ,@MemberPrice
          , @NonMemberITems
           ,@NonMemberPrice
		   ,@DailyProductTotal
           ,@DateTillReceipt);
 
END
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateMembersUsersTables]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[spDropCreateMembersUsersTables]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
SET ANSI_NULLS ON;

SET QUOTED_IDENTIFIER ON;
SET NOCOUNT ON;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here


/****** Object:  Table [dbo].[AlanoClubMemberID]    Script Date: 12/5/2025 9:12:01 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubMemberID]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubMemberID]
 

/****** Object:  Table [dbo].[AlanoClubMemberID]    Script Date: 12/5/2025 9:12:01 AM ******/

 

CREATE TABLE [dbo].[AlanoClubMemberID](
	[ID] [int]  NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_AlanoClubMemberID] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
 
 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubMembers]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubMembers]
CREATE TABLE [dbo].[AlanoClubMembers](
	[MemberID] [int] NOT NULL,
	[MemberFirstName] [nvarchar](50) NOT NULL,
	[MemberLastName] [nvarchar](50) NOT NULL,
	[MemberEmail] [nvarchar](50) NOT NULL,
	[MemberPhoneNumber] [nvarchar](15) NOT NULL,
	[IsActiveMember] [bit] NOT NULL,
	[IsBoardMember] [bit] NOT NULL,
	[SobrietyDate] [date] NOT NULL,
	[DateUpDated] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubMembers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPaidDues]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPaidDues]

CREATE TABLE [dbo].[AlanoClubPaidDues](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[NumberMonthsDues] [int] NOT NULL,
	[DatePaid] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPaidDues] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptNumber]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptNumber]


CREATE TABLE [dbo].[AlanoCLubReceiptNumber](
	[ReceiptNumber] [int] IDENTITY(1000,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[RecivedBY] [nvarchar](4) NOT NULL,
	[DatePaid] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AlanoClubrRceiptNumber] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceipts]
CREATE TABLE [dbo].[AlanoClubReceipts](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptDescID] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]

 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptSignature]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptSignature]
CREATE TABLE [dbo].[AlanoCLubReceiptSignature](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptSignature] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AlanoCLubReceiptSignature] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubUsers]

CREATE TABLE [dbo].[AlanoClubUsers](
	[ID] [int]  NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserEmailAddress] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPhoneNumber] [nvarchar](10) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserPasswordReversed] [nvarchar](50) NOT NULL,
	[DateLastLoggedIn] [date] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubVolHours]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubVolHours]

CREATE TABLE [dbo].[AlanoCLubVolHours](
	[ID] [int]  NOT NULL,
	[UserID] [int] NOT NULL,
	[DateTimeClockedIn] [datetime] NOT NULL,
	[DateTimeClockedOut] [datetime] NULL,
 CONSTRAINT [PK_AlanoCLubVolHours] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

END
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateRecTables]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spDropCreateRecTables]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET QUOTED_IDENTIFIER ON

	IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPaidDues]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPaidDues]

CREATE TABLE [dbo].[AlanoClubPaidDues](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[NumberMonthsDues] [int] NOT NULL,
	[DatePaid] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPaidDues] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceiptDesc]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceiptDesc]

CREATE TABLE [dbo].[AlanoClubReceiptDesc](
	[ReceiptNumber] [int]  NOT NULL,
	[ReceiptDesc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AlanoClubReceiptDesc] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptNumber]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptNumber]

CREATE TABLE [dbo].[AlanoCLubReceiptNumber](
	[ReceiptNumber] [int] IDENTITY(1000,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[RecivedBY] [nvarchar](4) NOT NULL,
	[DatePaid] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AlanoClubrRceiptNumber] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceipts]

CREATE TABLE [dbo].[AlanoClubReceipts](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptDescID] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptSignature]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptSignature]
CREATE TABLE [dbo].[AlanoCLubReceiptSignature](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptSignature] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AlanoCLubReceiptSignature] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]




    -- Insert statements for procedure here
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateTables]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE  [dbo].[spDropCreateTables]
	as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
iF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubCategories]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubCategories]


/****** Object:  Table [dbo].[AlanoClubCategories]    Script Date: 10/27/2025 11:52:59 AM ******/


CREATE TABLE [dbo].[AlanoClubCategories](
	[ID] [int]  NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NULL,
 CONSTRAINT [PK_AlanoClubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]




/****** Object:  Table [dbo].[AlanoClubCurrentInventory]    Script Date: 10/27/2025 11:54:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubCurrentInventory]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubCurrentInventory]



CREATE TABLE [dbo].[AlanoClubCurrentInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuanityStock] [int] NOT NULL,
	[QuanitySold] [int] NOT NULL,
	[InventoryCount] [nchar](10) NOT NULL,
	[InventoryDate] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubCurrentInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]




ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] DROP CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]


/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/27/2025 11:55:29 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubDailyTillReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubDailyTillReceipts]


/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/27/2025 11:55:29 AM ******/


CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[InventorySales] [bit] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] ADD  CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]  DEFAULT ((0)) FOR [InventorySales]



/****** Object:  Table [dbo].[AlanoCLubInventory]    Script Date: 10/27/2025 11:55:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubInventory]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubInventory]


/****** Object:  Table [dbo].[AlanoCLubInventory]    Script Date: 10/27/2025 11:55:56 AM ******/


CREATE TABLE [dbo].[AlanoCLubInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Quanity] [int] NOT NULL,
	[InStock] [int] NOT NULL,
	[ItemsSold] [int] NOT NULL,
	[InventoryCurrent] [int] NOT NULL,
	[DateInventory] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]



/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 10/27/2025 11:56:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPrices]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPrices]


/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 10/27/2025 11:56:25 AM ******/

CREATE TABLE [dbo].[AlanoClubPrices](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[ClubPrice] [money] NOT NULL,
	[ClubNonMemberPrice] [money] NOT NULL,
	[DateAdded] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoClubProducts] DROP CONSTRAINT [DF_AlanoClubProducts_NumberPerCase]


/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 10/27/2025 11:56:57 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubProducts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubProducts]


/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 10/27/2025 11:56:57 AM ******/


CREATE TABLE [dbo].[AlanoClubProducts](
	[ID] [int]  NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NOT NULL,
	[ItemsPerCase] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[InventoryItem] [bit] NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_AlanoClubProcucts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoClubProducts] ADD  CONSTRAINT [DF_AlanoClubProducts_NumberPerCase]  DEFAULT ((24)) FOR [ItemsPerCase]



/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/27/2025 11:57:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReportLastRan]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReportLastRan]


/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/27/2025 11:57:36 AM ******/


CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int]  NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/27/2025 11:58:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubTillSalesDeposit]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubTillSalesDeposit]


CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int]  NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]








END
GO
/****** Object:  StoredProcedure [dbo].[spDropSalesTables]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spDropSalesTables]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  

ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] DROP CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]

/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/28/2025 8:40:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubDailyTillReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubDailyTillReceipts]

/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/28/2025 8:40:07 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[InventorySales] [bit] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
 

ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] ADD  CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]  DEFAULT ((0)) FOR [InventorySales]


/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/28/2025 8:40:58 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubTillSalesDeposit]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubTillSalesDeposit]

/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/28/2025 8:40:58 AM ******/

CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int]  NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/28/2025 8:41:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReportLastRan]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReportLastRan]

/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/28/2025 8:41:27 AM ******/

CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int]  NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]





END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanClubInventoryYears]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE           PROCEDURE [dbo].[spGetAlanClubInventoryYears]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for  or alter  PROCEDURE here
	set @jsonResult =(select distinct(FORMAT([DateTillReceipt], 'MM-yyyy')) as ItemsYear
	from [AlanoCLubDailyTillReceipts] 
	order by FORMAT([DateTillReceipt], 'MM-yyyy')
	for json path);
	select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubCurrentInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubCurrentInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
	-- declare @invDate date;
	-- set @invDate = (SELECT       
		--		Max([DateInventory])
			--	FROM [AlanoClub].[dbo].[AlanoCLubInventory]
				--WHERE [DateInventory] IS not NULL);
--IF @invDate IS NULL
--begin
--set @invDate = GETDATE()
--end
				-- Insert statements for  or alter  PROCEDURE here
set @jsonResult=(SELECT 
  
ap.ID,
ap.ProductName as ProductName
,ap.Quantity as Quantity
 ,ap.Quantity - sum([MemberITems]+[NonMemberITems])   as InStock
	 , sum([MemberITems]+[NonMemberITems]) as ItemsSold
      
      
   FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] ar full outer JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
   where InventoryItem=1 and ar.InventorySales = 0
   --FULL OUTER JOIN [AlanoClub].[dbo].[AlanoClubProducts] pro on ap.ProductName=ap.ProductName
  --FULL OUTER JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
  group by ap.ID,ap.ProductName , ap.Quantity 
  order by ap.ProductName desc
  for json path);
   select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTill]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE               PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored  or alter  PROCEDURE here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTillTotal
           ,format([TapeTotal],'N2') as DailyTillTape
           ,format([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  order by [DateTillReceipt];
   -- for json path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillcast]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE           PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillcast]
	-- Add the parameters for the stored  or alter  PROCEDURE here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID
	,CAST([DailyTotalSales] as float) as DailyTotalSales
           ,cast([TapeTotal] as float)as TapeTotal
           ,CAST([Depsoit] as float)  as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillFormat]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE             PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillFormat]
	-- Add the parameters for the stored  or alter  PROCEDURE here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTotalSales
           ,format([TapeTotal],'N2') as TapeTotal
           ,format([Depsoit],'N2') as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubDailyTillReceiptDate]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoClubDailyTillReceiptDate]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT Max(DateTillReceipt) as DateTillReceipt from AlanoCLubDailyTillReceipts
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubInventoryProfitLoss]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoClubInventoryProfitLoss]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX);
set @jsonResult =(	SELECT  ap.[ID] as ID
    
      ,[ProductName]  as [ProductName]
      ,[ItemsPerCase] as ItemsPerCase
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,FORMAT(pr.[ClubPrice],'N2') as ClubPrice
	  ,FORMAT(pr.[ClubNonMemberPrice],'N2') as  ClubNonMemberPrice
	   

  FROM [dbo].[AlanoClubProducts] ap inner join [dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  where InventoryItem=1

    -- Insert statements for  or alter  PROCEDURE here
	for json path);
	select  @jsonResult as JsonResults
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubProducts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubProducts]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  ap.[ID] as ID
      ,[ProductName] as ProductName
     
	  ,ac.CategoryName as CategoryName
	  ,ap.[BarItem] as BarItem
	   ,format(alp.[ClubPrice],'N2') as ClubPrice
      ,FORMAT(alp.[ClubNonMemberPrice],'N2') as ClubNonMemberPrice
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  inner join [dbo].[AlanoClubPrices] alp on ap.id=alp.ID
   -- where ap.ID != 17
  order by BarItem desc;
      --  FOR JSON path;
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReport]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoCLubReport]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  --FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportItemsSoldByMonth]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubReportItemsSoldByMonth]
@StartMonthYear date
,@EndMonthYear date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	,format((rec.[MemberPrice]*rec.[MemberITems]), 'N2') as MemBerPriceTotal
	,FORMAT((rec.[NonMemberPrice]*rec.[NonMemberITems]), 'N2') as NonMemBerPriceTotal
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  --(FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  where (FORMAT([DateTillReceipt], 'MM-yyyy') >= FORMAT(@StartMonthYear, 'MM-yyyy'))
  and (FORMAT([DateTillReceipt], 'MM-yyyy') <= FORMAT(@EndMonthYear, 'MM-yyyy'))
  order by  DateTillReceipt
 -- FOR JSON path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportnojson]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubReportnojson]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT   rec.[ID] as ID
      ,[ProductID] as AlanoClubProductID
      ,[MemberITems]  as TotalMemberSold
      ,[MemberPrice] as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,[NonMemberPrice] as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,rec.[DateTillReceipt] as  DateCreated 
	  ,ap.[ProductName] as ProductName
      ,cat.[BarItem] as BarItem
	  ,cat.CategoryName as CategoryName
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
-- (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubTotalsTapeTill]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoCLubTotalsTapeTill]
@Year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	  DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for  or alter  PROCEDURE here
set @jsonResult=(	select
	format(sum([DailyTotalSales]),'N2') as DailyTillTotal
    ,format(sum([TapeTotal]),'N2') as DailyTillTape
	,FORMAT(sum([Depsoit]),'N2') as Depsoit
    ,DateTillReceipt as DateCreated      
     from  [dbo].[AlanoCLubTillSalesDeposit]
	 where DATEPART(YEAR, DateTillReceipt) = @Year
	 group by DateTillReceipt
	 order by DateCreated
	  FOR JSON PATH);
	select @jsonResult as JsonRes
END
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubUserInfo]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoClubUserInfo]
	-- Add the parameters for the stored procedure here
	@UserName nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [ID] as ID
      ,[UserFirstName] as UserFirstName
      ,[UserLastName] as UserLastName
      ,[UserEmailAddress] as UserEmailAddress
      ,[UserName] as UserName
      ,[UserPassword] as UserPassword
	  ,[UserPhoneNumber] as UserPhoneNumber
      ,[UserPasswordReversed] as UserPasswordReversed
      ,[Salt] as Salt
      ,[IsAdmin] as IsAdmin
      ,[IsActive] as IsActive
	  ,SUBSTRING([UserFirstName],1,1)+SUBSTRING([UserLastName],1,1) as  UserIntils

	from AlanoClubUsers
	where [UserName] = @UserName or [UserEmailAddress] = @UserName
	for json path;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetALanoCLubUsers]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create       PROCEDURE [dbo].[spGetALanoCLubUsers]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
set @jsonResult=(SELECT [ID] as ID
      ,[UserFirstName] as UserFirstName
      ,[UserLastName] as UserLastName
      ,[UserEmailAddress] as  UserEmailAddress
      ,[UserName] as UserName
	  ,[UserPhoneNumber] as UserPhoneNumber
      ,[UserPassword] as UserPassword
      ,[UserPasswordReversed] as UserPasswordReversed
      ,[Salt] as Salt
      ,[IsAdmin] as IsAdmin
      ,[IsActive] as IsActive
  FROM [dbo].[AlanoClubUsers]
  order by ID
  FOr json path);
    select @jsonResult as JsonResults; 

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategories]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetCategories]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	order by CategoryName
	  FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesBarItems]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE          PROCEDURE [dbo].[spGetCategoriesBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=1
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesNotBarItems]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetCategoriesNotBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=0
	 FOR JSON path;

END
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyOldTillReceipts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE           PROCEDURE [dbo].[spGetDailyOldTillReceipts]
@Date date
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=(select actr.[ID] as ID
      ,ap.ProductName as ProductName
	  ,ap.BarItem as BarItem
      ,[MemberITems] as TotalMemberSold
      ,format([MemberPrice],'N2') as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,[DateTillReceipt] as DateCreated
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] actr join  [AlanoClub].[dbo].[AlanoClubProducts] ap on actr.ProductID = ap.ID
  where FORMAT(actr.DateTillReceipt,'yyyy-MM-dd') =FORMAT(@Date,'yyyy-MM-dd')
  order by BarItem desc
   FOR JSON path);
    select @jsonResult as JsonResults
END
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyTillReceipts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetDailyTillReceipts]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=(SELECT
      ap.ID as ID
       ,[ProductName] as ProductName
      ,[BarItem] as BarItem
	  ,[ClubPrice] as ClubPrice
      ,[ClubNonMemberPrice] as ClubNonMemberPrice
      
  FROM [AlanoClub].[dbo].[AlanoClubProducts] ap join  [AlanoClub].[dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  order by BarItem desc
   FOR JSON path);
    select @jsonResult as JsonResults
END
GO
/****** Object:  StoredProcedure [dbo].[spGetDateReoprtLastRan]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetDateReoprtLastRan]
	-- Add the parameters for the stored  or alter  PROCEDURE here
@ID int	
,@RepEDate date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	if(@ID = 0)
	begin
	   select  DateReportLasrRan as DateReportLasrRan
		FROM [dbo].[AlanoClubReportLastRan];
	end
	else if (@ID = 1)
	begin
	 
	select MIn([DateTillReceipt]) as MinDate,MAX([DateTillReceipt]) as MaxDate
	from [dbo].[AlanoCLubDailyTillReceipts];
	end
	else
	begin
	if (EXISTS(select 1 from [dbo].[AlanoClubReportLastRan]))
	begin
			uPDATE [dbo].[AlanoClubReportLastRan]
			SET [DateReportLasrRan] = @RepEDate;
		end
 else
 begin
 iNSERT INTO [dbo].[AlanoClubReportLastRan]
           ([DateReportLasrRan])
     VALUES
           (@RepEDate);
	end
	end
END
GO
/****** Object:  StoredProcedure [dbo].[spGetInventory]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	 @BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
set @jsonResult=(SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
	  ,ap.ItemsPerCase as ItemsPerCase
	  ,InventoryItem as InventoryItem
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = @BarItem
  order by ProductName
     FOR JSON path);
	 select @jsonResult as JsonResuts
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryDates]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spGetInventoryDates]
@Date bit = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
	 if(@Date is null)
	 begin
  set @jsonResult=(
    -- Insert statements for  or alter  PROCEDURE here
	SELEct distinct([DateInventory]) as DateInventory
  FROM [dbo].[AlanoCLubInventory]
    for json path);
	end
	else
	begin
	set @jsonResult=(
    -- Insert statements for  or alter  PROCEDURE here
	SELEct distinct([DateTillReceipt]) as DateInventory
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where  DATEADD(MONTH, -3, [DateTillReceipt]) <= GETDATE()
    for json path);
	end
   select @jsonResult as JsonRes;



END
GO
/****** Object:  StoredProcedure [dbo].[spGetNextRceiptNumber]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetNextRceiptNumber]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT max([ReceiptNumber]) as RceiptNumber
        FROM [dbo].[AlanoCLubReceiptNumber]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetNextReceiptNumber]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create   PROCEDURE [dbo].[spGetNextReceiptNumber]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT max([ReceiptNumber]) as ReceiptNumber
        FROM [dbo].[AlanoCLubReceiptNumber]
END
GO
/****** Object:  StoredProcedure [dbo].[spGetOtherInventoryProducts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE          PROCEDURE [dbo].[spGetOtherInventoryProducts]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = 0
  order by ProductName
   FOR JSON path;
	 
END
GO
/****** Object:  StoredProcedure [dbo].[spUpDateAddMemebers]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spUpDateAddMemebers]
	-- Add the parameters for the stored procedure here
	@MemberID  int
   ,@MemberFirstName nvarchar(50)
  ,@MemberLastName nvarchar(50)
   ,@MemberEmail nvarchar(50)
     ,@MemberPhoneNumber nvarchar(15)
       ,@SobrietyDate date
           ,@IsActiveMember bit
		   ,@IsBoardMember bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    declare @id int;
	set @id = (select [ID] from AlanoClubMemberID where MemberID = @MemberID)
--	iF EXISTS (SELECT * FROM [AlanoClubMemberID] WHERE MemberID=@MemberID)
if(@id is not null)
	begin
	
	UPDATE [dbo].[AlanoClubMembers]
	 SET 
      [MemberFirstName] = @MemberFirstName
      ,[MemberLastName] = @MemberLastName
      ,[MemberEmail] = @MemberEmail
      ,[MemberPhoneNumber] = @MemberPhoneNumber
      ,[IsActiveMember] = @IsActiveMember
	  ,[IsBoardMember] = @IsBoardMember
	  ,[SobrietyDate] = @SobrietyDate
      ,[DateUpDated] = getdate()
	  WHERE MemberID=@id;
	end
	else
	begin
	EXEC spAddGetMemberID @MemberID;
	set @id = (select [ID] from AlanoClubMemberID where MemberID = @MemberID);
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubMembers]
           ([MemberID]
           ,[MemberFirstName]
           ,[MemberLastName]
           ,[MemberEmail]
           ,[MemberPhoneNumber]
            ,[IsActiveMember]
			,[IsBoardMember]
			,[SobrietyDate]
           ,[DateUpDated])
     VALUES
           (@id
           ,@MemberFirstName
           ,@MemberLastName
           ,@MemberEmail
           ,@MemberPhoneNumber
           ,@IsActiveMember
		   ,@IsBoardMember
		   ,@SobrietyDate
           ,getdate());
		   end
END
GO
/****** Object:  StoredProcedure [dbo].[spUpDateAlanoClubOldTillDrop]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spUpDateAlanoClubOldTillDrop]
	-- Add the parameters for the stored procedure here
@ID int
,@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[AlanoCLubTillSalesDeposit]
   SET [DailyTotalSales] = @DailyTotalSales
      ,[TapeTotal] = @TapeTotal
      ,[Depsoit] = @Depsoit
      
 WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[spUpDateAlanoClubTillSalesDept]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUpDateAlanoClubTillSalesDept]
	-- Add the parameters for the stored procedure here
@ID int
,@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[AlanoCLubTillSalesDeposit]
   SET [DailyTotalSales] = @DailyTotalSales
      ,[TapeTotal] = @TapeTotal
      ,[Depsoit] = @Depsoit
      
 WHERE ID=@ID
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateOldDailyTellReceipts]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create             PROCEDURE [dbo].[spUpdateOldDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date
,@InventorySales bit
,@ProductName nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(Exists(select 1 from  [AlanoCLubDailyTillReceipts] where [ID] = @ID))
	begin
    -- Insert statements for  or alter  PROCEDURE here
	update [dbo].[AlanoCLubDailyTillReceipts]
           
           set [MemberITems] = @MemberITems
           ,[MemberPrice] = @MemberPrice
           ,[NonMemberITems] = @NonMemberITems
           ,[NonMemberPrice] = @NonMemberITems
		   ,[DailyProductTotal] = @DailyProductTotal
           
		   where [ID] = @ID;
		   end
		   else
		   begin
		   declare @pn int;
		   set @pn = (select ID from AlanoClubProducts where ProductName=@ProductName)
		   INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
,[InventorySales]           
           ,[DailyProductTotal]
           ,[DateTillReceipt])
		    values( @pn
			, @MemberITems
      ,@MemberPrice
      , @NonMemberITems
      , @NonMemberPrice
	  ,@InventorySales
      , @DailyProductTotal
      ,@DateTillReceipt );
		   end
           
 
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUserPassword]    Script Date: 12/7/2025 1:08:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spUpdateUserPassword]
	-- Add the parameters for the stored procedure here
@ID int
	
	,@PasswordHash nvarchar(50)
	
	,@Salt nvarchar(50)
	
	,@UserPasswordReversed nvarchar(50)AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[AlanoClubUsers]
   SET 
      
      
      
      [UserPassword] = @PasswordHash
      ,[UserPasswordReversed] = @UserPasswordReversed
      
      ,[Salt] = @Salt
      
 WHERE ID=@ID
END
GO
