@page
@model Edocs.Employees.Time.Clock.App.Service.Pages.ClockInOut.ClockInOutViewModel
@{
}
<body style="background-color:aqua;">
    <div class="container-fluid">
        
        <div id="headingSessionExp" style="display:none">
            <h3 class="text-center text-danger border">Your Session will expire in&nbsp;<span id="seconds"></span>&nbsp;seconds.<br /></h3>
        </div>

        <div class="title modal " tabindex="-1" id="clockInOutModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4>e-Docs Employee Clock In/Out </h4>
                        @*
        <button type="button" class="close" data-dismiss="modal" onclick="OpenNewWIndow('https://edocsusa.com/','_blank')">×</button>
                        *@
                        <button type="button" class="close" onclick="OpenNewWIndow('https://edocsusa.com/','_blank')">×</button>
                    </div>
                    <div class="modal-body">
                        <form method="get" id="fEmpClockInOut" name="fEmpClockInOut">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="e-Docs Employee ID" id="empId" name="empId" style="display:block" />

                            </div>
                            <div name="retMessage" id="retMessage" style="display:none"></div>
                            <div class="modal-footer">
                                @*  <button type="button" class="btn btn-primary col-md-2">Clock In/Out</button>*@
                                <button type="button" id="btnClockInOut" name="btnbtnClockInOut" class="btn btn-pill btn-outline-primary">Clock In/Out</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle"></script>
    <script type="text/javascript">
        //const { Alert } = require("../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle");


        $(document).ready(function () {
            //$("#divMain").fadeIn(100);
            $(this).bind("contextmenu", function (e) {

                e.preventDefault();

            });
            //  SessionExpireAlert(1);
            // $('#clockInOutModal').css("display", "block");
            $("#clockInOutModal").modal('show');
            $('#empId').focus();
            $("#btnClockInOut").click(function (e) {
               
                if ($('#empId').val().length < 4) {
                    alert('Invalid Employee ID:');
                    return false;
                }
                $("#clockInOutModal").modal('hide');

                var empClockInOutUrl = "/Partial_Pages/ClockInOutEmpView/";
                //  var empClockInOutUrl = "https://www.facebook.com/";
                //  alert(empClockInOutUrl);
                // alert($('#empId').val());
                e.preventDefault();

                $.ajax({
                    type: "GET",
                    url: "/Partial_Pages/ClockInOutEmpView/",
                    contentType: 'application/html; charset=utf-8',
                    data: "&empId=" + $('#empId').val() +'&isAdmin=false',
                    datatype: "html",
                    cache: false,

                    success: function (result) {
                        //
                        // alert(result);
                        // alert("done");

                        $("#retMessage").html(result);
                        $('#retMessage').attr("style", "display:block");
                        $("#clockInOutModal").modal('show');
                        $('#empId').val("");
                        CheckMessage(result);
                        //  alert(result);
                    },
                    complete: function () {
                        // CompleteAjaxCall();
                        // $("#sOptions").click();
                        //CheckMessage(result);
                        //  alert("done");
                    },
                    error: function (request, status, error) {
                        //  $("#divLoading").hide();

                        $("#clockInOutModal").modal('show');
                        alert(error);
                        alert(request.getAllResponseHeaders());
                        alert(status.show);
                    }
                });
            });
            //$('#empId').keydown(function (eventcode) {

            //    alert("empid");
            //    switch (event.keyCode) {
            //        case 13:
            //            if ($('#empId').val().length > 4) {
                            
                            
            //                $('#btnClockInOut').click();
            //            }
                      
            //            break;
            //        //case 119:
            //        //    if ($('#BinRegistorModel_LabRecNumber').val().length > 1) {
            //        //        $('#subcrbatch').click();
            //        //    }
            //        //    break;
            //        default:

            //            //if ($('#audioSubmit').val() != "sttimer") {
            //            //    $('#audioSubmit').val("sttimer");
            //            //    if ($('#autoSub').prop('checked')) {
            //            //        SubmitLabRec(0);
            //            //    }

                        
            //            return;
            //            break;
            //            }
                        
            //});
            
        });//end doc ready
    </script>
}

