<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="WebApi" value="https://edocsnypwebapi.azurewebsites.net/api/" />-->
    <add key="WebApi" value="https://edocsnypwebapi.azurewebsites.net/api/" />
    <add key="EmailSubject" value="{Error} Azure Documents upload report run time {reportTime}" />
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==" />
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net" />
    <add key="AzureBlobStorageAccountName" value="edocsnypstorageprod" />
    <add key="JsonBackFolder" value="D:\Archives\JsonFIlesBackUp" />
    <add key="LabReqArchiveFolder" value="D:\Archives\NYP" />
    <add key="LabReqsJsonArchiveFolder" value="L:\Archives\JsonFilesArchived" />
    <add key="LabReqsJsonFolder" value="L:\Archives\JsonFIlesBackUp" />
    
    <!--
    <add key="EmailTo" value="brd9098@nyp.org;chb9212@nyp.org"/>
   <add key="EmailCC" value="Brw9059@nyp.org;dan.roper@edocsusa.com;tressa.orizotti@edocsusa.com;yeb9020@nyp.org"/>
    -->
    <add key="EmailTo" value="brd9098@nyp.org;chb9212@nyp.org"/>
    <add key="EmailCC" value="dan.roper@edocsusa.com;tressa.orizotti@edocsusa.com;yeb9020@nyp.org;coj9001@nyp.org;kam9149@nyp.org"/>
    <add key="SaveEmailReport" value="EmailReport"/>
    <add key="DaysToKeepJsonFiles" value="10"/>
    <add key="JsonOldFiles" value="JsonFilesOld"/>
  </appSettings>
</configuration>