<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DateOfServiceSpan" value="1"/>
    <!--<add key="SqlServerName" value="edocsSQLServer"/> 
    <add key="SqlServerName" value="DanCRoper"/>-->
    <add key="SqlServerName" value="DanCRoper"/>
    <add key="SqlServerLabRecsDbName" value="Lab_Recs_NYP"/>
    <add key="SqlServerHl7DbName" value="HL7"/>
    <add key="SqlServerUserName" value="edocsUsa"/>
    <add key="SqlServerUserPw" value="6746edocs@"/>
     <!--If done with corvid set value to nocovid19  -->
    <add key="SPUpDateCovid19HL7" value="sp_UpDateCovid19HL7"/>
    <add key="SPMergeCovid19LabReqs" value="sp_MergeCovid19LabReqs"/>
    <add key="SPUpDateLabRecsHL7" value="sp_UpDateLabRecsHL7ByLabReqRowID"/>
    <!--<add key="SPMergeLabRecs" value="sp_MergeLabRecs"/>
    <add key="SPUpDateLabRecsHL7" value="sp_UpDateLabRecsHL7"/>-->
    <add key="SPMergeLabRecs" value="sp_MergeLabRecsByID"/>
    <add key="ThreadSleepSeconds" value="3"/>
    <add key="ThreadSleepSecondsProcessRunning" value="15"/>
    <add key="WaitProcessRunning" value="true"/>
    <add key="MaxLoopWaitForProcess" value="250"/>
    <add key="NumberTimesToTryUpdateLR" value="10"/>
    <add key="RegxSkip" value="ERROR|TSTLOG|TST|CANCEL|PRBLOG|PRB|NYPHWCD|NYP|K0|KO|ST|DHK|GRACIE"/>
    <!--
    <add key="RegxDateOfService" value="^((((0[13578])|([13578])|(1[02]))[\/](([1-9])|([0-2][0-9])|(3[01])))|(((0[469])|([469])|(11))[\/](([1-9])|([0-2][0-9])|(30)))|((2|02)[\/](([1-9])|([0-2][0-9]))))[\/]\d{4}$|^\d{4}$|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"/>
    
    
    <add key="RegxDateOfService" value="Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"/>
    -->
    <add key="RegxDateOfServiceMMDDYY" value="\d{2}-\d{2}-\d{4}|\d{2}-\d{1}-\d{4}|\d{1}-\d{2}-\d{4}|\d{1}-\d{1}-\d{4}|d{2}-\d{2}-\d{2}|\d{2}-\d{1}-\d{2}|\d{1}-\d{2}-\d{2}|\d{1}-\d{1}-\d{2}"/>
    <add key="RegxDateOfServiceMonth" value="Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"/>

    <!--If vale is empty the will use the LogFolder value  -->
    <add key="AuditLogsFolder" value="{ApplicationDir}\MergeDemAuditLogs"/>
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobContanierAuditShare" value="auditlogsupload-prod"/>
    <add key="AzureBlobAccountName" value="edocsnypstorageprod" />
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg=="/>
    
    <add key="DaysToKeepLogFiles" value="30"/>
  </appSettings>
</configuration>