<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Minspace is in gb-->
    <add key="MinSpace" value="5"/>
    <!--The folder to delete the files;number days to keep file
    <add key="DelFilesRootFolder" value="D:\Archives\test;1,D:\Archives\JsonFIlesBackUp\;30,D:\Archives\Lab_Req_Copy\;30,D:\Archives\ScanQuireSavedImages;10,D:\Archives\ScanQuireSavedImages\ManualIndexingTemp\;2"/>
    -->
    <add key="DelFilesRootFolder" value="C:\Hl7Files\TrafficLogs\;5,C:\Hl7OutPut\LogsErrorFolder\;10"/>
    <add key="AuditLogUploadFolder" value="C:\ProgramData\e-Docs USA\AuditLogsUpload\"/>
    <add key="SkippDirectory" value="AuditLogs"/>
    <add key="UploadAuditLogs" value="true"/>
    <!--If vale is empty the will use the LogFolder value  -->
    <add key="AuditLogsFolder" value="{ApplicationDir}\LogFile"/>
    <add key="AzureBlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net"/>
    <add key="AzureBlobContanierAuditShare" value="auditlogsupload-prod"/>
    <add key="AzureBlobAccountName" value="edocsnypstorageprod"/>
    <add key="AzureBlobAccountKey" value="XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
