
Scanquire.ThirdParty/obj/x86/Release/Scanquire.ThirdParty.csproj.AssemblyReference.cache
Scanquire/bin/Release/Scanquire.Public.pdb
Scanquire/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire/obj/x86/Release/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire/obj/x86/Release/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
.vs/Scanquire_HIPAA/v16/.suo
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Debug/Scanquire.Public.dll
Scanquire.Public/bin/Debug/Scanquire.Public.pdb
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.dll.config
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.pdb
Scanquire.Public/bin/Debug/ScanquireLogin.dll
Scanquire.Public/bin/Debug/ScanquireLogin.dll.config
Scanquire.Public/bin/Debug/ScanquireLogin.pdb
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.dll.config
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.pdb
Scanquire.Public/bin/Release/EdocsUSA.Utilities.dll
Scanquire.Public/bin/Release/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Release/Scanquire.Public.dll
Scanquire.Public/bin/Release/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Release/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Release/ScanQuire_SendEmails.dll
Scanquire.Public/bin/Release/ScanQuire_SendEmails.dll.config
Scanquire.Public/bin/Release/ScanQuire_SendEmails.pdb
Scanquire.Public/bin/Release/ScanquireLogin.dll
Scanquire.Public/bin/Release/ScanquireLogin.dll.config
Scanquire.Public/bin/Release/ScanquireLogin.pdb
Scanquire.Public/bin/Release/ScanQuireSqlCmds.dll
Scanquire.Public/bin/Release/ScanQuireSqlCmds.dll.config
Scanquire.Public/bin/Release/ScanQuireSqlCmds.pdb
Scanquire.Public/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.GenerateResource.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.ResolveComReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
Scanquire.Public/obj/x86/Release/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Release/Scanquire.Public.csproj.ResolveComReference.cache
Scanquire.Public/obj/x86/Release/Scanquire.Public.dll
Scanquire.Public/ScanQuireUsers/UserInformation.cs
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/bin/Release/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.csproj.AssemblyReference.cache
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.csproj.CoreCompileInputs.cache
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.csproj.FileListAbsolute.txt
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/obj/x86/Release/Scanquire.ThirdParty.csproj.FileListAbsolute.txt
Scanquire.ThirdParty/obj/x86/Release/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Edocs.Ocr.Convert.Libaray.Img.PDF.dll
Scanquire/bin/Debug/Edocs.Ocr.Convert.Libaray.Img.PDF.dll.config
Scanquire/bin/Debug/Edocs.Ocr.Convert.Libaray.Img.PDF.pdb
Scanquire/bin/Debug/Edocs.Pdf.Converter.dll
Scanquire/bin/Debug/Edocs.Pdf.Converter.pdb
Scanquire/bin/Debug/EdocsUSA.Utilities.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Debug/Scanquire.Public.dll
Scanquire/bin/Debug/Scanquire.Public.pdb
Scanquire/bin/Debug/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/Scanquire_HIPAA.exe
Scanquire/bin/Debug/Scanquire_HIPAA.pdb
Scanquire/bin/Debug/ScanQuire_SendEmails.dll
Scanquire/bin/Debug/ScanQuire_SendEmails.dll.config
Scanquire/bin/Debug/ScanQuire_SendEmails.pdb
Scanquire/bin/Debug/ScanquireLogin.dll
Scanquire/bin/Debug/ScanquireLogin.dll.config
Scanquire/bin/Debug/ScanquireLogin.pdb
Scanquire/bin/Debug/ScanQuireSqlCmds.dll
Scanquire/bin/Debug/ScanQuireSqlCmds.dll.config
Scanquire/bin/Debug/ScanQuireSqlCmds.pdb
Scanquire/bin/Debug/System.Net.Http.dll
Scanquire/bin/Debug/System.Net.Http.xml
Scanquire/bin/Release/Edocs.Ocr.Convert.Libaray.Img.PDF.dll
Scanquire/bin/Release/Edocs.Ocr.Convert.Libaray.Img.PDF.dll.config
Scanquire/bin/Release/Edocs.Ocr.Convert.Libaray.Img.PDF.pdb
Scanquire/bin/Release/Edocs.Pdf.Converter.dll
Scanquire/bin/Release/Edocs.Pdf.Converter.pdb
Scanquire/bin/Release/EdocsUSA.Utilities.dll
Scanquire/bin/Release/EdocsUSA.Utilities.pdb
Scanquire/bin/Release/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Release/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Release/Scanquire.Public.dll
Scanquire/bin/Release/Scanquire.ThirdParty.dll
Scanquire/bin/Release/Scanquire_HIPAA.exe
Scanquire/bin/Release/ScanQuire_SendEmails.dll
Scanquire/bin/Release/ScanQuire_SendEmails.dll.config
Scanquire/bin/Release/ScanQuire_SendEmails.pdb
Scanquire/bin/Release/ScanquireLogin.dll
Scanquire/bin/Release/ScanquireLogin.dll.config
Scanquire/bin/Release/ScanquireLogin.pdb
Scanquire/bin/Release/ScanQuireSqlCmds.dll
Scanquire/bin/Release/ScanQuireSqlCmds.dll.config
Scanquire/bin/Release/ScanQuireSqlCmds.pdb
Scanquire/bin/Release/System.Net.Http.dll
Scanquire/bin/Release/System.Net.Http.xml
Scanquire/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.CoreCompileInputs.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.FileListAbsolute.txt
Scanquire/obj/x86/Debug/Scanquire.csproj.GenerateResource.cache
Scanquire/obj/x86/Debug/Scanquire.MainForm.resources
Scanquire/obj/x86/Debug/Scanquire_HIPAA.exe
Scanquire/obj/x86/Debug/Scanquire_HIPAA.pdb
Scanquire/obj/x86/Release/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Release/Scanquire.csproj.FileListAbsolute.txt
Scanquire/obj/x86/Release/Scanquire_HIPAA.exe
