<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Edocs.Libaray.Upload.Archive.Batches.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Edocs.Libaray.Upload.Archive.Batches.Properties.Settings>
            <setting name="ArchivesFolder" serializeAs="String">
                <value>d:\Archives\MDTBackUp\</value>
            </setting>
            <setting name="EdocsWebApi" serializeAs="String">
                <value>http://localhost:5555/api/</value>
            </setting>
            <setting name="DeleteBatchOnSuccess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EdocsSupport" serializeAs="String">
                <value>Call e-Docs USA support @(406)-565-3465 and tell them batchid:{bid}for BSB Plan did not upload.</value>
            </setting>
            <setting name="JsonFilesBackUpFolder" serializeAs="String">
                <value>d:\Archives\JsonFilesBackup\</value>
            </setting>
            <setting name="MakeCopyUploadImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UploadedImagesCopyFolder" serializeAs="String">
                <value>d:\Archives\MDTBackupPDF\</value>
            </setting>
            <setting name="DaysToKeepCopyFolder" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>{ApplicationDir}\Local\EdocsArchiverUploadLogs\</value>
            </setting>
            <setting name="DaysToKeepLogFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LoopRetryUpLoad" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ThreadSleep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoopNotifyUser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SendEmailErrorsOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThreadSleepSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OverWriteFolder" serializeAs="String">
                <value>d:\Archives\MDTBackupOverWrite\</value>
            </setting>
            <setting name="OverWriteEmailCC" serializeAs="String">
                <value />
            </setting>
            <setting name="OCRExe" serializeAs="String">
                <value>D:\Archives\Edocs.OCR.Searchable.PDF\Edocs.Ocr.Searchable.Pdf.exe</value>
            </setting>
            <setting name="OCRApiKey" serializeAs="String">
                <value>OCRP8398898A</value>
            </setting>
            <setting name="OCRWebApi" serializeAs="String">
                <value>https://apipro1.ocr.space/parse/image</value>
            </setting>
            <setting name="OCRISTable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LCROCRExe" serializeAs="String">
                <value>D:\Edocs.Icr.Ocr.Google\</value>
            </setting>
            <setting name="AzureBlobAccountKey" serializeAs="String">
                <value>XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==</value>
            </setting>
            <setting name="AzureBlobStorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net</value>
            </setting>
            <setting name="AzureContainer" serializeAs="String">
                <value>edocsnypstorageprod/doh</value>
            </setting>
            <setting name="LCROCROutPutFolder" serializeAs="String">
                <value>D:\Google_LCROCR\Diocese_Of_Helena\LCROCR</value>
            </setting>
        </Edocs.Libaray.Upload.Archive.Batches.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>