USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetCategoriesBarItems]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetCategoriesBarItems]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID,CategoryName as CategoryName,BarItem as BarItem
	from AlanoClubCategories
	where BarItem=1
	 FOR JSON path;

END
GO
