USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubTillPrices]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE  procedure [dbo].[spAlanoClubTillPrices]
 @ID int,
 @MemberPrice  money,
 @NonMemberPrice money,
 @Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare @idProd int; 
if(@Delete = 1)
begin
		if(EXISTS(select 1 from AlanoClubPrices  where  ProductID = @idProd))
		delete from AlanoClubPrices  where [ID] = @idProd;
end

else
begin
UPDATE [dbo].[AlanoClubPrices]
   SET [ClubPrice] = @MemberPrice 
      ,[ClubNonMemberPrice] = @NonMemberPrice
      ,[DateAdded] = GETDATE()
	  where [ID] = @ID;
end
END
GO
