USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTillFormat]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTillFormat]
	-- Add the parameters for the stored procedure here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTotalSales
           ,format([TapeTotal],'N2') as TapeTotal
           ,format([Depsoit],'N2') as [Depsoit]
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
   FOR JSON path;
END
GO
