USE [AlanoClub]
GO
/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
