USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteCatagories]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAddEditDeleteCatagories]
	-- Add the parameters for the stored procedure here
	@ID int,
	@CategoryName nvarchar(50),
	@Delete bit,
	@BarItem bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@Delete = 1)
	begin
		delete from AlanoClubCategories WHERE ID=@ID;
	end
	else IF EXISTS (SELECT 1 FROM AlanoClubCategories WHERE ID=@ID)
		BEGIN
		update AlanoClubCategories
		set CategoryName=@CategoryName
		,BarItem=@BarItem
		
		where ID=@ID;
		END
ELSE
BEGIN
    INSERT INTO [dbo].[AlanoClubCategories]
           ([CategoryName],[BarItem])
     VALUES
           (@CategoryName,@BarItem);
END

END
GO
