USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubDailyTapeTill]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE  [dbo].[spAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored procedure here
@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubTillSalesDeposit]
           ([DailyTotalSales]
           ,[TapeTotal]
           ,[Depsoit]
           ,[DateTillReceipt])
     VALUES
           (@DailyTotalSales
           ,@TapeTotal
           ,@Depsoit
           ,@DateTillReceipt);
END
GO
