USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubProducts]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetAlanoCLubProducts]
	-- Add the parameters for the stored procedure here
	 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT  ap.[ID] as ID
      ,[ProductName] as ProductName
     
	  ,ac.CategoryName as CategoryName
	  ,ap.[BarItem] as BarItem
	   ,format(alp.[ClubPrice],'N2') as ClubPrice
      ,FORMAT(alp.[ClubNonMemberPrice],'N2') as ClubNonMemberPrice
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  inner join [dbo].[AlanoClubPrices] alp on ap.id=alp.ID
   -- where ap.ID != 17
  order by ProductName
      --  FOR JSON path;
	 
END
GO
