USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyTillReceipts]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetDailyTillReceipts]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT
      ap.ID as ID
       ,[ProductName] as ProductName
      ,[BarItem] as BarItem
	  ,[ClubPrice] as ClubPrice
      ,[ClubNonMemberPrice] as ClubNonMemberPrice
      
  FROM [AlanoClub].[dbo].[AlanoClubProducts] ap join  [AlanoClub].[dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  order by [ProductName]
   FOR JSON path;
END
GO
