USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventory]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spGetInventory]
	-- Add the parameters for the stored procedure here
	 @BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = @BarItem
  order by ProductName
     FOR JSON path;
	 
END
GO
