USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetDateReoprtLastRan]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spGetDateReoprtLastRan]
	-- Add the parameters for the stored procedure here
@ID int	
 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@ID = 0)
	begin
	   select  DateReportLasrRan as DateReportLasrRan
		FROM [dbo].[AlanoClubReportLastRan];
	end
	else if (@ID = 1)
	begin
	 
	select MIn([DateTillReceipt]) as MinDate,MAX([DateTillReceipt]) as MaxDate
	from [dbo].[AlanoCLubDailyTillReceipts];
	end
	else
	begin
	uPDATE [dbo].[AlanoClubReportLastRan]
   SET [DateReportLasrRan] = GETDATE();
 
	end
END
GO
