USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubCheckTillDate]    Script Date: 10/7/2025 12:19:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spAlanoClubCheckTillDate]
	-- Add the parameters for the stored procedure here
	@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT Count(*)
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where [DateTillReceipt] = @DateTillReceipt
END
GO
