<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlCommands.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <!--
    <applicationSettings>
        <SqlCommands.Common.Properties.Settings>
            <setting name="NypServerName" serializeAs="String">
                <value>edocdevdan1</value>
            </setting>
            <setting name="NypDataBaseName" serializeAs="String">
                <value>CloudBinMonitor</value>
            </setting>
            <setting name="NypDbUserName" serializeAs="String">
                <value>edocsusa</value>
            </setting>
            <setting name="CloudServerName" serializeAs="String">
                <value>Dcrx64prof1</value>
            </setting>
        </SqlCommands.Common.Properties.Settings>
    </applicationSettings>
    -->
  <appSettings>
    <add key="SqlServerName" value="Dcrx64prof"/>
    <add key="DataBaseName" value="CloudBinMonitor"/>
    <add key="DbUserName" value="edocsusa"/>
    <add key="CloudSqlServerName" value="Dcrx64prof"/>
  
  </appSettings>
</configuration>
