USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubAddRecSig]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubAddRecSig]
	-- Add the parameters for the stored procedure here
	 @ReceiptNumber int
     ,@ReceiptSignature varbinary(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
INSERT INTO [dbo].[AlanoCLubReceiptSignature]
           ([ReceiptNumber]
           ,[ReceiptSignature])
     VALUES
           (@ReceiptNumber
           ,@ReceiptSignature);
END
GO
