USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyTillReceipts]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetDailyTillReceipts]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=(SELECT
      ap.ID as ID
       ,[ProductName] as ProductName
      ,[BarItem] as BarItem
	  ,[ClubPrice] as ClubPrice
      ,[ClubNonMemberPrice] as ClubNonMemberPrice
      
  FROM [AlanoClub].[dbo].[AlanoClubProducts] ap join  [AlanoClub].[dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  order by BarItem desc
   FOR JSON path);
    select @jsonResult as JsonResults
END
GO
