USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubOldDailyTapeTill]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE  [dbo].[spAlanoCLubOldDailyTapeTill]
	-- Add the parameters for the stored procedure here
@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		DECLARE @jsonResult NVARCHAR(MAX);   
set @jsonResult=(select
           [ID] as ID
		   ,[DailyTotalSales] as DailyTillTotal
           ,FORMAT([TapeTotal],'N2') as DailyTillTape
           ,FORMAT([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
		   from  [dbo].[AlanoCLubTillSalesDeposit]
		   where FORMAT([DateTillReceipt],'yyyy-MM-dd') = FORMAT(@DateTillReceipt,'yyyy-MM-dd')
		   for Json Path);
		   select @jsonResult as JsonResuts

     
END
GO
