USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoClubClockInOutVolHours]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAlanoClubClockInOutVolHours]
	-- Add the parameters for the stored procedure here
@ID int
,@UserID int
,@Date  datetime

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(exists(select ID from [dbo].[AlanoCLubVolHours] where ID = @ID))
	begin
	update [dbo].[AlanoCLubVolHours]
	set [DateTimeClockedOut] = @Date
	where ID = @ID;
	end
	else
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoCLubVolHours]
           ([UserID]
           ,[DateTimeClockedIn])
     VALUES
           (@UserID
           ,@Date);
		   
		   end
		   select MAX([ID]) from [dbo].[AlanoCLubVolHours];
		   

END
GO
