USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubInventroyCount]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spALanoClubInventroyCount]
	-- Add the parameters for the stored  or alter  PROCEDURE here
 @ID int	
,@Quantity int
,@InStock  int
,@ItemsSold int
,@InventoryCurrent int
,@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	INSERT INTO [dbo].[AlanoCLubInventory]
           ([ProductID]
           ,[Quanity]
           ,[InStock]
           ,[ItemsSold]
           ,[InventoryCurrent]
           ,[DateInventory])
     VALUES
           (@ID
           ,@Quantity
           ,@InStock
           ,@ItemsSold
           ,@InventoryCurrent
           ,@Date);

    UPDATE [dbo].[AlanoClubProducts]
   SET 
      
      
      
      [Quantity] = @InventoryCurrent
      
 WHERE ID=@ID;
 uPDATE [dbo].[AlanoCLubDailyTillReceipts]
   SET     
      [InventorySales] =1
      
 WHERE [ProductID] = @ID;
 

END
GO
