USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spDailyTellReceipts]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
		   ,[DailyProductTotal]
           ,[DateTillReceipt])
     VALUES
           (@ID,
           @MemberITems
           ,@MemberPrice
          , @NonMemberITems
           ,@NonMemberPrice
		   ,@DailyProductTotal
           ,@DateTillReceipt);
 
END
GO
