USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventory]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	 @BarItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
set @jsonResult=(SELECT ap.[ID] as ID
      ,[ProductName] as ProductName
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,ac.CategoryName as CategoryName
	  ,ap.ItemsPerCase as ItemsPerCase
	  ,InventoryItem as InventoryItem
  FROM [dbo].[AlanoClubProducts] ap join AlanoClubCategories ac on ap.CategoryID = ac.ID
  where ac.BarItem = @BarItem
  order by ProductName
     FOR JSON path);
	 select @jsonResult as JsonResuts
	 
END
GO
