USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddAlanoClubReceipt]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spAddAlanoClubReceipt]
	-- Add the parameters for the stored procedure here
@ReceiptNumber int
,@ReceiptDesc nvarchar(100)
,@QuanitySold int
,@Price money
 

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE	@return_value int


    -- Insert statements for procedure here
	EXEC	 spAddReceiptDesc @ReceiptDesc;
set	@return_value = (select [ReceiptNumber] from [AlanoClubReceiptDesc] where [ReceiptDesc] = @ReceiptDesc);
	
INSERT INTO [dbo].[AlanoClubReceipts]
           ([ReceiptNumber]
           ,[ReceiptDescID]
           ,[Quanity]
           ,[Price])

     VALUES
           (@ReceiptNumber
           ,@return_value
           ,@QuanitySold
           ,@Price       
         
		   );

END
GO
