USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetALanoCLubUsers]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create       PROCEDURE [dbo].[spGetALanoCLubUsers]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
set @jsonResult=(SELECT [ID] as ID
      ,[UserFirstName] as UserFirstName
      ,[UserLastName] as UserLastName
      ,[UserEmailAddress] as  UserEmailAddress
      ,[UserName] as UserName
	  ,[UserPhoneNumber] as UserPhoneNumber
      ,[UserPassword] as UserPassword
      ,[UserPasswordReversed] as UserPasswordReversed
      ,[Salt] as Salt
      ,[IsAdmin] as IsAdmin
      ,[IsActive] as IsActive
  FROM [dbo].[AlanoClubUsers]
  order by ID
  FOr json path);
    select @jsonResult as JsonResults; 

END
GO
