USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spCheckDatabaseOptimize]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[spCheckDatabaseOptimize]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT [ID]
      ,[CategoryName]
      ,[BarItem]
  FROM [dbo].[AlanoClubCategories]


SELECT [ID]
      ,[ProductID]
      ,[QuanityStock]
      ,[QuanitySold]
      ,[InventoryCount]
      ,[InventoryDate]
  FROM [dbo].[AlanoClubCurrentInventory]

 
SELECT [ID]
      ,[ProductID]
      ,[MemberITems]
      ,[MemberPrice]
      ,[NonMemberITems]
      ,[NonMemberPrice]
      ,[InventorySales]
      ,[DailyProductTotal]
      ,[DateTillReceipt]
  FROM [dbo].[AlanoCLubDailyTillReceipts]


  

SELECT [ID]
      ,[ProductID]
      ,[Quanity]
      ,[InStock]
      ,[ItemsSold]
      ,[InventoryCurrent]
      ,[DateInventory]
  FROM [dbo].[AlanoCLubInventory]

 

SELECT [ID]
      ,[MemberID]
  FROM [dbo].[AlanoClubMemberID]

  

SELECT [MemberID]
      ,[MemberFirstName]
      ,[MemberLastName]
      ,[MemberEmail]
      ,[MemberPhoneNumber]
      ,[IsActiveMember]
      ,[IsBoardMember]
      ,[SobrietyDate]
      ,[DateUpDated]
  FROM [dbo].[AlanoClubMembers]

 

  

SELECT [ID]
      ,[ReceiptNumber]
      ,[NumberMonthsDues]
      ,[DatePaid]
  FROM [dbo].[AlanoClubPaidDues]

 


SELECT [ID]
      ,[ProductID]
      ,[ClubPrice]
      ,[ClubNonMemberPrice]
      ,[DateAdded]
  FROM [dbo].[AlanoClubPrices]

 
SELECT [ID]
      ,[CategoryID]
      ,[ProductName]
      ,[BarItem]
      ,[ItemsPerCase]
      ,[Quantity]
      ,[InventoryItem]
      ,[Price]
  FROM [dbo].[AlanoClubProducts]

 
SELECT [ReceiptNumber]
      ,[ReceiptDesc]
  FROM [dbo].[AlanoClubReceiptDesc]

 
SELECT [ReceiptNumber]
      ,[MemberID]
      ,[RecivedBY]
      ,[DatePaid]
  FROM [dbo].[AlanoCLubReceiptNumber]

 

SELECT [ID]
      ,[ReceiptNumber]
      ,[ReceiptDescID]
      ,[Quanity]
      ,[Price]
  FROM [dbo].[AlanoClubReceipts]


  SELECT [ID]
      ,[ReceiptNumber]
      ,[ReceiptDescID]
      ,[Quanity]
      ,[Price]
  FROM [dbo].[AlanoClubReceipts]

 
SELECT [ID]
      ,[DateReportLasrRan]
  FROM [dbo].[AlanoClubReportLastRan]

 

 

SELECT [ID]
      ,[DailyTotalSales]
      ,[TapeTotal]
      ,[Depsoit]
      ,[DateTillReceipt]
  FROM [dbo].[AlanoCLubTillSalesDeposit]

 


SELECT [ID]
      ,[UserFirstName]
      ,[UserLastName]
      ,[UserEmailAddress]
      ,[UserName]
      ,[UserPhoneNumber]
      ,[UserPassword]
      ,[UserPasswordReversed]
      ,[DateLastLoggedIn]
      ,[Salt]
      ,[IsAdmin]
      ,[IsActive]
  FROM [dbo].[AlanoClubUsers]

  

SELECT [ID]
      ,[UserID]
      ,[DateTimeClockedIn]
      ,[DateTimeClockedOut]
  FROM [dbo].[AlanoCLubVolHours]

 



    -- Insert statements for procedure here
	
END
GO
