USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyOldTillReceipts]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE           PROCEDURE [dbo].[spGetDailyOldTillReceipts]
@Date date
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=(select actr.[ID] as ID
      ,ap.ProductName as ProductName
	  ,ap.BarItem as BarItem
      ,[MemberITems] as TotalMemberSold
      ,format([MemberPrice],'N2') as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,[DateTillReceipt] as DateCreated
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] actr join  [AlanoClub].[dbo].[AlanoClubProducts] ap on actr.ProductID = ap.ID
  where FORMAT(actr.DateTillReceipt,'yyyy-MM-dd') =FORMAT(@Date,'yyyy-MM-dd')
  order by BarItem desc
   FOR JSON path);
    select @jsonResult as JsonResults
END
GO
