USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconProducts]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditDeleteAlconProducts]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price money,
	@Delete bit,
	@BarItem bit
	,@ItemsPerCase int
	,@InventoryItem bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubProducts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM [AlanoClubProducts] WHERE ID=@ID)
	begin
	declare @newPrice  money;
	set @newPrice = (SELECT [Price] FROM [AlanoClubProducts] WHERE ID=@ID);
	if(@newPrice > @Price)
	begin
	set @Price = @newPrice;
	end
	if(@ItemsPerCase = 0)
	begin
	set @ItemsPerCase = (SELECT [ItemsPerCase] FROM [AlanoClubProducts] WHERE ID=@ID);
	end
	

		UPDATE [dbo].[AlanoClubProducts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = [Quantity]+ @Quantity
			,[Price] = @Price
			,[ItemsPerCase] = @ItemsPerCase
			,[InventoryItem] = @InventoryItem
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoClubProducts]
           ([CategoryID]
           ,[ProductName]
		   ,[BarItem]
		   ,[ItemsPerCase]
           ,[Quantity]
		   ,[InventoryItem]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
		   ,@BarItem
		   ,@ItemsPerCase
           ,@Quantity
		   ,@InventoryItem
           ,@Price);
		   end
		   
		   
		   exec [dbo].[spAddEditAlanoClubPrices] @ProductName,0.00,0.00,@Delete;
END
GO
