USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubDailyTapeTill]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE               PROCEDURE  [dbo].[spGetAlanoCLubDailyTapeTill]
	-- Add the parameters for the stored  or alter  PROCEDURE here

@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	select ID as ID
	,format([DailyTotalSales],'N2') as DailyTillTotal
           ,format([TapeTotal],'N2') as DailyTillTape
           ,format([Depsoit],'N2') as Depsoit
           ,[DateTillReceipt] as DateCreated
     from  [dbo].[AlanoCLubTillSalesDeposit]
		    where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  order by [DateTillReceipt];
   -- for json path;
END
GO
