USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubGetDailySalesGraphChart]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[spALanoClubGetDailySalesGraphChart]
	-- Add the parameters for the stored procedure here
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for procedure here
	set @jsonResult=(select FORMAT(sum([DailyProductTotal]),'N2') as DailyProductTotal
      ,[DateTillReceipt] as DateCreated,
	  sum(MemberITems)+SUM(NonMemberITems) as ItemsSold
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts]
   where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  group by DateTillReceipt
  for json path);
  select @jsonResult as JsonResults


END
GO
