USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddReceiptDesc]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create     PROCEDURE [dbo].[spAddReceiptDesc]
	-- Add the parameters for the stored procedure here
	@ReceiptDesc nvarchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	

	if(not exists(select [ReceiptNumber] from [AlanoClubReceiptDesc] where [ReceiptDesc] = @ReceiptDesc))
	begin
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubReceiptDesc]
           ([ReceiptDesc])
     VALUES
           (@ReceiptDesc);
	end
	
END
GO
