USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubInventoryProfitLoss]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoClubInventoryProfitLoss]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @jsonResult NVARCHAR(MAX);
set @jsonResult =(	SELECT  ap.[ID] as ID
    
      ,[ProductName]  as [ProductName]
      ,[ItemsPerCase] as ItemsPerCase
      ,[Quantity] as Quantity
      ,[Price] as Price
	  ,FORMAT(pr.[ClubPrice],'N2') as ClubPrice
	  ,FORMAT(pr.[ClubNonMemberPrice],'N2') as  ClubNonMemberPrice
	   

  FROM [dbo].[AlanoClubProducts] ap inner join [dbo].[AlanoClubPrices] pr on ap.ID = pr.id
  where InventoryItem=1

    -- Insert statements for  or alter  PROCEDURE here
	for json path);
	select  @jsonResult as JsonResults
END
GO
