USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateOldDailyTellReceipts]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create             PROCEDURE [dbo].[spUpdateOldDailyTellReceipts]
@ID int	
,@MemberITems int
,@MemberPrice money
,@DailyProductTotal money
,@NonMemberITems int
,@NonMemberPrice money
,@DateTillReceipt date
,@InventorySales bit
,@ProductName nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(Exists(select 1 from  [AlanoCLubDailyTillReceipts] where [ID] = @ID))
	begin
    -- Insert statements for  or alter  PROCEDURE here
	update [dbo].[AlanoCLubDailyTillReceipts]
           
           set [MemberITems] = @MemberITems
           ,[MemberPrice] = @MemberPrice
           ,[NonMemberITems] = @NonMemberITems
           ,[NonMemberPrice] = @NonMemberITems
		   ,[DailyProductTotal] = @DailyProductTotal
           
		   where [ID] = @ID;
		   end
		   else
		   begin
		   declare @pn int;
		   set @pn = (select ID from AlanoClubProducts where ProductName=@ProductName)
		   INSERT INTO [dbo].[AlanoCLubDailyTillReceipts]
           ([ProductID]
           ,[MemberITems]
           ,[MemberPrice]
           ,[NonMemberITems]
           ,[NonMemberPrice]
,[InventorySales]           
           ,[DailyProductTotal]
           ,[DateTillReceipt])
		    values( @pn
			, @MemberITems
      ,@MemberPrice
      , @NonMemberITems
      , @NonMemberPrice
	  ,@InventorySales
      , @DailyProductTotal
      ,@DateTillReceipt );
		   end
           
 
END
GO
