USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetInventoryDates]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE       PROCEDURE [dbo].[spGetInventoryDates]
@Date bit = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
	 if(@Date is null)
	 begin
  set @jsonResult=(
    -- Insert statements for  or alter  PROCEDURE here
	SELEct distinct([DateInventory]) as DateInventory
  FROM [dbo].[AlanoCLubInventory]
    for json path);
	end
	else
	begin
	set @jsonResult=(
    -- Insert statements for  or alter  PROCEDURE here
	SELEct distinct([DateTillReceipt]) as DateInventory
  FROM [dbo].[AlanoCLubDailyTillReceipts]
  where  DATEADD(MONTH, -3, [DateTillReceipt]) <= GETDATE()
    for json path);
	end
   select @jsonResult as JsonRes;



END
GO
