USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubUserInfo]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoClubUserInfo]
	-- Add the parameters for the stored procedure here
	@UserName nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT [ID] as ID
      ,[UserFirstName] as UserFirstName
      ,[UserLastName] as UserLastName
      ,[UserEmailAddress] as UserEmailAddress
      ,[UserName] as UserName
      ,[UserPassword] as UserPassword
	  ,[UserPhoneNumber] as UserPhoneNumber
      ,[UserPasswordReversed] as UserPasswordReversed
      ,[Salt] as Salt
      ,[IsAdmin] as IsAdmin
      ,[IsActive] as IsActive
	  ,SUBSTRING([UserFirstName],1,1)+SUBSTRING([UserLastName],1,1) as  UserIntils

	from AlanoClubUsers
	where [UserName] = @UserName or [UserEmailAddress] = @UserName
	for json path;
END
GO
