USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanClubInventoryYears]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE           PROCEDURE [dbo].[spGetAlanClubInventoryYears]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for  or alter  PROCEDURE here
	set @jsonResult =(select distinct(FORMAT([DateTillReceipt], 'MM-yyyy')) as ItemsYear
	from [AlanoCLubDailyTillReceipts] 
	order by FORMAT([DateTillReceipt], 'MM-yyyy')
	for json path);
	select @jsonResult as JsonRes
END
GO
