USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spUpDateAddMemebers]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spUpDateAddMemebers]
	-- Add the parameters for the stored procedure here
	@MemberID  int
   ,@MemberFirstName nvarchar(50)
  ,@MemberLastName nvarchar(50)
   ,@MemberEmail nvarchar(50)
     ,@MemberPhoneNumber nvarchar(15)
       ,@SobrietyDate date
           ,@IsActiveMember bit
		   ,@IsBoardMember bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    declare @id int;
	set @id = (select [ID] from AlanoClubMemberID where MemberID = @MemberID)
--	iF EXISTS (SELECT * FROM [AlanoClubMemberID] WHERE MemberID=@MemberID)
if(@id is not null)
	begin
	
	UPDATE [dbo].[AlanoClubMembers]
	 SET 
      [MemberFirstName] = @MemberFirstName
      ,[MemberLastName] = @MemberLastName
      ,[MemberEmail] = @MemberEmail
      ,[MemberPhoneNumber] = @MemberPhoneNumber
      ,[IsActiveMember] = @IsActiveMember
	  ,[IsBoardMember] = @IsBoardMember
	  ,[SobrietyDate] = @SobrietyDate
      ,[DateUpDated] = getdate()
	  WHERE MemberID=@id;
	end
	else
	begin
	EXEC spAddGetMemberID @MemberID;
	set @id = (select [ID] from AlanoClubMemberID where MemberID = @MemberID);
    -- Insert statements for procedure here
	INSERT INTO [dbo].[AlanoClubMembers]
           ([MemberID]
           ,[MemberFirstName]
           ,[MemberLastName]
           ,[MemberEmail]
           ,[MemberPhoneNumber]
            ,[IsActiveMember]
			,[IsBoardMember]
			,[SobrietyDate]
           ,[DateUpDated])
     VALUES
           (@id
           ,@MemberFirstName
           ,@MemberLastName
           ,@MemberEmail
           ,@MemberPhoneNumber
           ,@IsActiveMember
		   ,@IsBoardMember
		   ,@SobrietyDate
           ,getdate());
		   end
END
GO
