USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateMembersUsersTables]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE    PROCEDURE [dbo].[spDropCreateMembersUsersTables]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
SET ANSI_NULLS ON;

SET QUOTED_IDENTIFIER ON;
SET NOCOUNT ON;
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.

    -- Insert statements for procedure here


/****** Object:  Table [dbo].[AlanoClubMemberID]    Script Date: 12/5/2025 9:12:01 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubMemberID]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubMemberID]
 

/****** Object:  Table [dbo].[AlanoClubMemberID]    Script Date: 12/5/2025 9:12:01 AM ******/

 

CREATE TABLE [dbo].[AlanoClubMemberID](
	[ID] [int]  NOT NULL,
	[MemberID] [int] NOT NULL,
 CONSTRAINT [PK_AlanoClubMemberID] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
 
 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubMembers]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubMembers]
CREATE TABLE [dbo].[AlanoClubMembers](
	[MemberID] [int] NOT NULL,
	[MemberFirstName] [nvarchar](50) NOT NULL,
	[MemberLastName] [nvarchar](50) NOT NULL,
	[MemberEmail] [nvarchar](50) NOT NULL,
	[MemberPhoneNumber] [nvarchar](15) NOT NULL,
	[IsActiveMember] [bit] NOT NULL,
	[IsBoardMember] [bit] NOT NULL,
	[SobrietyDate] [date] NOT NULL,
	[DateUpDated] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubMembers] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPaidDues]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPaidDues]

CREATE TABLE [dbo].[AlanoClubPaidDues](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[NumberMonthsDues] [int] NOT NULL,
	[DatePaid] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPaidDues] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptNumber]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptNumber]


CREATE TABLE [dbo].[AlanoCLubReceiptNumber](
	[ReceiptNumber] [int] IDENTITY(1000,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[RecivedBY] [nvarchar](4) NOT NULL,
	[DatePaid] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AlanoClubrRceiptNumber] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceipts]
CREATE TABLE [dbo].[AlanoClubReceipts](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptDescID] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]

 IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptSignature]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptSignature]
CREATE TABLE [dbo].[AlanoCLubReceiptSignature](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptSignature] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AlanoCLubReceiptSignature] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubUsers]

CREATE TABLE [dbo].[AlanoClubUsers](
	[ID] [int]  NOT NULL,
	[UserFirstName] [nvarchar](50) NOT NULL,
	[UserLastName] [nvarchar](50) NOT NULL,
	[UserEmailAddress] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserPhoneNumber] [nvarchar](10) NOT NULL,
	[UserPassword] [nvarchar](50) NOT NULL,
	[UserPasswordReversed] [nvarchar](50) NOT NULL,
	[DateLastLoggedIn] [date] NOT NULL,
	[Salt] [nvarchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubVolHours]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubVolHours]

CREATE TABLE [dbo].[AlanoCLubVolHours](
	[ID] [int]  NOT NULL,
	[UserID] [int] NOT NULL,
	[DateTimeClockedIn] [datetime] NOT NULL,
	[DateTimeClockedOut] [datetime] NULL,
 CONSTRAINT [PK_AlanoCLubVolHours] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

END
GO
