USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubAddRecNumber]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create       PROCEDURE [dbo].[spAlanoCLubAddRecNumber]
@MemberID int
,@RecivedBY nvarchar(4)
,@Date date

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	INSERT INTO [dbo].[AlanoCLubReceiptNumber]
           ([MemberID]
		   ,[RecivedBY]
		   ,[DatePaid])
     VALUES
           (@MemberID
		   ,@RecivedBY
		   ,@Date);

    -- Insert statements for procedure here
	
END
GO
