USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoClubDailyTillReceiptDate]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoClubDailyTillReceiptDate]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT Max(DateTillReceipt) as DateTillReceipt from AlanoCLubDailyTillReceipts
END
GO
