USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spDropSalesTables]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spDropSalesTables]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  

ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] DROP CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]

/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/28/2025 8:40:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubDailyTillReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubDailyTillReceipts]

/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/28/2025 8:40:07 AM ******/
SET ANSI_NULLS ON

SET QUOTED_IDENTIFIER ON

CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[InventorySales] [bit] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
 

ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] ADD  CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]  DEFAULT ((0)) FOR [InventorySales]


/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/28/2025 8:40:58 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubTillSalesDeposit]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubTillSalesDeposit]

/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/28/2025 8:40:58 AM ******/

CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int]  NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/28/2025 8:41:27 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReportLastRan]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReportLastRan]

/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/28/2025 8:41:27 AM ******/

CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int]  NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]





END
GO
