USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateTables]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE  [dbo].[spDropCreateTables]
	as
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
iF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubCategories]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubCategories]


/****** Object:  Table [dbo].[AlanoClubCategories]    Script Date: 10/27/2025 11:52:59 AM ******/


CREATE TABLE [dbo].[AlanoClubCategories](
	[ID] [int]  NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NULL,
 CONSTRAINT [PK_AlanoClubCategories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]




/****** Object:  Table [dbo].[AlanoClubCurrentInventory]    Script Date: 10/27/2025 11:54:47 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubCurrentInventory]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubCurrentInventory]



CREATE TABLE [dbo].[AlanoClubCurrentInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[QuanityStock] [int] NOT NULL,
	[QuanitySold] [int] NOT NULL,
	[InventoryCount] [nchar](10) NOT NULL,
	[InventoryDate] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubCurrentInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]




ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] DROP CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]


/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/27/2025 11:55:29 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubDailyTillReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubDailyTillReceipts]


/****** Object:  Table [dbo].[AlanoCLubDailyTillReceipts]    Script Date: 10/27/2025 11:55:29 AM ******/


CREATE TABLE [dbo].[AlanoCLubDailyTillReceipts](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[MemberITems] [int] NOT NULL,
	[MemberPrice] [money] NOT NULL,
	[NonMemberITems] [int] NOT NULL,
	[NonMemberPrice] [money] NOT NULL,
	[InventorySales] [bit] NOT NULL,
	[DailyProductTotal] [money] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubDailyTillReceipts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoCLubDailyTillReceipts] ADD  CONSTRAINT [DF_AlanoCLubDailyTillReceipts_InventorySales]  DEFAULT ((0)) FOR [InventorySales]



/****** Object:  Table [dbo].[AlanoCLubInventory]    Script Date: 10/27/2025 11:55:56 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubInventory]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubInventory]


/****** Object:  Table [dbo].[AlanoCLubInventory]    Script Date: 10/27/2025 11:55:56 AM ******/


CREATE TABLE [dbo].[AlanoCLubInventory](
	[ID] [int]  NOT NULL,
	[ProductID] [nchar](10) NOT NULL,
	[Quanity] [int] NOT NULL,
	[InStock] [int] NOT NULL,
	[ItemsSold] [int] NOT NULL,
	[InventoryCurrent] [int] NOT NULL,
	[DateInventory] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubInventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]



/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 10/27/2025 11:56:25 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPrices]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPrices]


/****** Object:  Table [dbo].[AlanoClubPrices]    Script Date: 10/27/2025 11:56:25 AM ******/

CREATE TABLE [dbo].[AlanoClubPrices](
	[ID] [int]  NOT NULL,
	[ProductID] [int] NOT NULL,
	[ClubPrice] [money] NOT NULL,
	[ClubNonMemberPrice] [money] NOT NULL,
	[DateAdded] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPrices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoClubProducts] DROP CONSTRAINT [DF_AlanoClubProducts_NumberPerCase]


/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 10/27/2025 11:56:57 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubProducts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubProducts]


/****** Object:  Table [dbo].[AlanoClubProducts]    Script Date: 10/27/2025 11:56:57 AM ******/


CREATE TABLE [dbo].[AlanoClubProducts](
	[ID] [int]  NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[BarItem] [bit] NOT NULL,
	[ItemsPerCase] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[InventoryItem] [bit] NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_AlanoClubProcucts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE [dbo].[AlanoClubProducts] ADD  CONSTRAINT [DF_AlanoClubProducts_NumberPerCase]  DEFAULT ((24)) FOR [ItemsPerCase]



/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/27/2025 11:57:36 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReportLastRan]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReportLastRan]


/****** Object:  Table [dbo].[AlanoClubReportLastRan]    Script Date: 10/27/2025 11:57:36 AM ******/


CREATE TABLE [dbo].[AlanoClubReportLastRan](
	[ID] [int]  NOT NULL,
	[DateReportLasrRan] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubReportLastRan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


/****** Object:  Table [dbo].[AlanoCLubTillSalesDeposit]    Script Date: 10/27/2025 11:58:21 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubTillSalesDeposit]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubTillSalesDeposit]


CREATE TABLE [dbo].[AlanoCLubTillSalesDeposit](
	[ID] [int]  NOT NULL,
	[DailyTotalSales] [float] NOT NULL,
	[TapeTotal] [float] NOT NULL,
	[Depsoit] [float] NOT NULL,
	[DateTillReceipt] [date] NOT NULL,
 CONSTRAINT [PK_AlanoCLubTillSalesDeposit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]








END
GO
