USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddUpdateAlanoClubUsers]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
create            PROCEDURE [dbo].[spAddUpdateAlanoClubUsers]
	@ID int
	,@MemberFirstName nvarchar(50)
	,@MemberLastName nvarchar(50)
	,@MemberEmail nvarchar(50)
	,@UserName nvarchar(50)
	,@MemberPhoneNumber nvarchar(50)
	,@PasswordHash nvarchar(50)
	,@IsAdmin bit
	,@Salt nvarchar(50)
	,@IsActiveMember bit
	,@UserPasswordReversed nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(@ID=0)
	begin
    -- Insert statements for procedure here
	iNSERT INTO [dbo].[AlanoClubUsers]
           ([UserFirstName]
           ,[UserLastName]
           ,[UserEmailAddress]
           ,[UserName]
		   ,[UserPhoneNumber]
           ,[UserPassword]
		   ,[UserPasswordReversed]
           ,[DateLastLoggedIn]
           ,[Salt]
           ,[IsAdmin]
		   ,[IsActive])
     VALUES
           (@MemberFirstName
           ,@MemberLastName
           ,@MemberEmail
           ,@UserName
		   ,@MemberPhoneNumber
           ,@PasswordHash
		   ,@UserPasswordReversed
           ,GETDATE()
           ,@Salt
           ,@IsAdmin
		   ,@IsActiveMember);
		   end
else
begin
	UPDATE [dbo].[AlanoClubUsers]
   SET [UserFirstName] =@MemberFirstName 
      ,[UserLastName] = @MemberLastName
      ,[UserEmailAddress] = @MemberEmail 
      ,[UserName] = @UserName
      ,[UserPhoneNumber] = @MemberPhoneNumber
      ,[DateLastLoggedIn] = GETDATE()
      ,[IsAdmin] = @IsAdmin
      ,[IsActive] = @IsActiveMember
 WHERE ID=@ID
end
END
GO
