USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spALanoClubRePrintInventory]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spALanoClubRePrintInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@Date date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
  set @jsonResult=( SELECT 
	ap.id as ID
	,inv.[Quanity] as Quantity
      ,ap.[ProductName] as ProductName
      
      ,[InStock] as InStock
      ,[ItemsSold] as ItemsSold
      ,[InventoryCurrent] as InventoryCurrent
      ,(InStock-InventoryCurrent) as NewCount
  FROM [dbo].[AlanoCLubInventory] inv join [dbo].[AlanoClubProducts] ap on inv.[ProductID] = ap.ID 
  where (FORMAT(inv.DateInventory,'yyyy-MM-dd') = FORMAT(@Date,'yyyy-MM-dd')) 
    for json path);
   select @jsonResult as JsonRes;


END
GO
