USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAddEditDeleteAlconCLubOtherInventory]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAddEditDeleteAlconCLubOtherInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	@ID int,
	@CategoryID int,
	@ProductName nvarchar(50),
	@Quantity int,
	@Price int,
	@Delete bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if(@Delete = 1)
	begin
	DELETE FROM [dbo].[AlanoClubOtherProcucts]
	where ID=@ID;
	end

	else iF EXISTS (SELECT * FROM AlanoClubOtherProcucts WHERE ID=@ID)
	begin
		UPDATE [dbo].[AlanoClubOtherProcucts]
		SET [CategoryID] = @CategoryID
			,[ProductName] = @ProductName
			,[Quantity] = @Quantity
			,[Price] = @Price
     		where ID=@ID;

	end
	else
	begin
    -- Insert statements for  or alter  PROCEDURE here
	INSERT INTO [dbo].[AlanoClubOtherProcucts]
           ([CategoryID]
           ,[ProductName]
           ,[Quantity]
           ,[Price])
     VALUES
           (@CategoryID
           ,@ProductName
           ,@Quantity
           ,@Price);
		   end
END
GO
