USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportItemsSoldByMonth]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubReportItemsSoldByMonth]
@StartMonthYear date
,@EndMonthYear date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT   rec.[ID] as ID
	--,format(rec.DateTillReceipt,'MM-dd-yyyy HH:mm:ss') as  DateCreated 
	,rec.DateTillReceipt  DateCreated 
	,cat.CategoryName as CategoryName
	 ,format(rec.DailyProductTotal,'N2') as DailyProductTotal
	 ,FORMAT([MemberPrice], 'N2') as ClubPrice
 	,FORMAT([NonMemberPrice],'N2') as ClubNonMemberPrice
 
	 ,ap.[ProductName] as ProductName
 	,ap.[BarItem] as BarItem
     ,[MemberITems]  as TotalMemberSold
      ,[NonMemberITems] as TotalNonMemberSold 
       ,cat.ID as CategoryID
	,format((rec.[MemberPrice]*rec.[MemberITems]), 'N2') as MemBerPriceTotal
	,FORMAT((rec.[NonMemberPrice]*rec.[NonMemberITems]), 'N2') as NonMemBerPriceTotal
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ProductID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
 --where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
  --(FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
  where (FORMAT([DateTillReceipt], 'MM-yyyy') >= FORMAT(@StartMonthYear, 'MM-yyyy'))
  and (FORMAT([DateTillReceipt], 'MM-yyyy') <= FORMAT(@EndMonthYear, 'MM-yyyy'))
  order by  DateTillReceipt
 -- FOR JSON path;
END
GO
