USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spDropCreateRecTables]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spDropCreateRecTables]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SET QUOTED_IDENTIFIER ON

	IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubPaidDues]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubPaidDues]

CREATE TABLE [dbo].[AlanoClubPaidDues](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[NumberMonthsDues] [int] NOT NULL,
	[DatePaid] [date] NOT NULL,
 CONSTRAINT [PK_AlanoClubPaidDues] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceiptDesc]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceiptDesc]

CREATE TABLE [dbo].[AlanoClubReceiptDesc](
	[ReceiptNumber] [int]  NOT NULL,
	[ReceiptDesc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_AlanoClubReceiptDesc] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptNumber]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptNumber]

CREATE TABLE [dbo].[AlanoCLubReceiptNumber](
	[ReceiptNumber] [int] IDENTITY(1000,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[RecivedBY] [nvarchar](4) NOT NULL,
	[DatePaid] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AlanoClubrRceiptNumber] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoClubReceipts]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoClubReceipts]

CREATE TABLE [dbo].[AlanoClubReceipts](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptDescID] [int] NOT NULL,
	[Quanity] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]

IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AlanoCLubReceiptSignature]') AND type in (N'U'))
DROP TABLE [dbo].[AlanoCLubReceiptSignature]
CREATE TABLE [dbo].[AlanoCLubReceiptSignature](
	[ID] [int]  NOT NULL,
	[ReceiptNumber] [int] NOT NULL,
	[ReceiptSignature] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_AlanoCLubReceiptSignature] PRIMARY KEY CLUSTERED 
(
	[ReceiptNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]




    -- Insert statements for procedure here
	 
END
GO
