USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUserPassword]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spUpdateUserPassword]
	-- Add the parameters for the stored procedure here
@ID int
	
	,@PasswordHash nvarchar(50)
	
	,@Salt nvarchar(50)
	
	,@UserPasswordReversed nvarchar(50)AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[AlanoClubUsers]
   SET 
      
      
      
      [UserPassword] = @PasswordHash
      ,[UserPasswordReversed] = @UserPasswordReversed
      
      ,[Salt] = @Salt
      
 WHERE ID=@ID
END
GO
