USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetDateReoprtLastRan]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetDateReoprtLastRan]
	-- Add the parameters for the stored  or alter  PROCEDURE here
@ID int	
,@RepEDate date = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	if(@ID = 0)
	begin
	   select  DateReportLasrRan as DateReportLasrRan
		FROM [dbo].[AlanoClubReportLastRan];
	end
	else if (@ID = 1)
	begin
	 
	select MIn([DateTillReceipt]) as MinDate,MAX([DateTillReceipt]) as MaxDate
	from [dbo].[AlanoCLubDailyTillReceipts];
	end
	else
	begin
	if (EXISTS(select 1 from [dbo].[AlanoClubReportLastRan]))
	begin
			uPDATE [dbo].[AlanoClubReportLastRan]
			SET [DateReportLasrRan] = @RepEDate;
		end
 else
 begin
 iNSERT INTO [dbo].[AlanoClubReportLastRan]
           ([DateReportLasrRan])
     VALUES
           (@RepEDate);
	end
	end
END
GO
