USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spAlanoCLubCurrentInventory]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spAlanoCLubCurrentInventory]
@ID int
,@Quantity int
,@QuanitySold int
,@InventoryCount int
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO [dbo].[AlanoClubCurrentInventory]
           ([ProductID]
           ,[QuanityStock]
           ,[QuanitySold]
           ,[InventoryCount]
           ,[InventoryDate])
     VALUES
           (@ID
           ,@Quantity
           ,@QuanitySold
           ,@InventoryCount
           ,@DateTillReceipt);
END
GO
