USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubCurrentInventory]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubCurrentInventory]
	-- Add the parameters for the stored  or alter  PROCEDURE here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	 DECLARE @jsonResult NVARCHAR(MAX);
	-- declare @invDate date;
	-- set @invDate = (SELECT       
		--		Max([DateInventory])
			--	FROM [AlanoClub].[dbo].[AlanoCLubInventory]
				--WHERE [DateInventory] IS not NULL);
--IF @invDate IS NULL
--begin
--set @invDate = GETDATE()
--end
				-- Insert statements for  or alter  PROCEDURE here
set @jsonResult=(SELECT 
  
ap.ID,
ap.ProductName as ProductName
,ap.Quantity as Quantity
 ,ap.Quantity - sum([MemberITems]+[NonMemberITems])   as InStock
	 , sum([MemberITems]+[NonMemberITems]) as ItemsSold
      
      
   FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] ar full outer JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
   where InventoryItem=1 and ar.InventorySales = 0
   --FULL OUTER JOIN [AlanoClub].[dbo].[AlanoClubProducts] pro on ap.ProductName=ap.ProductName
  --FULL OUTER JOIN   AlanoClubProducts  ap on  ar.ProductID =ap.ID  
  group by ap.ID,ap.ProductName , ap.Quantity 
  order by ap.ProductName desc
  for json path);
   select @jsonResult as JsonRes
END
GO
