USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubReportnojson]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE         PROCEDURE [dbo].[spGetAlanoCLubReportnojson]
@RepSDate date
,@RepEDate date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	SELECT   rec.[ID] as ID
      ,[ProductID] as AlanoClubProductID
      ,[MemberITems]  as TotalMemberSold
      ,[MemberPrice] as ClubPrice
      ,[NonMemberITems] as TotalNonMemberSold
      ,[NonMemberPrice] as ClubNonMemberPrice
      ,[DailyProductTotal] as DailyProductTotal
      ,rec.[DateTillReceipt] as  DateCreated 
	  ,ap.[ProductName] as ProductName
      ,cat.[BarItem] as BarItem
	  ,cat.CategoryName as CategoryName
  FROM [AlanoClub].[dbo].[AlanoCLubDailyTillReceipts] rec join [dbo].[AlanoClubProducts] ap on rec.ID=ap.id
  join AlanoClubCategories cat on ap.CategoryID=cat.ID
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd'))  between (FORMAT(@RepSDate,'yyyy-MM-dd')) and (FORMAT(@RepEDate,'yyyy-MM-dd'))
 --where ([DateTillReceipt] >= @RepSDate) and ([DateTillReceipt] <= @RepEDate)
-- where (FORMAT([DateTillReceipt],'yyyy-MM-dd') >= FORMAT(@RepSDate,'yyyy-MM-dd')) and
-- (FORMAT([DateTillReceipt],'yyyy-MM-dd') <= FORMAT(@RepEDate,'yyyy-MM-dd'))
 
END
GO
