USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spUpDateAlanoClubTillSalesDept]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spUpDateAlanoClubTillSalesDept]
	-- Add the parameters for the stored procedure here
@ID int
,@DailyTotalSales money
,@TapeTotal money
,@Depsoit money
,@DateTillReceipt date
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].[AlanoCLubTillSalesDeposit]
   SET [DailyTotalSales] = @DailyTotalSales
      ,[TapeTotal] = @TapeTotal
      ,[Depsoit] = @Depsoit
      
 WHERE ID=@ID
END
GO
