USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spALanoCLubGetMembers]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spALanoCLubGetMembers]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @jsonResult NVARCHAR(MAX); 
    -- Insert statements for procedure here
	set @jsonResult = (select mid.[MemberID] as MemberID
      ,[MemberFirstName] as MemberFirstName
      ,[MemberLastName] as MemberLastName
      ,[MemberEmail] as MemberEmail
      ,[MemberPhoneNumber] as MemberPhoneNumber
      ,[IsActiveMember] as IsActiveMember
	  ,[IsBoardMember] as IsBoardMember
	  ,[SobrietyDate] as SobrietyDate
      
  FROM [AlanoClub].[dbo].[AlanoClubMembers] am join AlanoClubMemberID mid on am.[MemberID] = mid.ID
  order by mid.[MemberID]
   FOR JSON path);
	 select @jsonResult as JsonResuts
END
GO
