USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spCheckMemberIDNotUsed]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[spCheckMemberIDNotUsed]
	-- Add the parameters for the stored procedure here
@MemberID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select MemberID as MemberID from AlanoClubMemberID
	where MemberID=@MemberID;
END
GO
