USE [AlanoClub]
GO
/****** Object:  StoredProcedure [dbo].[spGetAlanoCLubTotalsTapeTill]    Script Date: 12/11/2025 12:59:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE        PROCEDURE [dbo].[spGetAlanoCLubTotalsTapeTill]
@Year int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for  or alter  PROCEDURE here
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	  DECLARE @jsonResult NVARCHAR(MAX);
    -- Insert statements for  or alter  PROCEDURE here
set @jsonResult=(	select
	format(sum([DailyTotalSales]),'N2') as DailyTillTotal
    ,format(sum([TapeTotal]),'N2') as DailyTillTape
	,FORMAT(sum([Depsoit]),'N2') as Depsoit
    ,DateTillReceipt as DateCreated      
     from  [dbo].[AlanoCLubTillSalesDeposit]
	 where DATEPART(YEAR, DateTillReceipt) = @Year
	 group by DateTillReceipt
	 order by DateCreated
	  FOR JSON PATH);
	select @jsonResult as JsonRes
END
GO
