<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--in seconds-->
    <add key="LogFolder" value="{AppDataFolder}\Local\EdocsSessionLog"/>
    <add key="ReStartScanquire" value="true"/>
    <add key="ReStartScanquireTime" value="19"/>
    <add key="StartTime" value="9"/>
    <add key="ProcessReStarted" value="false"/>
    <add key="ScanquireLogFile" value="{AppDataFolder}\Temp\e-Docs USA Inc\Scanquire\sessionlog.txt"/>
    <add key="ScanquireLogFileDestFolder" value="{AppDataFolder}\Local\ScanquireLogCopy"/>
    <add key="ScanquireExeFolder" value="C:\e-Docs USA\Scanquire 4"/>
    <add key="ScanquireExe" value="Scanquire.exe"/>
    <add key="DaysToKeepLogFiles" value="3"/>
    <add key="EmailServer" value="smtp.gmail.com"/>
    <add key="EmailFrom" value="AlertSender@edocsusa.com"/>
    <add key="EmailPassword" value="6746edocs"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailSubject" value="Scquire log file time ran {dateTime}"/>
    <add key="EmailTo" value="Dan.Roper@edocsusa.com"/>
    <add key="EmailCC" value=""/>
    <!--
    <add key="EmailCCBinMonitorChanges" value="tressa.orizotti@edocsusa.com"/>
    -->
  </appSettings>
</configuration>