
*.dll
*.pdb
*.cache
obj/Debug/ScanQuire_SendEmails.csproj.FileListAbsolute.txt
*.cache
*.dll
*.pdb
obj/Debug/ScanQuire_SendEmails.csproj.FileListAbsolute.txt
obj/Release/ScanQuire_SendEmails.csproj.FileListAbsolute.txt
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuire_SendEmails.dll
bin/Debug/ScanQuire_SendEmails.pdb
*.cache
obj/x86/Debug/ScanQuire_SendEmails.dll
obj/x86/Debug/ScanQuire_SendEmails.pdb
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/Newtonsoft.Json.dll
bin/Debug/Newtonsoft.Json.xml
bin/Debug/ScanQuire_SendEmails.dll
bin/Debug/ScanQuire_SendEmails.pdb
bin/Release/EdocsUSA.Utilities.dll
bin/Release/EdocsUSA.Utilities.pdb
bin/Release/ScanQuire_SendEmails.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ScanQuire_SendEmails.dll
obj/Release/build.force
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/ScanQuire_SendEmails.csproj.FileListAbsolute.txt
obj/Release/ScanQuire_SendEmails.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/ScanQuire_SendEmails.csproj.App.config
obj/x86/Debug/ScanQuire_SendEmails.csproj.AssemblyReference.cache
obj/x86/Debug/ScanQuire_SendEmails.csproj.CoreCompileInputs.cache
obj/x86/Debug/ScanQuire_SendEmails.dll
obj/x86/Debug/ScanQuire_SendEmails.pdb
*.cache
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuire_SendEmails.dll
obj/x86/Debug/ScanQuire_SendEmails.dll
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuire_SendEmails.dll
obj/Debug/ScanQuire_SendEmails.csproj.CoreCompileInputs.cache
obj/x86/Debug/ScanQuire_SendEmails.csproj.AssemblyReference.cache
obj/x86/Debug/ScanQuire_SendEmails.dll
bin/Debug/EdocsUSA.Utilities.dll
bin/Debug/EdocsUSA.Utilities.pdb
bin/Debug/ScanQuire_SendEmails.dll
obj/Debug/ScanQuire_SendEmails.dll
obj/Debug/ScanQuire_SendEmails.pdb
obj/x86/Debug/ScanQuire_SendEmails.csproj.AssemblyReference.cache
obj/x86/Debug/ScanQuire_SendEmails.csproj.FileListAbsolute.txt
obj/x86/Debug/ScanQuire_SendEmails.dll
