
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.cache
*.dll
*.cache
*.dll
*.cache
*.dll
*.cache
*.dll
*.exe
*.pdb
*.cache
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Debug/Scanquire.Public.dll
Scanquire.Public/bin/Debug/Scanquire.Public.pdb
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Public/bin/Debug/ScanquireLogin.dll
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/Config/Archivers/e-Docs Work Flow.xml
Scanquire/bin/Debug/Edocs.WorkFlow.Archiver.dll.config
Scanquire/bin/Debug/EdocsUSA.Utilities.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Debug/Scanquire.exe
Scanquire/bin/Debug/Scanquire.pdb
Scanquire/bin/Debug/Scanquire.Public.dll
Scanquire/bin/Debug/Scanquire.Public.pdb
Scanquire/bin/Debug/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/ScanQuire_SendEmails.dll
Scanquire/bin/Debug/ScanquireLogin.dll
Scanquire/bin/Debug/ScanQuireSqlCmds.dll
Scanquire/bin/Debug/System.Net.Http.dll
Scanquire/bin/Release/Config/Archivers/e-Docs Work Flow.xml
Scanquire/obj/x86/Debug/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Debug/Scanquire.exe
Scanquire/obj/x86/Debug/Scanquire.pdb
*.cache
Scanquire/bin/Debug/labrecs/nyplabreqs/DOH/2022-02-02/56fcd569-a1be-45f9-8107-7e0d32f41ef0/1f023a08-f245-48ef-be7b-63350fb1569b.pdf
Scanquire/bin/Debug/labrecs/nyplabreqs/DOH/2022-02-02/953dec4b-317e-41e4-b188-8b3950a8d2de/7a07d9ae-9b22-4ae5-9427-3bb566c8e9db.pdf
Scanquire/bin/Debug/labrecs/nyplabreqs/DOH/2022-02-02/a6638e56-84bd-4bf4-884e-3d4b10451d6e/7305e12a-5400-41c5-8613-1c2194fafc3a.pdf
Scanquire/bin/Debug/labrecs/nyplabreqs/specimenRejections/2022-02-02/02bc35c3-bc05-4d53-84f0-2da41593bbf8/28d4f62f-2417-468c-965b-b043148e1911.pdf
Scanquire/bin/Debug/labrecs/nyplabreqs/specimenRejections/2022-02-02/c6aa1489-d681-46d2-97b1-aa0e610c035c/00b7a2be-2024-4875-9fac-b1048c258e9d.pdf
Scanquire/bin/Debug/labrecs/nyplabreqs/specimenRejections/2022-02-02/f1dfe872-8bb5-4276-b78f-d46896a332c7/64fc2e31-b0b6-45da-b787-74ad358988ac.pdf
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Debug/Scanquire.Public.dll
Scanquire.Public/bin/Debug/Scanquire.Public.pdb
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
.vs/Scanquire/v16/.suo
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Debug/Scanquire.Public.dll
Scanquire.Public/bin/Debug/Scanquire.Public.pdb
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Public/bin/Debug/ScanquireLogin.dll
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.csproj.FileListAbsolute.txt
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/Config/Archivers/NYP - DR CODE.xml
Scanquire/bin/Debug/Config/Archivers/NYP - SPECIMEN REJECTION.xml
Scanquire/bin/Debug/Config/Command Readers/NYP LAB REQS.xml
Scanquire/bin/Debug/Edocs.Pdf.Converter.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Debug/Scanquire.exe
Scanquire/bin/Debug/Scanquire.pdb
Scanquire/bin/Debug/Scanquire.Public.dll
Scanquire/bin/Debug/Scanquire.Public.pdb
Scanquire/bin/Debug/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/ScanQuire_SendEmails.dll
Scanquire/bin/Debug/ScanquireLogin.dll
Scanquire/bin/Debug/ScanQuireSqlCmds.dll
Scanquire/bin/Debug/System.Net.Http.dll
Scanquire/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.CoreCompileInputs.cache
Scanquire/obj/x86/Debug/Scanquire.exe
Scanquire/obj/x86/Debug/Scanquire.pdb
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.dll
Scanquire.Public/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire.Public/bin/Debug/Scanquire.Public.dll
Scanquire.Public/bin/Debug/Scanquire.Public.pdb
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.Public/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.Public/bin/Debug/ScanQuire_SendEmails.dll
Scanquire.Public/bin/Debug/ScanquireLogin.dll
Scanquire.Public/bin/Debug/ScanQuireSqlCmds.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.csproj.FileListAbsolute.txt
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.dll
Scanquire.ThirdParty/obj/x86/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/Edocs.Pdf.Converter.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Debug/Scanquire.exe
Scanquire/bin/Debug/Scanquire.pdb
Scanquire/bin/Debug/Scanquire.Public.dll
Scanquire/bin/Debug/Scanquire.Public.pdb
Scanquire/bin/Debug/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/ScanQuire_SendEmails.dll
Scanquire/bin/Debug/ScanquireLogin.dll
Scanquire/bin/Debug/ScanQuireSqlCmds.dll
Scanquire/bin/Debug/System.Net.Http.dll
Scanquire/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.AssemblyReference.cache
Scanquire/obj/x86/Debug/Scanquire.csproj.CoreCompileInputs.cache
Scanquire/obj/x86/Debug/Scanquire.exe
Scanquire/obj/x86/Debug/Scanquire.pdb
*.dll
Scanquire.Public/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Scanquire.Public/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.AssemblyReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.CoreCompileInputs.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.FileListAbsolute.txt
Scanquire.Public/obj/x86/Debug/Scanquire.Public.csproj.ResolveComReference.cache
Scanquire.Public/obj/x86/Debug/Scanquire.Public.dll
Scanquire.Public/obj/x86/Debug/Scanquire.Public.pdb
Scanquire.Public/obj/x86/Debug/TempPE/Icons.Designer.cs.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.dll
Scanquire/bin/Debug/EdocsUSA.Utilities.pdb
Scanquire/bin/Debug/FFMPEG/bin/presets/ffprobe.xsd
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-1080p.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-1080p50_60.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-360p.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-720p.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-720p50_60.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libvpx-ultrafast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-baseline.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-fast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-fast_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-faster.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-faster_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-ipod320.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-ipod640.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_fast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_max.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_medium.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_slow.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_slower.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-lossless_ultrafast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-main.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-medium.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-medium_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-placebo.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-placebo_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-slow.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-slow_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-slower.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-slower_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-superfast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-superfast_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-ultrafast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-ultrafast_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-veryfast.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-veryfast_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-veryslow.ffpreset
Scanquire/bin/Debug/FFMPEG/bin/presets/libx264-veryslow_firstpass.ffpreset
Scanquire/bin/Debug/FFMPEG/Edocs.Convert.Viedos.Images.exe.config
Scanquire/bin/Debug/FFMPEG/Newtonsoft.Json.xml
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.dll
Scanquire/bin/Debug/Scanquire.Clients.NYP.HIPAA.pdb
Scanquire/bin/Debug/Scanquire.exe
Scanquire/bin/Debug/Scanquire.exe.config
Scanquire/bin/Debug/Scanquire.pdb
Scanquire/bin/Debug/Scanquire.Public.dll
Scanquire/bin/Debug/Scanquire.Public.pdb
Scanquire/bin/Debug/Scanquire.ThirdParty.dll
Scanquire/bin/Debug/Scanquire.ThirdParty.pdb
Scanquire/bin/Debug/ScanQuire_SendEmails.dll
Scanquire/bin/Debug/ScanquireLogin.dll
Scanquire/bin/Debug/ScanQuireSqlCmds.dll
Scanquire/bin/Debug/System.Net.Http.dll
Scanquire/bin/Release/FFMPEG/bin/presets/ffprobe.xsd
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-1080p.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-1080p50_60.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-360p.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-720p.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-720p50_60.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libvpx-ultrafast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-baseline.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-fast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-fast_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-faster.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-faster_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-ipod320.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-ipod640.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_fast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_max.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_medium.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_slow.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_slower.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-lossless_ultrafast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-main.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-medium.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-medium_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-placebo.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-placebo_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-slow.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-slow_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-slower.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-slower_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-superfast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-superfast_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-ultrafast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-ultrafast_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-veryfast.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-veryfast_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-veryslow.ffpreset
Scanquire/bin/Release/FFMPEG/bin/presets/libx264-veryslow_firstpass.ffpreset
Scanquire/bin/Release/FFMPEG/Edocs.Convert.Viedos.Images.exe.config
Scanquire/bin/Release/FFMPEG/Newtonsoft.Json.xml
