/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #f0f0f0;
}
.footer {
  position:absolute;
  bottom:0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */

}
.marginTop{
    margin-top:100px;
}
.flexrow {
    
    display:flex;
}

.flexcolumn {
    flex: 25%;
    padding: 10px;
}

.binOpen {
    background-color:blue;
    font:bold;
}
.left {
    margin-top:0px;
    position: relative;
    float: left;
    width: 200px;
    height: 100%;
    /*
    background-color: lightblue;
        */
}

.middle {
    float:left;
    position: relative;
    margin-top:0;
    
    margin-left:10px;
    height: 100%;
    /*
    background-color: aqua;
        */
}
.right {
    position: relative;
    float: left;
    margin-top: 0px;
    margin-left: 15px;
    height: 100%;
    /*
    background-color: gold;
        */
}
.colum {
    float: left;
    width: 33.33%;
}
.twocolum {
    float: left;
    width: 50%;
}
.row::after{
    content:"";
    display:table;
    clear:both;
}
@media screen and (max-width:600px){
    .colum{
        width:100%;
    }
}
.margionZero
{
    margin:0;
}
.categoryheader
{
    background-color:Highlight;
}
.fontSize
{
    font-size:inherit;
}

 
.inlineblock
{
    display:inline-block;
}
.whitepsace 
{

    white-space:pre-line;
}
.overflow {
    overflow-y:visible;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}
.divHide {
    display: none;
}
.divShow {
    display:normal;
}
.categoryheaderProblem{
    background-color:red;
}
.categoryheaderReady {
    background-color:lightgreen;
}
.categoryheaderRountine {
    background-color: orange;
}
.categoryheaderStat {
    background-color: yellow;
}
.categoryheaderOrdered {
    background-color:lightblue;
}
.categoryheaderQa {
    background-color: #7A5DC7;
}
.categoryheaderTimed {
    background-color:pink;
}
.recBox{
    width:10px;
    height:10px;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .8;
}

.loading {
    font-family: Arial;
    font-size: 10pt;
    border: 5px solid #67CFF5;
    width: 200px;
    height: 100px;
    display: none;
    position: fixed;
    background-color: White;
    z-index: 999;
}

p.a {
    white-space: nowrap;
}

p.b {
    white-space: normal;
}

p.c {
    white-space: pre;
}