<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="WorkingFolder" value="{ApplicationDir}\WF\" />
    <add key="LogFile" value="{ApplicationDir}\LogFile" />
    <add key="OCRAPIKey" value="OCRP8398898A" />
    <add key="OCRAPIFreeKey" value="ca3780ed7488957" />
    <add key="OCRAPIURL" value="https://apipro1.ocr.space/parse/image" />
    <add key="OCRAPIURLFreeKey" value="https://api.ocr.space/Parse/Image" />
  </appSettings>
</configuration>