<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Edocs.Libaray.AzureCloud.Upload.Batches.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Edocs.Libaray.AzureCloud.Upload.Batches.Properties.Settings>
      <setting name="ArchivesFolder" serializeAs="String">
        <value>d:\Archives\NYP\</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>{ApplicationDir}\Local\EdocsAzureCloudUploadLogs\</value>
      </setting>
      <setting name="AuditLogs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DaysToKeepLogFiles" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EdocsSupport" serializeAs="String">
        <value>Call e-Docs USA support @(406)-490-8968 and tell them batchid:{bid} did not upload to Azure Cloud.</value>
      </setting>
      <setting name="LoopNotifyUser" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ThreadSleepSeconds" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="SendEmailErrorsOnly" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MakeCopyUploadImage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UploadedImagesCopyFolder" serializeAs="String">
        <value>L:\Archives\Lab_Req_Copy\</value>
      </setting>
      <setting name="JsonFilesBackUpFolder" serializeAs="String">
        <value>L:\Archives\JsonFIlesBackUp\</value>
      </setting>
      <setting name="DaysToKeepCopyFolder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AzureBlobAccountName" serializeAs="String">
        <value>edocsnypstorageprod</value>
      </setting>
      <setting name="AzureBlobAccountKey" serializeAs="String">
        <value>XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==</value>
      </setting>
      <setting name="AzureBlobStorageConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=edocsnypstorageprod;AccountKey=XNvT1ZL9JwsPLtI/AXGu8pJ7aGtkcaU5GoF6ibbzJ0RTuU5reUqdquOqJEyohAeNFZDjoAxM/tEVQNyR1g5kCg==;EndpointSuffix=core.windows.net</value>
      </setting>
      <setting name="DateTimeMins" serializeAs="String">
        <value>-6</value>
      </setting>
      <setting name="ThreadSleep" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="LoopRetryUpLoad" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CompressPDF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JsonFilesFolder" serializeAs="String">
        <value>d:\Archives\JsonFIlesBackUp\</value>
      </setting>
      <setting name="BackUpImagesCopyFolder" serializeAs="String">
        <value>d:\Archives\Lab_Req_Copy\</value>
      </setting>
      <setting name="ArchivesFolderArchiverName" serializeAs="String">
        <value>d:\Archives\{ArchiverName}\</value>
      </setting>
      <setting name="OcrLabReqsContainer" serializeAs="String">
        <value>ocr-labreqs</value>
      </setting>
      <setting name="EdocsWebApi" serializeAs="String">
        <value>http://localhost:5551/api/</value>
      </setting>
      <setting name="UpLoadAzureCloud" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveOcrFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteBatchOnSuccess" serializeAs="String">
        <value>True</value>
      </setting>
    </Edocs.Libaray.AzureCloud.Upload.Batches.Properties.Settings>
  </applicationSettings>
</configuration>