@page
@model IndexModel

@{
    ViewBag.Title = "About";
}


<h1 class="text-center">About</h1>
<div class="row justify-content-center">
    <div class="border">
        <p>NYP L8 BinMonitor</p>
        <p>(C) e-Docs USA 2019</p>
        <p class="inlineblock">Version:</p> <text disabled class="border-dark alert-info inlineblock">1.0.0.0</text>
    </div>
</div>
<p class="p-lg-5"></p>
<div class="text-center"><a href="http://edocsusa.com/" target="_blank"> <img align="middle" src="~/Images/logo_black_v2.png"  /></a></div>