@page
@model IndexModel

@{
    ViewBag.Title = "Contact";
}
<h2 class="text-center">@ViewBag.Title</h2>
<h3 class="text-center">@ViewBag.Message</h3>

<div class="container text-center">
    <address>
        Bryan Deguzman<br />
        NYP Outreach Lab<br />
        <strong>NYP Support: </strong><abbr title="Office Phone">(o:) </abbr>
        212-746-7639
        </br>
        <abbr title="NYP Outreach Lab Email">(e:)</abbr> <a href="mailto:brd9098@nyp.org">brd9098@nyp.org</a><br />
    </address>
    <p class="pb-4"></p>
    <address>
        Chris Barrow<br />
        NYP Outreach Lab<br />
        <strong>NYP Support: </strong><abbr title="Office Phone">(o:) </abbr> 212-746-7639
        </br>
        <abbr title="NYP Outreach Lab Email">(e:) </abbr> <a href="mailto:chb9212@nyp.org">chb9212@nyp.org</a><br />
    </address>
    <p class="pb-4"></p>
    <address>
        Dan Roper<br />
        e-Docs USA<br />
        <strong>e-Docs Support:</strong> <abbr title="Support Phone">(t:)</abbr>
        406-565-3465
        </br>
        <abbr title="Support Email">(e:) </abbr> <a href="mailto:dan.roper@edocsusa.com">dan.roper@edocsusa.com</a><br />
    </address>
</div>
<p class="p-lg-5"></p>
<div class="text-center"><a href="http://edocsusa.com/" target="_blank"> <img align="middle" src="~/Images/logo_black_v2.png" /></a></div>

