@page
@model Edocs.Employees.Time.Clock.App.Service.Partial_Pages.ClockInOutEmpViewModel
@{
    Layout = null;
}
<head>
    <script src="~/js/site.js" asp-append-version="true"></script>




</head>
<html>
<p id="Message" name="Message">@Model.RetMess</p>
<body>
</body>
</html>