@page
@model Edocs.Employees.Time.Clock.App.Service.Pages.Partial_Pages.TimeCardAddNewEntryViewModel
@{
}
<head>



</head>
<html>
<p id="Message" name="Message">@Model.RetMess</p>
<body>
</body>
</html>