
DemoArchivers/obj/x86/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
DemoArchivers/obj/x86/Debug/DemoArchivers.csproj.AssemblyReference.cache
DemoArchivers/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
Testing/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Testing/obj/Debug/Testing.csproj.AssemblyReference.cache
