<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Minspace is in gb
    <add key="LogFolder" value="C:\ProgramData\e-Docs USA\AuditLogs\" />
    <add key="LogUpLoadFolder" value="C:\ProgramData\e-Docs USA\AuditLogsUpload\" />
    -->
    
    <add key="LogFolder" value="D:\Archives\RestartScanQuire\" />
    <add key="LogUpLoadFolder" value="" />
  </appSettings>
</configuration>