@page
@model BinMonitorAppService.EdocsManuelModel
@{
    ViewData["Title"] = "EdocsManuel";
       Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center text-info">BinMonitor User Manuel</h1>

