<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
 
  <appSettings>
  <!--
   <add key="FfmpegExeParamViedoToImages" value="-i {ViedoName} -r 1 -s 1920x1080 {ImageFolder}{ImageName}%d{ImageExten}"/>

   -r 30 -s 1920x1080 -start_number 0 -i "L:\FFMpeg\FFMpegSharp.Tests\bin\Debug\Resources\images\%09d.png" -vframes 90 -codec:v libx264 -pix_fmt yuv420p "L:\FFMpeg\FFMpegSharp.Tests\bin\Debug\Resources\images\output.mp4"
    <add key="FfmpegExeParamViedoToImages" value="-i {ViedoName} -r 1/5 -s 1920x1080 {ImageFolder}{ImageName}%d{ImageExten}"/>
  -->
    <add key="ImageFolder" value="D:\Archives\ScanQuireSavedImages\ImagesVieodConverted"/>
    <add key="ViewFolder" value="D:\Archives\ScanQuireSavedImages\ViewFolder"/>
    <add key="ViedoCreateFolder" value="D:\Archives\ScanQuireSavedImages\ViedoCreateFolder"/>
    <add key="ImageWFFolder" value="D:\Archives\ScanQuireSavedImages\WF"/>
    <add key="FfmpegExe" value="bin\{Archx64x86}\ffmpeg.exe"/>
    <add key="ImageSizeViedoWidth" value="1920"/>
    <add key="ImageSizeViedoHeight" value="1080"/>
    <add key="FfmpegExeParamViedoToImages" value="-i {ViedoName} -r 1/5 -s 1920x1080 {ImageFolder}{ImageName}%d{ImageExten}"/>
    <add key="FfmpegExeParamIagesToViedo" value="-f image2 -i {ImageFolder}{ImageName}%d{ImageExten} {ViedoName}"/>
</appSettings>
</configuration>
