@page
@model EditPDF.Pages.PDF.EditPDFModel
<!--@using RadPdfNet5Demo
@using RadPdf.Web.UI;
@namespace RadPdfNet5Demo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Basic Example";

    // Get web control from ViewBag
    PdfWebControlLite pdfWebControl1 = ViewData["PdfWebControl1"] as PdfWebControlLite;

    // Set control's properties
    pdfWebControl1.ID = "PdfWebControl1"; // Important if Client API is to be used!
    pdfWebControl1.Height = "600px";
    pdfWebControl1.Width = "100%";
}
<h2>Basic</h2>-->

@* Render web control to body *@
<!--@Html.Raw(RadPdf.Web.UI.PdfWebControlLite.RenderHead())-->