@page
@model IndexModel
@{
    ViewData["Title"] = "e-Docs Home page Demo System";
}

<div class="container-fluid">
    <div class="text-center"><img align="middle" src="~/img/edocs logo.gif" style="margin:0 auto;width:250px;height:125px;" /></div>
    <p class="p-3"></p>
    <div class="text-center">
        <h1 class="display-4">e-Docs Demo System</h1>
    </div>

    <p class="p-1"></p>
    <div class="text-left">

        <h2 class="alert-heading text-left">Confidentiality Notice</h2>
        <p class="text-info border">
            The information in this system at e-Docs USA is confidential and access is restricted to employees only. The information in use is on a need-to-know basis. Unauthorized or improper use of the system or the confidential information may result in dismissal and civil… and/or criminal penalties. Your actions are being monitored while logged in and you are responsible for your actions while logged in. Your user name and password are used to uniquely identify you. You are responsible for any actions taken under your user account.
        </p>
    </div>
    <p class="p-lg-1"></p>
    <div class="text-center"><a href="http://edocsusa.com/" target="_blank"> <img align="middle" src="~/img/logo_black_v2.png" /></a></div>
</div>
